
@{
    ViewBag.Title = "PartialView";
}


<div class="uk-modal" id="select-customer" aria-hidden="true" >
    <div class="uk-modal-dialog uk-modal-dialog-large" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">@Sales.SelectCustomer<i class="material-icons"></i></h3>
        </div>
        <table id="customer-list" width="100%" class="uk-table" cellspacing="0">
            <thead>
                <tr>
                    <th class="width-30">@Common.SerialNo</th>
                    <th class="width-30"></th>
                    <th class="width-60">@Sales.CustomerCode</th>
                    <th class="width-200">@Sales.Customer</th>
                    <th class="width-200">@Sales.Address</th>
                    <th class="width-80">@Masters.CustomerCategory</th>
                    <th class="width-120">@Masters.Landline</th>
                    <th class="width-80">@Masters.Mobile</th>
                </tr>
                </tr>
            </thead>
            <thead class="search">
                <tr>
                    <th>@Common.SerialNo</th>
                    <th></th>
                    <th>@Sales.CustomerCode</th>
                    <th>@Sales.Customer</th>
                    <th>@Sales.Address</th>
                    <th>@Masters.CustomerCategory</th>
                    <th>@Masters.Landline</th>
                    <th>@Masters.Mobile</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-primary uk-modal-close" id="btnOKCustomer">Ok</button>
        </div>
    </div>
</div>


