@model TradeSuiteApp.Web.Areas.AHCMS.Models.RoomReservationModel
@{
    ViewBag.Title = "Form";
}
<div class="section-group">
    <div class="uk-form-row">
        <div class="uk-width-medium-1-1">
            <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-medium-1-10">
                    <div class="uk-input-group">
                        <label>@AHCMS.AdmissionDate*</label>
                        @Html.TextBoxFor(m => m.AdmissionDate, new { @class = "md-input label-fixed  date future-date", @disabled = "disabled" })
                    </div>
                </div>
                <div class="uk-width-medium-1-5">
                    <label>@AHCMS.Patient</label>
                    @Html.TextBoxFor(m => m.PatientName, new { @class = "md-input label-fixed", @disabled = "disabled" })
                    @Html.HiddenFor(m => m.AppointmentProcessID)
                    @Html.HiddenFor(m => m.PatientID)
                    @Html.HiddenFor(m => m.DoctorID)
                    @Html.HiddenFor(m => m.ReservationID)
                    @Html.HiddenFor(m => m.RoomStatusID)
                    @Html.HiddenFor(m => m.IPID)
                </div>
                <div class="uk-width-medium-1-10">
                    <label>@AHCMS.ByStander</label>
                    @Html.TextBoxFor(m => m.ByStander, new { @class = "md-input label-fixed", @disabled = "disabled" })
                </div>
                <div class="uk-width-medium-1-6">
                    <label>@AHCMS.MobileNumber</label>
                    @Html.TextBoxFor(m => m.MobileNumber, new { @class = "md-input label-fixed", @disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-group">
    <div class="uk-form-row">
        <div class="uk-width-medium-1-1">
            <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-medium-1-10">
                    <div class="uk-input-group">
                        <label>@AHCMS.RoomChangeDate*</label>
                        @Html.TextBoxFor(m => m.RoomChangeDate, new { @class = "md-input label-fixed  date future-date" })
                        <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar future-date"></i></span>
                    </div>
                </div>
                <div class="uk-width-medium-1-10">
                    <div class="uk-input-group">
                        <label>@AHCMS.AdmissionDateTill*</label>
                        @Html.TextBoxFor(m => m.AdmissionDateTill, new { @class = "md-input label-fixed  date future-date" })
                        <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar future-date"></i></span>
                    </div>
                </div>
                <div class="uk-width-medium-1-10">
                    <label>@AHCMS.RoomType<span>*</span></label>
                    @Html.DropDownListFor(Model => Model.RoomTypeID, Model.RoomTypeList, "Select", new { @class = "md-input label-fixed" })
                </div>
                @*<div class="uk-width-medium-1-10">
                    <label>@AHCMS.AvailableRooms*</label>
                    @Html.DropDownListFor(Model => Model.RoomID, Model.RoomList, "Select", new { @class = "md-input label-fixed" })
                </div>*@
                <div class="uk-width-medium-1-10">
                    <label>@AHCMS.AvailableRooms*</label>
                    <select id="RoomID" class="md-input label-fixed Room">
                        <option>Select</option>
                    </select>
                </div>
                <div class="uk-width-medium-1-10">
                    <label>@AHCMS.Rate</label>
                    @Html.TextBoxFor(m => m.Rate, new { @class = "md-input label-fixed mask-positive-currency", @disabled = "disabled" })
                </div>
                <div class="uk-grid-width-medium-1-10">
                    <div class="md-input-wrapper md-input-filled">
                        <label>&nbsp;</label>
                        <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="btnAddItems">@Common.Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-form-row">
    <div>
        <table id="room-allocation-details-list" class="uk-table" cellspacing="0">
            <thead>
                <tr>
                    <th class="width-10">@Common.SerialNo</th>
                    <th class="width-120">@AHCMS.StartDate</th>
                    <th class="width-120">@AHCMS.EndDate</th>
                    <th class="width-150">@AHCMS.RoomType</th>
                    <th class="width-90">@AHCMS.Room</th>
                    <th class="width-120">@AHCMS.Rate</th>
                </tr>
            </thead>
            <tbody>
                @Html.Partial("~/Areas/AHCMS/Views/RoomChange/RoomAllocationDetails.cshtml", Model)
            </tbody>
        </table>
    </div>
</div>

@Scripts.Render("~/Js/Page/RoomChange")
<script type="text/javascript">
    RoomChange.init();
</script>






