
@model TradeSuiteApp.Web.Areas.AHCMS.Models.LabTestModel

<input type="button" id="show-add-patient" data-uk-modal="{target:'#add-patient', center:false}" />
<div class="uk-modal" id="add-patient" aria-hidden="true" style="display: none; overflow-y: scroll;">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Add Patient<i class="material-icons"></i></h3>
        </div>
        <div class="uk-modal-content">
            <div class="uk-form-row">
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-1-8">
                        <label>@Masters.Code</label>
                        @Html.TextBoxFor(m => m.Code, new { @class = "md-input label-fixed", @disabled = "disabled" })
                    </div>
                    <div class="uk-width-medium-1-4">
                        <label>@Masters.Name<span>*</span></label>
                        @Html.TextBoxFor(m => m.Name, new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-4">
                        <label>@Masters.GuardianName</label>
                        @Html.TextBoxFor(m => m.GuardianName, new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-8">
                        <div class="uk-input-group">
                            <label>@Masters.DOB</label>
                            @Html.TextBoxFor(m => m.DOB, new { @class = "md-input label-fixed  past-date date" })
                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-8">
                        <label>@Masters.Age</label>
                        @Html.TextBoxFor(m => m.Age, new { @class = "md-input label-fixed" })
                    </div>
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-1-8">
                        <label>@Masters.Gender <span>*</span></label>
                        @Html.DropDownListFor(Model => Model.Gender, new SelectList(Model.GenderList, "Value", "Text"), "Select", new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-8">
                        <label>@Masters.MaritalStatus </label>
                        @Html.DropDownListFor(Model => Model.MartialStatus, new SelectList(Model.MartialStatusList, "Value", "Text"), "Select", new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-8">
                        <label>@Masters.BloodGroup</label>
                        @Html.DropDownListFor(Model => Model.BloodGroupID, new SelectList(Model.BloodGroupList, "Value", "Text"), "Select", new { @class = "md-input label-fixed" })
                    </div>     
                    <div class="uk-width-medium-1-4">
                        <label>@Masters.Occupation</label>
                        @Html.DropDownListFor(Model => Model.OccupationID, Model.OccupationList, "Select", new { @class = "md-input label-fixed" })
                    </div>              
                    <div class="uk-width-medium-1-4">
                        <label>@Masters.AddressLine1</label>
                        @Html.TextBoxFor(m => m.AddressLine1, new { @class = "md-input label-fixed" })
                    </div>                    
                </div>
            </div>

            <div class="uk-form-row">
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-1-4">
                        <label>@Masters.AddressLine2</label>
                        @Html.TextBoxFor(m => m.AddressLine2, new { @class = "md-input label-fixed" })
                    </div>                   
                    <div class="uk-width-medium-1-8">
                        <label>@Masters.Country</label>
                        @Html.DropDownListFor(Model => Model.CountryID, Model.CountryList, new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-8">
                        <label>@Masters.States</label>
                        @Html.DropDownListFor(Model => Model.StateID, Model.StateList, "Select", new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-8">
                        <label>@Masters.District</label>
                        <select id="DistrictID" class="md-input label-fixed District">
                            <option>Select</option>
                        </select>
                    </div>
                    <div class="uk-width-medium-1-8">
                        <label>@Masters.PIN</label>
                        @Html.TextBoxFor(m => m.PinCode, new { @class = "md-input label-fixed" })
                    </div>                   
                    <div class="uk-width-medium-1-8">
                        <label>@Masters.MobileNo<span>*</span></label>
                        @Html.TextBoxFor(m => m.MobileNumber, new { @class = "md-input label-fixed", @maxlength = "30" })
                    </div>                                   
                </div>
            </div>

            <div class="uk-form-row">
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-1-4">
                        <label>@Masters.Email</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "md-input label-fixed" })
                    </div>    
                    <div class="uk-width-medium-1-8">                       
                        <label>@Masters.ReferenceThrough</label>
                        @Html.DropDownListFor(Model => Model.PatientReferedByID, new SelectList(Model.PatientReferedList, "Value", "Text"), "Select", new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-8">
                        <label>@Masters.ReferalContactNo</label>
                        @Html.TextBoxFor(m => m.ReferalContactNo, new { @class = "md-input label-fixed", @maxlength = "30" })
                    </div>                    
                    @if (Model.IsAllowPrivilegeCard)
                    {
                        <div class="uk-width-medium-1-8">
                            <label></label><br />
                            @Html.HiddenFor(m => m.IsIssuedCard)
                            <input type="checkbox" class="icheckbox" id="IsIssuedPrivilegeCard" @(Model.IsIssuedCard == true ? "checked" : "") data-md-icheck />&nbsp;@Html.Label(Masters.PrivilegeCard)
                        </div>
                    }                 
                </div>
            </div>
            <div class="uk-form-row carddiv uk-hidden">
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-1-8">
                        @Html.HiddenFor(m => m.DiscountCategoryID)
                        <label>@Masters.PrivilegeCard</label>
                        @Html.DropDownListFor(Model => Model.PrivilegeCard, new SelectList(Model.PrivilegeCardList, "Value", "Text"), "Select", new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-8 ">
                        <label>@Masters.DiscountPrecentage</label>
                        @Html.TextBoxFor(m => m.DiscountPercentage, new { @class = "md-input label-fixed mask-currency", @disabled = "disabled" })
                    </div>
                    <div class="uk-width-medium-1-8">
                        <label>@Masters.Rate</label>
                        @Html.TextBoxFor(m => m.Rate, new { @class = "md-input label-fixed mask-currency", @disabled = "disabled" })
                    </div>
                    <div class="uk-width-medium-1-8">
                        <label>@Masters.CardNo</label>
                        @Html.TextBoxFor(m => m.CardNo, new { @class = "md-input label-fixed" })
                    </div>
                </div>
            </div>
            <hr class="international" />
            @*<div class="uk-form-row">
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-1-4 international">
                        <label>@Masters.Purposeofvisit</label>
                        @Html.TextBoxFor(m => m.PurposeOfVisit, new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-4 international">
                        <label>@Masters.PassportNo</label>
                        @Html.TextBoxFor(m => m.PassportNo, new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-8 international">
                        <label>@Masters.PlaceOfIssue</label>
                        @Html.TextBoxFor(m => m.PlaceOfIssue, new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-8 international">
                        <div class="uk-input-group">
                            <label for="uk_dp_start">@Masters.DateOfIssue</label>
                            @Html.TextBoxFor(m => m.DateOfIssuePassport, new { @class = "md-input label-fixed  past-date date" })
                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-8 international">
                        <div class="uk-input-group">
                            <label for="uk_dp_start">@Masters.DateOfExpiry</label>
                            @Html.TextBoxFor(m => m.DateOfExpiry, new { @class = "md-input label-fixed  future-date date" })
                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar future-date"></i></span>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-8 international">
                        <label>@Masters.EmployedInIndia </label>
                        @Html.DropDownListFor(Model => Model.EmployedIn, new SelectList(Model.EmployedInIndia, "Value", "Text"), "Select", new { @class = "md-input label-fixed" })
                    </div>
                </div>
            </div>*@

            @*<div class="uk-form-row">
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-1-4 international">
                        <label>@Masters.VisaNo</label>
                        @Html.TextBoxFor(m => m.VisaNo, new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-8 international">
                        <div class="uk-input-group">
                            <label>@Masters.DateOfIssue (Visa)</label>
                            @Html.TextBoxFor(m => m.DateOfIssueVisa, new { @class = "md-input label-fixed  past-date date" })
                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-8 international">
                        <div class="uk-input-group">
                            <label>@Masters.DateOfExpiry (Visa)</label>
                            @Html.TextBoxFor(m => m.DateOfExpiryVisa, new { @class = "md-input label-fixed  future-date date" })
                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar future-date"></i></span>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-4 international">
                        <label>@Masters.ArrivedFrom</label>
                        @Html.TextBoxFor(m => m.ArrivedFrom, new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-4 international">
                        <label>@Masters.ProceedingTo</label>
                        @Html.TextBoxFor(m => m.ProceedingTo, new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-8 international">
                        <label>@Masters.DurationOfStay (days)</label>
                        @Html.TextBoxFor(m => m.DurationOfStay, new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-8 international">
                        <div class="uk-input-group">
                            <label>@Masters.DateOfArrival</label>
                            @Html.TextBoxFor(m => m.DateOfArrival, new { @class = "md-input label-fixed  past-date date" })
                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                        </div>
                    </div>
                    @if (Model.ID == 0)
                    {
                        <div class="uk-width-medium-1-4">
                            <div class="md-input-wrapper md-input-filled">
                                <label>@Masters.Photo</label>
                                <div class="uk-form-file v1">
                                    <label id="selected-photo">
                                    </label>
                                    <label for="select-photo" class="upload-btn md-btn md-btn-flat md-btn-wave waves-effect waves-button text-capitalize">
                                        <i class="uk-icon-upload"></i>
                                    </label>
                                    <input id="select-photo" type="file" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-4 international">
                            <div class="md-input-wrapper md-input-filled">
                                <label>@Masters.PassportCopy</label>
                                <div class="uk-form-file v1">
                                    <label id="selected-passport">
                                    </label>
                                    <label for="select-passport" class="upload-btn md-btn md-btn-flat md-btn-wave waves-effect waves-button text-capitalize">
                                        <i class="uk-icon-upload"></i>
                                    </label>
                                    <input id="select-passport" type="file" tabindex="-1">
                                </div>
                            </div>
                        </div>
                                <div class="uk-width-medium-1-4 international">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>@Masters.VisaCopy</label>
                                        <div class="uk-form-file v1">
                                            <label id="selected-visa">
                                            </label>
                                            <label for="select-visa" class="upload-btn md-btn md-btn-flat md-btn-wave waves-effect waves-button text-capitalize">
                                                <i class="uk-icon-upload"></i>
                                            </label>
                                            <input id="select-visa" type="file" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                    }
                    else
                    {
                        <div class="uk-width-medium-1-4">
                            <div class="md-input-wrapper md-input-filled">
                                <label>@Masters.Photo</label>
                                <div class="uk-form-file v1">
                                    <label id="selected-photo">
                                        @foreach (var item in Model.SelectedPhoto)
                                        {
                                            <span>
                                                <span class='view-file' data-id='@item.ID' data-url='@item.URL' data-path='@item.Path'>@item.Name</span>
                                                <a class='remove-quotation'>X</a>
                                            </span>
                                        }
                                    </label>
                                    <label for="select-photo" class="upload-btn md-btn md-btn-flat md-btn-wave waves-effect waves-button text-capitalize">
                                        <i class="uk-icon-upload"></i>
                                    </label>
                                    <input id="select-photo" type="file" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-4 international">
                            <div class="md-input-wrapper md-input-filled">
                                <label>@Masters.PassportCopy</label>
                                <div class="uk-form-file v1">
                                    <label id="selected-passport">
                                        @foreach (var item in Model.SelectedPassport)
                                        {
                                            <span>
                                                <span class='view-file' data-id='@item.ID' data-url='@item.URL' data-path='@item.Path'>@item.Name</span>
                                                <a class='remove-quotation'>X</a>
                                            </span>
                                        }
                                    </label>
                                    <label for="select-passport" class="upload-btn md-btn md-btn-flat md-btn-wave waves-effect waves-button text-capitalize">
                                        <i class="uk-icon-upload"></i>
                                    </label>
                                    <input id="select-passport" type="file" tabindex="-1">
                                </div>
                            </div>
                        </div>
                                <div class="uk-width-medium-1-4 international">
                                    <div class="md-input-wrapper md-input-filled">
                                        <label>@Masters.VisaCopy</label>
                                        <div class="uk-form-file v1">
                                            <label id="selected-visa">
                                                @foreach (var item in Model.SelectedVisa)
                                                {
                                                    <span>
                                                        <span class='view-file' data-id='@item.ID' data-url='@item.URL' data-path='@item.Path'>@item.Name</span>
                                                        <a class='remove-visa'>X</a>
                                                    </span>
                                                }
                                            </label>
                                            <label for="select-visa" class="upload-btn md-btn md-btn-flat md-btn-wave waves-effect waves-button text-capitalize">
                                                <i class="uk-icon-upload"></i>
                                            </label>
                                            <input id="select-visa" type="file" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                    }
                </div>
            </div>*@


        </div>

        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn  uk-modal-close">@Common.Close</button>
            <button type="button" class="md-btn md-btn-primary" id="btnOkSavePatient">@Common.Save</button>
        </div>
    </div>
</div>
