@model TradeSuiteApp.Web.Areas.Sales.Models.SalesInquiryModel

@{
    ViewBag.Title = @Sales.SalesInquiry;
}

<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 54, media: 960 }">
        <div class="heading_title">
            <h1>@Sales.SalesInquiry</h1>
            <span class="uk-text-upper uk-text-small">@Sales.SalesInquiry</span>
        </div>
        <div class="heading_actions">
            @Html.HiddenFor(m => m.ID)
            <a href="@Url.Action("ExportToExcel", new { SalesInquiryID = Model.ID })" class="btn btn-primary" target="_blank">Export to Excel</a>
            <a href="@Url.Action("ExportToPDF", new { SalesInquiryID = Model.ID })" class="btn btn-primary" target="_blank">Export to PDF</a>
            @if (Model.IsDraft)
            {
                @ActionAuthorization.IsAuthorized("Edit", Html.ActionLink(Common.Edit, "Edit", "SalesInquiry", new { Area = "Sales", id = Model.ID }, new { @class = "md-btn edit ", }))
            }
            @Html.ActionLink(Common.Back, "Index", "SalesInquiry", new { Area = "Sales" }, new { @class = "md-btn " })

        </div>
    </div>
    <div id="page_content_inner" class="sales details-view">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                @{Html.RenderPartial("/Areas/Sales/Views/SalesInquiry/View.cshtml", Model); }
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Js/Page/SalesInquiry")
<script type="text/javascript">
    SalesOrder.details();
</script>
