@model TradeSuiteApp.Web.Areas.Sales.Models.SalesInquiryModel
@{
    ViewBag.Title = "Form";
}
<div class="section-group">
    <div class="uk-form-row">
        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-medium-8-10">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-8">
                            <label>@Sales.InquiryNo</label>
                            @Html.TextBoxFor(model => model.SalesInquiryNo, new { @class = "md-input label-fixed", @readonly = "readonly" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label for="uk_dp_start">@Sales.InquiryDate</label>
                            @Html.TextBoxFor(model => model.SalesInquiryDate, new { @class = "md-input label-fixed", @readonly = "readonly" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <div class="uk-input-group">
                                <label for="uk_dp_start">@Sales.RequestedDelivaryDate</label>
                                @Html.TextBoxFor(model => model.RequestedDelivaryDate, new { @class = "md-input label-fixed date future-date" })
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar future-date"></i></span>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-8">
                            <div class="uk-input-group">
                                <label for="uk_dp_start">@Sales.RequestExpiryDate</label>
                                @Html.TextBoxFor(model => model.RequestExpiryDate, new { @class = "md-input label-fixed date future-date" })
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar future-date"></i></span>
                            </div>
                        </div>
                        <div class="uk-width-medium-2-8">
                            <label>@Sales.Address</label>
                            @Html.TextBoxFor(model => model.RequestedCustomerAddress, new { @class = "md-input label-fixed" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Sales.PhoneNumber</label>
                            @Html.TextBoxFor(model => model.PhoneNo1, new { @class = "md-input label-fixed" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Sales.SecondPhoneNo</label>
                            @Html.TextBoxFor(model => model.PhoneNo2, new { @class = "md-input label-fixed" })
                        </div>
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-2-8">
                            <div class="uk-autocomplete " id="requested-customer-autocomplete">
                                <div class="uk-input-group">

                                    <label>@Sales.RequestedCustomerName</label>
                                    @Html.TextBoxFor(model => model.RequestedCustomerName, new { @class = "md-input label-fixed", @tabindex = "-1" })

                                </div>
                                <script type="text/autocomplete">
                                <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                 {{~items}}
                                 <li data-value="{{ $item.Name }}"
                                 data-id="{{$item.ID}}"
                                 <a>
                                   {{ $item.Name }}
                                 </a>
                                </li>
                              {{/items}}
                           </ul>
                                </script>
                            </div>
                        </div>

                        <div class="uk-width-medium-1-8">
                            <label>Make</label>
                            @Html.TextBoxFor(model => model.Make, new { @class = "md-input label-fixed" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>Model</label>
                            @Html.TextBoxFor(model => model.Model, new { @class = "md-input label-fixed" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>Year</label>
                            @Html.TextBoxFor(model => model.Year, new { @class = "md-input label-fixed" })
                        </div>
                        <div class="uk-width-medium-2-8">
                            <label>SI/VIN Number</label>
                            @Html.TextBoxFor(model => model.SIOrVINNumber, new { @class = "md-input label-fixed" })
                        </div>
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-2-8">
                            <div class="uk-input-group">
                                <label>@Sales.ItemName <span>*</span></label>
                                <input type="text" id="ItemName" class="md-input label-fixed" />
                                <span class="uk-input-group-addon">
                                    <a data-uk-modal="{target:'#select-item',center:false}">
                                        <i class="uk-input-group-icon uk-icon-search"></i>
                                    </a>
                                </span>
                            </div>
                            @Html.HiddenFor(model => model.DecimalPlaces)
                            @Html.HiddenFor(model => model.normalclass)
                            @Html.Hidden("ItemID")
                            @Html.Hidden("Code")
                            @Html.Hidden("PartsNumber")
                            @Html.Hidden("PrimaryUnit")
                            @Html.Hidden("PrimaryUnitID")
                            @Html.Hidden("SalesUnit")
                            @Html.Hidden("SalesUnitID")
                            @Html.Hidden("Stock")
                            @Html.Hidden("DiscountPercentage")
                            @Html.Hidden("CGSTPercentage")
                            @Html.Hidden("IGSTPercentage")
                            @Html.Hidden("SGSTPercentage")
                            @Html.Hidden("VATPercentage")
                            @Html.Hidden("Make")
                            @Html.Hidden("Model")
                            @Html.Hidden("TaxType")
                            @Html.Hidden("CessPercentage")
                            @Html.Hidden("LooseRate")
                            @Html.Hidden("Category")
                            @Html.Hidden("MaxSalesQtyFull")
                            @Html.Hidden("MinSalesQtyLoose")
                            @Html.Hidden("MinSalesQtyFull")
                            @Html.Hidden("MaxSalesQtyLoose")
                            @Html.Hidden("SecondaryUnits")
                            @Html.Hidden("HistoryItemID")
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Sales.Unit </label>
                            @Html.DropDownListFor(Model => Model.UnitID, Model.UnitList, "Select", new { @class = "md-input label-fixed" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Sales.Qty <span>*</span></label>
                            <input type="text" id="Qty" class="md-input mask-numeric label-fixed" />
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Sales.Rate <span></span></label>
                            <input type="text" id="Rate" class="md-input label-fixed @Model.normalclass" />
                        </div>
                        <div class="uk-width-medium-1-8">
                            <div class="md-input-wrapper md-input-filled">
                                <label>&nbsp;</label>
                                <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="btnAddItem">@Common.Add</button>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-8">
                            <div class="md-input-wrapper md-input-filled">
                                <label>&nbsp;</label>
                                <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="btnAddNewItem">@Common.AddNew</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="uk-width-medium-2-10">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-1">
                            <label>@Sales.NetAmount</label>
                            @Html.TextBoxFor(model => model.NetAmount, new { @class = "md-input label-fixed x-large " + Model.normalclass, @tabindex = "-1", @readonly = "readonly" })
                            @Html.Hidden("NetAmountValue")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-group">
    <table id="sales-inquiry-items-list" class="uk-table" cellspacing="0" style="width:100%;">
        <thead>
            <tr>
                <th class="width-10"></th>
                <th class="width-10">@Common.SerialNo</th>
                <th class="width-30">@Sales.ItemCode</th>
                <th class="width-120">@Sales.ItemName</th>
                <th class="width-120">@Sales.PartsNumber</th>
                <th class="width-60">@Sales.Unit</th>
                <th class="width-120">@Sales.DeliveryTerm</th>
                <th class="width-120">@Sales.Remarks</th>
                <th class="width-60">@Sales.Rate</th>
                <th class="width-60">@Sales.Qty</th>
                <th class="width-80">@Sales.GrossAmt</th>
                <th class="width-30">@Sales.VAT</th>
                <th class="width-40">@Sales.VATAmount</th>
                <th class="width-100">@Sales.NetAmount</th>
                <th class="width-20"></th>
            </tr>

        </thead>
        <tbody>
            @if (Model.Items != null)
            {
                foreach (var item in Model.Items.Select((value, i) => new { i = (i + 1), value }))
                {
                    <tr data-uk-tooltip="{cls:long-text}" title="">
                        <td class="uk-text-center showitemhistory action">
                            <a class="uk-text-center action">
                                <i class="uk-icon-eye-slash"></i>
                            </a>
                        </td>
                        <td class="uk-text-center">@item.i</td>
                        <td class="ItemCode">
                            @item.value.ItemCode
                            <input type="hidden" class="ItemCode" value="@item.value.ItemCode" />
                            <input type="hidden" class="ItemID" value="@item.value.ItemID" />
                        </td>
                        <td><input type="text" class="md-input Name" value="@item.value.ItemName" /></td>
                        <td><input type="text" class="md-input PartsNumber" value="@item.value.PartsNumber" /></td>
                        <td><input type="text" class="md-input Unit" value=" @item.value.UnitName" /> </td>
                        <td><input type="text" class="md-input DeliveryTerm" value=" @item.value.DeliveryTerm" />  </td>
                        <td><input type="text" class="md-input Remarks" value=" @item.value.Remarks" />  </td>
                        <td><input type="text" class="md-input MRP  @Model.normalclass" value="@item.value.Rate" /></td>
                        <td><input type="text" class="md-input mask-sales2-currency Qty" value="@item.value.Qty" /></td>
                        <td><input type="text" class="md-input GrossAmount @Model.normalclass" value="@item.value.GrossAmount" readonly="readonly" /></td>
                        <td><input type="text" class="VATPercentage mask-sales2-currency" value="@item.value.VATPercentage" readonly="readonly" /></td>
                        <td><input type="text" class="VATAmount @Model.normalclass" value="@item.value.VATAmount" readonly="readonly" /></td>
                        <td><input type="text" class="NetAmount @Model.normalclass" value="@item.value.NetAmount" readonly="readonly" /></td>
                        <td class="uk-text-center">
                            <a class="remove-item">
                                <i class="uk-icon-remove"></i>
                            </a>

                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
    <input type="hidden" value="@Model.Items.Count()" id="item-count">
</div>
@Html.Partial("~/Areas/Masters/Views/Item/PartialList.cshtml")
@Html.Partial("/Areas/Sales/Views/SalesInvoice/HistoryList.cshtml")