<div class="uk-modal" id="select-sales-inquiry" aria-hidden="true" style="display: none; overflow-y: scroll;">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">@Sales.SalesInquiry<i class="material-icons" data-uk-tooltip="{pos:'top'}" title="headline tooltip"></i></h3>
        </div>
        <table id="sales-inquiry-list" class="uk-table" cellspacing="0">
            <thead>
                <tr>
                    <th class="width-40">@Common.SerialNo</th>
                    <th class="width-20"></th>
                    <th class="width-80">@Sales.SalesInquiryNo</th>
                    <th class="width-80">@Sales.SalesInquiryDate</th>
                    <th class="width-200">@Sales.RequestedCustomerName</th>
                    <th class="width-100">@Sales.PhoneNumber</th>
                    <th class="width-40">@Sales.Remarks</th>
                    <th class="width-40">@Sales.NetAmount</th>
                    
                </tr>
            </thead>
            <thead class="search">
                <tr>
                    <th></th>
                    <th></th>
                    <th>@Sales.SalesInquiryNo</th>
                    <th>@Sales.SalesInquiryDate</th>
                    <th>@Sales.RequestedCustomerName</th>
                    <th>@Sales.PhoneNumber</th>
                    <th>@Sales.Remarks</th>
                    <th>@Sales.NetAmount</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-primary uk-modal-close" id="btnOksalesinquiry">Ok</button>
        </div>
    </div>
</div>