
@{
    ViewBag.Title = "GetFundTransferIssue";
}
<div class="uk-modal" id="select-source" aria-hidden="true" style="display: none; overflow-y: scroll;">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">@Accounts.FundTransferIssue<i class="material-icons" data-uk-tooltip="{pos:'top'}" title="headline tooltip"></i></h3>
        </div>
        <table id="fund-transfer-issue-list" class="uk-table" cellspacing="0">
            <thead>
                <tr>
                    <th class="width-40">@Common.SerialNo</th>
                    <th class="width-20"></th>
                    <th class="width-80">@Accounts.TransNo</th>
                    <th class="width-80">@Accounts.IssueLocation</th>
                    <th class="width-80">@Accounts.IssueBankDetails</th>
                    <th class="width-80">@Accounts.ReceiptLocation</th>
                    <th class="width-50">@Accounts.ReceiptBankDetails</th>
                    <th class="width-50">@Accounts.ModeOfPayment</th>
                    <th class="width-50">@Accounts.Amount</th>
                </tr>
            </thead>
            <thead class="search">
                <tr>
                    <th class="width-40">@Common.SerialNo</th>
                    <th class="width-20"></th>
                    <th class="width-80">@Accounts.TransNo</th>
                    <th class="width-80">@Accounts.IssueLocation</th>
                    <th class="width-80">@Accounts.IssueBankDetails</th>
                    <th class="width-80">@Accounts.ReceiptLocation</th>
                    <th class="width-50">@Accounts.ReceiptBankDetails</th>
                    <th class="width-50">@Accounts.ModeOfPayment</th>
                    <th class="width-50">@Accounts.Amount</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-primary uk-modal-close" id="btnOk">Ok</button>
        </div>
    </div>
</div>



