@model IEnumerable<TradeSuiteApp.Web.Areas.Masters.Models.MouldModel>
@{
    ViewBag.Title = "Mould Index";
}

<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <div class="heading_title">
            <h1>@Masters.Mould</h1>
            <span class="uk-text-upper uk-text-small">@Masters.MouldList</span>
        </div>
        <div class="heading_actions">
            @ActionAuthorization.IsAuthorized("Create", Html.ActionLink(Common.Create, "Create", "Mould", new { Area = "Masters" }, new { @class = "md-btn" }))
            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a>@Common.Action</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="page_content_inner" class="list-view">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <table id="mould-list" class="uk-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="width-10">
                                @Common.SerialNo
                            </th>
                            <th class="width-40">
                                @Masters.Code
                            </th>
                            <th class="width-120">
                                @Masters.Mould
                            </th>
                            <th class="width-60">
                                @Masters.InceptionDate
                            </th>
                            <th class="width-60">
                                @Masters.ExpairyDate
                            </th>


                        </tr>
                    </thead>
                    <thead class="search">
                        <tr>
                            <th>
                                @Common.SerialNo
                            </th>
                            <th>
                                @Masters.Code
                            </th>
                            <th>
                                @Masters.Mould
                            </th>
                            <th>
                                @Masters.InceptionDate
                            </th>
                            <th>
                                @Masters.ExpairyDate
                            </th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Select((value, i) => new { i = (i + 1), value }))
                        {
                            <tr>
                                <td>
                                @Html.DisplayFor(modelItem => (item.i))
                                @Html.HiddenFor(model => item.value.ID, new { @class = "ID" })
                            </td>
                            <td> @Html.DisplayFor(model => item.value.Code)</td>
                            <td>@Html.DisplayFor(model => item.value.MouldName)</td>
                            <td>@Html.DisplayFor(model => item.value.InceptionDate)</td>
                            <td>@Html.DisplayFor(model => item.value.ExpairyDate)</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Js/Page/Item")
@Scripts.Render("~/Js/Page/Mould")
<script type="text/javascript">
    Mould.list();
    Mould.bind_events();
</script>