
@{
    ViewBag.Title = "PartialView";
}


<div class="uk-modal" id="select-mould" aria-hidden="true" style="display: none; overflow-y: scroll;">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">@Masters.SelectMould<i class="material-icons" data-uk-tooltip="{pos:'top'}" title="headline tooltip"></i></h3>
        </div>
        <table id="mould-list" class="uk-table" cellspacing="0">
            <thead>
                <tr>
                    <th class="width-10">@Common.SerialNo</th>
                    <th class="width-10"></th>
                    <th class="width-40">@Masters.Code</th>
                    <th class="width-200">@Masters.MouldName</th>
                    <th class="width-120">@Masters.ItemName</th>
                    <th class="width-120">@Masters.MachineName</th>

                </tr>
            </thead>
            <thead class="search">
                <tr>
                    <th class="width-10">@Common.SerialNo</th>
                    <th class="width-10"></th>
                    <th class="width-40">@Masters.Code</th>
                    <th class="width-200">@Masters.MouldName</th>
                    <th class="width-120">@Masters.ItemName</th>
                    <th class="width-120">@Masters.MachineName</th>

                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-flat uk-modal-close" id="btnOKMould">Ok</button>
        </div>
    </div>
</div>


