
@{
    ViewBag.Title = "PartialView";
}

<div class="uk-modal" id="select-fso-manager" aria-hidden="true">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">@Masters.SelectReportingPerson<i class="material-icons"></i></h3>
        </div>
        <table id="fso-managers-list" width="100%" class="uk-table" cellspacing="0">
            <thead>
                <tr>
                    <th class="width-30">@Common.SerialNo</th>
                    <th class="width-30"></th>
                    <th>@Masters.FSOCode</th>
                    <th>@Masters.FSOName</th>
                    <th>@Masters.Designation</th>
                    <th class="width-60">@Masters.RouteName</th>
                </tr>
               </thead>
            <thead class="search">
                <tr>
                    <th class="width-30">@Common.SerialNo</th>
                    <th class="width-30"></th>
                    <th>@Masters.FSOCode</th>
                    <th>@Masters.FSOName</th>
                    <th>@Masters.Designation</th>
                    <th class="width-60">@Masters.RouteName</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-primary uk-modal-close" id="btn-ok-fso-manager">Ok</button>
        </div>
    </div>
</div>


