@model TradeSuiteApp.Web.Areas.Purchase.Models.PurchaseRequisitionViewModel

@{
    ViewBag.Title = "Purchase Requsition Details";
}

<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 54, media: 960 }">
        <div class="heading_title">
            <h1>@Purchase.PurchaseRequisitionForStockItems</h1>
            <span class="uk-text-upper uk-text-small">@Purchase.PurchaseRequisitionDetails</span>
        </div>
        <div class="heading_actions">
            <a href="@Url.Action("ExportToExcel", new { PurchaseRequisitionID = Model.Id })" class="btn btn-primary" target="_blank">Export to Excel</a>
            <a href="@Url.Action("ExportToPDF", new { PurchaseRequisitionID = Model.Id })" class="btn btn-primary" target="_blank">Export to PDF</a>
            @if (Model.IsDraft)
            {
                @ActionAuthorization.IsAuthorized("Edit", Html.ActionLink(Common.Edit, "Edit", "PurchaseRequisition", new { Area = "Purchase", id = (Model != null) ? Model.Id : 0 }, new { @class = "md-btn" }))

            }
            @Html.ActionLink(Common.Back, "Index", "PurchaseRequisition", new { Area = "Purchase" }, new { @class = "md-btn " })
            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a>Print</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="page_content_inner">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="section-group">
                            <div class="uk-form-row">
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-10">
                                        <label>@Purchase.TransNo</label>
                                        @Html.TextBoxFor(m => m.Code, new { @class = "md-input", @disabled = "disabled" })
                                    </div>
                                    <div class="uk-width-medium-1-10">
                                        <label for="uk_dp_start">@Purchase.Date</label>
                                        @Html.TextBoxFor(m => m.Date, new { @class = "md-input", @disabled = "disabled" })
                                    </div>
                                    <div class="uk-width-medium-1-10 uk-hidden">
                                        <label>@Purchase.FromDepartment</label>
                                        @Html.TextBoxFor(m => m.FromDepartmentName, new { @class = "md-input", @disabled = "disabled" })
                                    </div>
                                    <div class="uk-width-medium-1-10 uk-hidden">
                                        <label>@Purchase.ToDepartment </label>
                                        @Html.TextBoxFor(m => m.ToDepartmentName, new { @class = "md-input", @disabled = "disabled" })
                                    </div>
                                    <div class="uk-width-medium-1-10">
                                        <label>@Purchase.Supplier</label>
                                        @Html.TextBoxFor(model => model.SupplierName, new { @class = "md-input label-fixed", @disabled = "disabled" })
                                    </div>
                                    <div class="uk-width-medium-1-10">
                                        <label>@Purchase.CustomerName</label>
                                        @Html.TextBoxFor(model => model.PurchaseRequisitedCustomer, new { @class = "md-input label-fixed", @disabled = "disabled" })
                                    </div>
                                    <div class="uk-width-medium-1-10">
                                        <label>@Purchase.CustomerAddres</label>
                                        @Html.TextBoxFor(model => model.RequisitedCustomerAddress, new { @class = "md-input label-fixed", @disabled = "disabled" })
                                    </div>
                                    <div class="uk-width-medium-1-10">
                                        <label>@Purchase.CustomerPhoneNo1</label>
                                        @Html.TextBoxFor(model => model.RequisitedPhoneNumber1, new { @class = "md-input label-fixed", @disabled = "disabled" })
                                    </div>
                                    <div class="uk-width-medium-1-10">
                                        <label>@Purchase.CustomerPhoneNo2</label>
                                        @Html.TextBoxFor(model => model.RequisitedPhoneNumber2, new { @class = "md-input label-fixed", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-group">
                            <div class="uk-form-row">
                                <table id="purchase-requisition-items-list" class="uk-table scroll-table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="width-10">@Common.SerialNo</th>
                                            <th class="width-60">@Purchase.ItemCode</th>
                                            <th class="width-150">@Purchase.ItemName</th>
                                            <th class="uk-hidden">@Sales.PartsNumber</th>
                                            <th class="width-20">@Purchase.Unit</th>
                                            <th class="width-150">@Purchase.Remarks</th>
                                            <th class="width-60">@Purchase.MRP</th>
                                            <th class="width-60">@Purchase.Qty</th>
                                        </tr>
                                    </thead>
                                    <tbody class="prTbody">
                                        @if (Model != null)
                                        {
                                            if (Model.Item != null)
                                            {
                                                foreach (var itm in Model.Item.Select((value, i) => new { i = (i + 1), value }))
                                                {

                                                    <tr class="rowPr">
                                                        <td class="uk-text-center">
                                                            @itm.i
                                                        </td>
                                                        <td class="clProduct">
                                                            @itm.value.ItemCode
                                                            <input type="hidden" class="ItemID" value="@itm.value.ItemID" />
                                                            <input type="hidden" class="SalesInquiryItemID" value="@itm.value.SalesInquiryItemID" />
                                                            <input type="hidden" class="UnitID" value="@itm.value.UnitID" />
                                                        </td>
                                                        <td class="ItemCode">  @itm.value.ItemName</td>
                                                        <td class="PartsNumber uk-hidden">  @itm.value.PartsNumber</td>
                                                        <td class="UnitName">  @itm.value.Unit</td>
                                                        <td><input type="text" class="md-input Remarks" value="@itm.value.Remarks" disabled="disabled" /></td>
                                                        <td><input type="text" class="md-input MRP @Model.normalclass" value="@itm.value.MRP" disabled="disabled" /></td>
                                                        <td><input type="text" class="md-input Qty mask-qty" value="@itm.value.Qty" disabled="disabled" /></td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Js/Page/PurchaseRequisition")
<script type="text/javascript">
    purchase_requisition.details();
</script>
