@model TradeSuiteApp.Web.Areas.Purchase.Models.PurchaseRequisitionViewModel
@{
    ViewBag.Title = @Purchase.EditPurchaseRequisition;
}

<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 54, media: 960 }">
        <div class="heading_title">
            <h1>@Purchase.PurchaseRequisitionForStockItems</h1>
            <span class="uk-text-upper uk-text-small">@Purchase.EditPurchaseRequisition</span>
        </div>
        <div class="heading_actions">
            @ActionAuthorization.IsAuthorized("create", "<a class='md-btn Update'>" + Common.Save + "</a>")
            @ActionAuthorization.IsAuthorized("create", "<a class='md-btn btnUpdateSPrDraft'>" + Common.SaveAsDraft + "</a>")
            @ActionAuthorization.IsAuthorized("create", "<a class='md-btn UpdateNew'>" + Common.SaveAndNew + "</a>")


            @Html.ActionLink(Common.Close, "Index", "PurchaseRequisition", new { Area = "Purchase" }, new { @class = "md-btn " })
            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a>Print</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="page_content_inner" class="form-view">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="section-group">
                    <div class="uk-form-row">

                        <div class="uk-grid" data-uk-grid-margin="">
                            <div class="uk-width-medium-1-10">
                                <label>@Purchase.TransNo</label>
                                @Html.TextBoxFor(m => m.PurchaseRequisitionNumber, new { @class = "md-input", @disabled = "disabled" })
                            </div>
                            <div class="uk-width-medium-1-10">
                                <label for="uk_dp_start">@Purchase.Date</label>
                                <input class="md-input label-fixed current-date date" type="text" disabled="disabled" id="Date" value="@DateTime.Now.ToString("dd-MM-yyyy")">
                            </div>
                            <div class="uk-width-medium-1-10 uk-hidden">
                                <label>@Purchase.FromDepartment<span>*</span></label>
                                @Html.DropDownListFor(Model => Model.DepartmentFrom, new SelectList(Model.DDLDepartment, "Value", "Text"), "Select", new { @class = "md-input label-fixed", @title = "@PurchaseRequisition.FromDepartment" })
                            </div>
                            <div class="uk-width-medium-1-10 uk-hidden">
                                <label>@Purchase.ToDepartment<span>*</span></label>
                                @Html.DropDownListFor(Model => Model.DepartmentTo, new SelectList(Model.DDLDepartment, "Value", "Text"), "Select", new { @class = "md-input label-fixed", @title = "@PurchaseRequisition.ToDepartment" })
                            </div>
                            <div class="uk-width-medium-1-10">
                                <label>@Purchase.Supplier</label>
                                @Html.TextBoxFor(model => model.SupplierName, new { @class = "md-input label-fixed", @disabled = "disabled" })
                            </div>
                            <div class="uk-width-medium-1-10">
                                <label>@Purchase.CustomerName</label>
                                @Html.TextBoxFor(model => model.PurchaseRequisitedCustomer, new { @class = "md-input label-fixed", @tabindex = "-1" })
                            </div>
                            <div class="uk-width-medium-1-10">
                                <label>@Purchase.CustomerAddres</label>
                                @Html.TextBoxFor(model => model.RequisitedCustomerAddress, new { @class = "md-input label-fixed", @tabindex = "-1" })
                            </div>
                            <div class="uk-width-medium-1-10">
                                <label>@Purchase.CustomerPhoneNo1</label>
                                @Html.TextBoxFor(model => model.RequisitedPhoneNumber1, new { @class = "md-input label-fixed", @tabindex = "-1" })
                            </div>
                            <div class="uk-width-medium-1-10">
                                <label>@Purchase.CustomerPhoneNo2</label>
                                @Html.TextBoxFor(model => model.RequisitedPhoneNumber2, new { @class = "md-input label-fixed", @tabindex = "-1" })
                            </div>
                        </div>

                    </div>
                    <div class="uk-form-row">
                        <div class="uk-grid" data-uk-grid-margin="">
                            <div class="uk-width-medium-1-10 uk-hidden">
                                <label>@Purchase.ItemCategory</label>
                                @Html.DropDownList("DDLItemCategory", new SelectList(Model.DDLItemCategory, "Value", "Text"), "Select", new { @class = "md-input label-fixed", @title = "@PurchaseRequisition.ItemCategory" })
                            </div>
                            <div class="uk-width-medium-1-10 uk-hidden">
                                <label>@Purchase.PurchaseCategory</label>
                                @Html.DropDownList("DDLPurchaseCategory", new SelectList(Model.DDLPurchaseCategory, "Value", "Text"), "Select", new { @class = "md-input label-fixed", @title = "@PurchaseRequisition.PurchaseRequisition.PurchaseCategory" })
                            </div>
                            <div class="uk-width-medium-2-10">
                                <div class="uk-autocomplete " id="item-autocomplete">
                                    <label>@Sales.SalesInquiry<span>*</span></label>
                                    @Html.TextBox("SalesInquiry", "", new { @class = "md-input label-fixed" })
                                    <span class="uk-input-group-addon">
                                        <a data-uk-modal="{target:'#select-sales-inquiry',center:false} ">
                                            <i class="uk-input-group-icon uk-icon-search"></i>
                                        </a>
                                    </span>
                                    <script type="text/autocomplete">
                            <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                {{~items}}
                                <li data-value="{{ $item.Name }}"
                                    data-id="{{$item.ID}}"
                                    data-item-type-id="{{$item.ItemTypeID}}"
                                    data-stock="{{$item.Stock}}"
                                    data-qty-under-qc="{{$item.QtyUnderQC}}"
                                    data-primary-unit="{{$item.Unit}}"
                                    data-primary-unit-id="{{$item.UnitID}}"
                                    data-purchase-unit="{{$item.PurchaseUnit}}"
                                    data-purchase-unit-id="{{$item.PurchaseUnitID}}"
                                    data-qty-ordered="{{$item.QtyOrdered}}">
                                    <a>
                                        {{ $item.Name }}
                                        <div>{{{ $item.Code }}}</div>
                                    </a>
                                </li>
                                {{/items}}
                            </ul>
                                    </script>
                                </div>
                                @Html.HiddenFor(model => Model.Id)
                                @Html.HiddenFor(model => Model.ItemID)
                                @Html.Hidden("ItemTypeID")
                                @Html.Hidden("Stock")
                                @Html.Hidden("QtyUnderQC")
                                @Html.Hidden("PrimaryUnit")
                                @Html.Hidden("PrimaryUnitID")
                                @Html.Hidden("PurchaseUnit")
                                @Html.Hidden("PurchaseUnitID")
                                @Html.Hidden("QtyOrdered")
                                @Html.HiddenFor(model => Model.SalesInquiryID)
                            </div>
                            <input type="hidden" value="stock" id="type" />
                            <div class="uk-width-medium-2-10">
                                <div class="uk-input-group">
                                    <label>@Sales.ItemName <span>*</span></label>
                                    <input type="text" id="ItemName" class="md-input label-fixed" />
                                    <span class="uk-input-group-addon">
                                        <a data-uk-modal="{target:'#select-item',center:false}">
                                            <i class="uk-input-group-icon uk-icon-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-10">
                                <div class="uk-input-group">
                                    <label for="uk_dp_start">@Purchase.RequisitionDate</label>
                                    <input class="md-input label-fixed future-date date cltxtDate" id="txtExpDate">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar future-date"></i></span>
                                </div>
                            </div>
                            <div class="uk-width-medium-2-10">
                                <label>@Purchase.Specification</label>
                                <input type="text" class="md-input label-fixed" id="txtRemarks" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-group">
                    <div class="uk-form-row">
                        <table id="purchase-requisition-items-list" class="uk-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="width-10"></th>
                                    <th class="width-10">@Common.SerialNo</th>
                                    <th class="width-60">@Purchase.ItemCode</th>
                                    <th class="width-150">@Purchase.ItemName</th>
                                    <th class="uk-hidden">@Sales.PartsNumber</th>
                                    <th class="width-20">@Purchase.Unit</th>
                                    <th class="width-150">@Purchase.Remarks</th>
                                    <th class="width-60">@Purchase.MRP</th>
                                    <th class="width-60">@Purchase.Qty</th>
                                    <th class="width-80">@Purchase.ItemStatus</th>
                                    <th class="width-10"></th>
                                </tr>
                            </thead>
                            <tbody class="included">
                                @if (Model != null)
                                {
                                    if (Model.Item != null)
                                    {
                                        foreach (var itm in Model.Item.Select((value, i) => new { i = (i + 1), value }))
                                        {

                                            <tr class="included">
                                                @if (@itm.value.ItemID > 0)
                                                {
                                                    <td class="uk-text-center showitemhistory action"><a class="uk-text-center action"><i class="uk-icon-eye-slash"></i></a></td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                                <td class="uk-text-center">
                                                    @itm.i
                                                </td>
                                                <td class="included ItemCode">
                                                    @itm.value.ItemCode
                                                    <input type="hidden" class="ItemID" value="@itm.value.ItemID" />
                                                    <input type="hidden" class="SalesInquiryItemID" value="@itm.value.SalesInquiryItemID" />
                                                    <input type="hidden" class="UnitID" value="@itm.value.UnitID" />
                                                </td>
                                                <td class="ItemName">  @itm.value.ItemName</td>
                                                <td class="PartsNumber uk-hidden">  @itm.value.PartsNumber</td>
                                                <td class="UnitName">  @itm.value.Unit</td>
                                                <td><input type="text" class="md-input Remarks" value="@itm.value.Remarks" /></td>
                                                <td><input type="text" class="md-input MRP @Model.normalclass" value="@itm.value.MRP" /></td>
                                                <td><input type="text" class="md-input Qty mask-qty" value="@itm.value.Qty" /></td>
                                                <td>Item exist</td>
                                                <td class="uk-text-center">
                                                    <a class="remove-item">
                                                        <i class="uk-icon-remove"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                        <input type="hidden" id="item-count" value="@Model.Item.Count()" />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Areas/Masters/Views/Supplier/PartialList.cshtml")
@Html.Partial("~/Areas/Sales/Views/SalesInquiry/PartialList.cshtml")
@Html.Partial("~/Areas/Purchase/Views/PurchaseRequisition/ItemPartialList.cshtml")
@Html.Partial("/Areas/Sales/Views/SalesInvoice/HistoryList.cshtml")
@Scripts.Render("~/Js/Page/PurchaseRequisition")
@Scripts.Render(System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Js/Page/Supplier"))
<script type="text/javascript">
    purchase_requisition.init();
</script>