<div class="uk-modal" id="select-item" aria-hidden="true">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">@Masters.SelectItems<i class="material-icons" data-uk-tooltip="{pos:'top'}" title="headline tooltip"></i></h3>
        </div>
        <table id="item-list" class="uk-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="width-30">@Common.SerialNo</th>
                    <th class="width-10"></th>
                    <th class="width-60">@Masters.Code</th>
                    <th class="width-120">@Masters.ItemName</th>
                    <th class="width-80">@Masters.ItemCategory</th>
                    <th class="width-80">@Masters.SalesCategory</th>
                    <th class="width-120">@Masters.PartsNo</th>
                    <th class="width-80"> @Masters.Model</th>
                    <th class="width-80"> @Masters.Make</th>
                    <th class="width-80">@Masters.Remarks</th>
                    <th class="width-40">@Purchase.PendingOrderQty</th>
                    <th class="width-40">@Common.Stock</th>
                </tr>
            </thead>
            <thead class="search">
                <tr>
                    <th></th>
                    <th></th>
                    <th>@Masters.Code</th>
                    <th>@Masters.ItemName</th>
                    <th>@Masters.ItemCategory</th>
                    <th>@Masters.SalesCategory</th>
                    <th>@Masters.PartsNo</th>
                    <th>@Masters.Model</th>
                    <th></th>
                    <th>@Masters.Remarks</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-primary uk-modal-close" id="btnOKItem">Ok</button>
        </div>
    </div>
</div>



