@model TradeSuiteApp.Web.Areas.Sales.Models.SalesOrderModel
@{
    ViewBag.Title = "Form";
}

<div class="section-group">
    <div class="uk-form-row">
        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-medium-8-10">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-8">
                            <label>@Sales.OrderNo</label>
                            @Html.TextBoxFor(model => model.SONo, new { @class = "md-input label-fixed", @disabled = "disabled" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label for="uk_dp_start">@Sales.OrderDate</label>
                            @Html.TextBoxFor(model => model.SODate, new { @class = "md-input label-fixed", @disabled = "disabled" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label for="uk_dp_start">@Sales.CustomerCategory</label>
                            @Html.TextBoxFor(model => model.CustomerCategory, new { @class = "md-input label-fixed", @disabled = "disabled" })
                        </div>
                        <div class="uk-width-medium-2-8">
                            <label>@Sales.CustomerName<span>*</span></label>
                            @Html.TextBox("CustomerName", Model.CustomerName.Trim(), new { @class = "md-input label-fixed", @disabled = "disabled" })

                        </div>
                        <div class="uk-width-medium-1-8">
                            <label for="uk_dp_start">@Sales.BillTo</label>
                            @Html.TextBoxFor(model => model.BillingAddress, new { @class = "md-input label-fixed", @disabled = "disabled" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label for="uk_dp_start">@Sales.ShippTo</label>
                            @Html.TextBoxFor(model => model.ShippingAddress, new { @class = "md-input label-fixed", @disabled = "disabled" })
                        </div>
                        @Html.HiddenFor(model => model.CustomerID)
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-8">
                            <label>@Sales.GrossAmt</label>
                            @Html.TextBoxFor(model => model.GrossAmount, new { @class = "md-input mask-sales-currency label-fixed", @disabled = "disabled" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Sales.DiscAmt</label>
                            @Html.TextBoxFor(model => model.DiscountAmount, new { @class = "md-input mask-sales-currency label-fixed", @disabled = "disabled" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Sales.TaxableAmount</label>
                            @Html.TextBoxFor(model => model.TaxableAmount, new { @class = "md-input mask-sales-currency label-fixed", @disabled = "disabled" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Sales.SGST</label>
                            @Html.TextBoxFor(model => model.SGSTAmount, new { @class = "md-input mask-sales-currency label-fixed", @disabled = "disabled" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Sales.CGST</label>
                            @Html.TextBoxFor(model => model.CGSTAmount, new { @class = "md-input mask-sales-currency label-fixed", @disabled = "disabled" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Sales.IGST</label>
                            @Html.TextBoxFor(model => model.IGSTAmount, new { @class = "md-input mask-sales-currency label-fixed", @disabled = "disabled" })
                        </div>
                        <div class="uk-width-medium-1-8 cess-enabled">
                            <label>@Sales.CessAmount</label>
                            @Html.TextBoxFor(model => model.CessAmount, new { @class = "md-input mask-sales-currency label-fixed", @disabled = "disabled" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Sales.RoundOff</label>
                            @Html.TextBoxFor(model => model.RoundOff, new { @class = "md-input mask-sales-currency label-fixed", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-2-10">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-1">
                            <label>@Sales.NetAmount</label>
                            @Html.TextBoxFor(model => model.NetAmount, new { @class = "md-input mask-sales-currency label-fixed x-large", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-group">
    <table id="sales-order-items-list" class="uk-table" cellspacing="0">
        <thead>
            <tr>
                <th class="width-10">@Common.SerialNo</th>
                <th class="width-80">@Sales.ItemCode</th>
                <th class="width-250">@Sales.ItemName</th>
                <th class="width-20">@Sales.Unit</th>
                <th class="width-250">@Sales.Doctor</th>
                <th class="width-40">@Sales.MRP</th>
                <th class="width-60">@Sales.BasicPrice</th>
                <th class="width-60">@Sales.Qty</th>
                <th class="width-80">@Sales.GrossAmt</th>
                <th class="width-40">@Sales.Disc</th>
                <th class="width-60">@Sales.DiscAmt</th>
                <th class="width-80">@Sales.TaxableAmount</th>
                <th class="width-20">@Sales.GST</th>
                <th class="width-40">@Sales.GSTAmount</th>
                <th class="width-20 cess-enabled">@Sales.Cess</th>
                <th class="width-40 cess-enabled">@Sales.CessAmount</th>
                <th class="width-100">@Sales.NetAmount</th>
                <th class="width-100">@Sales.Remarks</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items != null)
            {
                foreach (var item in Model.Items.Select((value, i) => new { i = (i + 1), value }))
                {
                    <tr>
                        <td class="uk-text-center">
                            @item.i
                        </td>
                        <td>@item.value.ItemCode</td>
                        <td>@item.value.ItemName</td>
                        <td> @item.value.UnitName</td>
                        <td> @item.value.DoctorName</td>
                        <td class="mrp_hidden"><input type="text" class="mask-sales-currency MRP" value="@item.value.MRP" readonly="readonly" /></td>
                        <td><input type="text" class="mask-sales-currency BasicPrice" value="@item.value.BasicPrice" readonly="readonly" /></td>
                        <td><input type="text" class="mask-sales-currency Qty" value="@item.value.Qty" readonly="readonly" /></td>
                        <td><input type="text" class="mask-sales-currency GrossAmount" value='@item.value.GrossAmount' readonly="readonly" /></td>
                        <td><input type="text" class="mask-sales-currency DiscountPercentage" value="@item.value.DiscountPercentage" readonly="readonly" /></td>
                        <td><input type="text" class="mask-sales-currency DiscountAmount" value="@item.value.DiscountAmount" readonly="readonly" /></td>
                        <td><input type="text" class="mask-sales-currency Amount" value='@item.value.TaxableAmount' readonly="readonly" /></td>
                        <td><input type="text" class="mask-sales-currency GST" value="@item.value.GSTPercentage" readonly="readonly" /></td>
                        <td><input type="text" class="mask-sales-currency GSTAmount" value="@item.value.GSTAmount" readonly="readonly" /></td>
                        <td class="cess-enabled"><input type="text" class="mask-sales-currency CessPercentage" value="@item.value.CessPercentage" readonly="readonly" /></td>
                        <td class="cess-enabled"><input type="text" class="mask-sales-currency CessAmount" value="@item.value.CessAmount" readonly="readonly" /></td>
                        <td><input type="text" class="mask-sales-currency NetAmount" value="@item.value.NetAmount" readonly="readonly" /></td>
                        <td> @item.value.Remarks</td>
                    </tr>;
                }
            }
        </tbody>
    </table>
</div>