@model TradeSuiteApp.Web.Areas.Masters.Models.QCTestDefinitionModel
@{
    ViewBag.Title = "Details";
}

<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 54, media: 960 }">
        <div class="heading_title">
            <h1>@Masters.QCTestDefinition</h1>
            <span class="uk-text-upper uk-text-small">@Masters.QCTestDefinitionDetails</span>
        </div>
        <div class="heading_actions">
            @ActionAuthorization.IsAuthorized("Edit", Html.ActionLink(Common.Edit, "Edit", "QCTestDefinition", new { Area = "Masters", id = (Model != null) ? Model.ItemID : 0 }, new { @class = "md-btn " }))
            
            
            @Html.ActionLink(Common.Back, "Index", "QCTestDefinition", new { Area = "Masters" }, new { @class = "md-btn " })
            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a>Print</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="page_content_inner" class="details-view">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="section-group">
                    <div class="uk-form-row">
                        <div class="uk-grid" data-uk-grid-margin="">
                            <div class="uk-width-medium-8-10">
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-2-6">
                                            <label>@Masters.Item</label>
                                            @Html.TextBoxFor(m => m.ItemName, "", new { maxlength = 10, @class = "md-input", @disabled = "disabled" })
                                            @Html.HiddenFor(m => m.ItemID)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="uk-form-row">
                        <div>
                            <table id="QCTestDefinitionlist" class="uk-table " cellspacing="0" width=100">
                                <thead>
                                    <tr>
                                        <th class="width-10">@Common.SerialNo</th>
                                        <th class="width-200">@Masters.QCTest</th>
                                        <th class="width-100">@Masters.FromLimit</th>
                                        <th class="width-100">@Masters.ToLimit</th>
                                        <th class="width-100">@Masters.Result</th>
                                        <th class="width-100">@Masters.IsMandatory </th>
                                        <th class="width-100">@Masters.StartDate</th>
                                        <th class="width-100">@Masters.EndDate </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(Model.Items!=null){
                                    foreach (var item in Model.Items.Select((value, i) => new { i = (i + 1), value }))
                                    {
                                    <tr>
                                        <td class="uk-text-center">
                                            @item.i
                                            <input type="hidden" class="ItemID" value="@item.value.ItemID" />
                                            <input type="hidden" class="ID" value="@item.value.ID" />
                                        </td>
                                        <td>
                                            <input type="hidden" class="QCTestID" value="@item.value.QCTestID" />
                                            @item.value.TestName
                                        </td>
                                        <td class="uk-text-right mask-production-qty"> @item.value.RangeFrom</td>
                                        <td class="uk-text-right mask-production-qty">@item.value.RangeTo</td>
                                        <td> @item.value.Result</td>
                                        <td class="uk-text-center">@item.value.IsMandatory</td>
                                        <td class="uk-text-center">@item.value.StartDate</td>
                                        <td class="uk-text-center">@item.value.EndDate</td>
                                    </tr>
                                    }
                                    }
                                </tbody>
                            </table>
                            <input type="hidden" id="item-count" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Js/Page/QCTestDefinition")
@Scripts.Render("~/Js/Page/Item")
@Html.Partial("~/Areas/Masters/Views/Item/StockRequestItemList.cshtml")

<script type="text/javascript">
    QCTestDefinition.init();
</script>



