
@model IEnumerable<TradeSuiteApp.Web.Areas.Masters.Models.QCTestDefinitionModel>
@{
    ViewBag.Title ="QCTest Definition List";
}

<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 54, media: 960 }">
        <div class="heading_title">
            <h1>@Masters.QCTestDefinition</h1>
            <span class="uk-text-upper uk-text-small">@Masters.QCTestDefinitionList</span>
        </div>
        <div class="heading_actions">
            @ActionAuthorization.IsAuthorized("Create", Html.ActionLink(Common.Create, "Create", "QCTestDefinition", new { Area = "Masters" }, new { @class = "md-btn" }))
            
            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a>Print</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="page_content_inner" class="list-view">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">

                <table id="QCTestDefinition-list" class="uk-table">
                    <thead>
                        <tr>
                            <th width="30">
                                @Common.SerialNo
                            </th>
                            <th>
                                @Masters.ItemCode
                            </th>
                            <th class="width-250">
                                @Masters.ItemName
                            </th>
                            <th>
                                @Masters.QCTest
                            </th>
                           
                        </tr>
                    </thead>
                    <thead class="search">
                        <tr>
                            <th width="30">
                                @Common.SerialNo
                            </th>
                            <th>
                                @Masters.ItemCode
                            </th>
                            <th class="width-250">
                                @Masters.ItemName
                            </th>
                            <th>
                                @Masters.QCTest
                            </th>
                          
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Js/Page/QCTestDefinition")
@Scripts.Render("~/Js/Page/Item")
<script type="text/javascript">
    QCTestDefinition.init();
</script>


