@{
    var AppName = System.Configuration.ConfigurationManager.AppSettings["AppName"];
}
<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="report-layout">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="robots" content="noindex, nofollow, disallow">
    <meta name="googlebot" content="noindex, nofollow, disallow">

    <link rel="icon" type="image/png" href="/Assets/img/_@AppName/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/Assets/img/_@AppName/favicon-32x32.png" sizes="32x32">

    <title>@ViewBag.Title</title>
    <script type="text/javascript">
        if (performance.navigation.type == 2) {
            window.location = window.location;
        }
    </script>

    @Styles.Render("~/Css/Common")
    <style>
        body > div:first-child {
            background: blue;
            display: none;
        }
    </style>
</head>
<body class="disable_transitions sidebar_slim sidebar_slim_inactive app_my_theme">

    <div id="progress-bar" class="uk-progress uk-hidden">
        <div class="uk-progress-bar" style="width:0">0%</div>
    </div>

    @Html.Partial("_PartialHeaderMain")
    @Html.Partial("_PartialSideBarMain")
    @Scripts.Render("~/Js/Common")
    @Scripts.Render("~/Js/DataTable")
    <div id="page_content">
        <div id="page_heading" data-uk-sticky="{ top: 54, media: 960 }">
            <div class="heading_title">
                <h1>Reports</h1>
                <span class="uk-text-upper uk-text-small">@ViewBag.ReportTitle</span>
            </div>
            <div class="heading_actions">
                <div data-uk-dropdown>
                    <i class="md-icon material-icons">&#xE5D4;</i>
                    <div class="uk-dropdown uk-dropdown-small">
                        <ul class="uk-nav">
                            <li><a>Print</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" value="@ViewBag.FinStartDate" id="FinStartDate" />
        <input type="hidden" value="@ViewBag.CurrentDate" id="CurrentDate" />
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
