@model TradeSuiteApp.Web.Areas.Masters.Models.ApprovalQueueModel
@{
    ViewBag.Title = @Approvals.ApprovalQueue;
}

<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 54, media: 960 }">
        <div class="heading_title">
            <h1>@Approvals.ApprovalQueue</h1>
            <span class="uk-text-upper uk-text-small">@Approvals.ApprovalQueueDetails</span>
        </div>
        <div class="heading_actions">
            @Html.ActionLink(Common.Edit, "Edit", "ApprovalQueue", new { Area = "Masters", ID = Model.ID }, new { @class = "md-btn Edit" })
            @Html.ActionLink(Common.Close, "Index", "ApprovalQueue", new { Area = "Masters" }, new { @class = "md-btn " })
            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a>Print</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div id="page_content_inner">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="section-group">
                    <div class="uk-form-row">
                        <div class="uk-grid" data-uk-grid-margin="">

                            <div class="uk-width-medium-2-10">

                                <label>@Approvals.ApprovalQueue</label>
                                @Html.TextBoxFor(m => m.QueueName, new { @class = "md-input", @disabled = "disabled" })
                            </div>
                            <div class="uk-width-medium-2-10">
                                <label>@Common.Location</label>
                                @Html.TextBoxFor(m => m.Location, new { @class = "md-input", @disabled = "disabled" })
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="section-group">
                    <table id="stock-items-list" class="uk-table">
                        <thead>
                            <tr>
                                <th class="width-20">@Common.SerialNo</th>
                                <th>@Approvals.UserName</th>
                                <th>@Approvals.SortOrder</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.QueueTrans.Select((value, i) => new { i = (i + 1), value }))
                            {
                                <tr>
                                    <td class="uk-text-center">@(1 + @Model.QueueTrans.IndexOf(item.value))</td>
                                    <td>@item.value.UserName</td>
                                    <td>@item.value.SortOrder</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>
</div>