@model  TradeSuiteApp.Web.Areas.Manufacturing.Models.ProductionIssueViewModel

<div class="uk-modal" id="add-material" aria-hidden="true" style="display: none; overflow-y: scroll;">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Add Material <i class="material-icons" data-uk-tooltip="{pos:'top'}" title="headline tooltip"></i></h3>
        </div>
        <br />
        <div class="uk-form-row">
            <div class="uk-grid" data-uk-grid-margin>

                <div class="uk-width-medium-1-4">
                    <label for="uk_dp_start">@Manufacturing.ItemName</label>
                    <div>
                        Kurumthottiveru
                    </div>
                </div>
                <div class="uk-width-medium-1-10">
                    <label for="uk_dp_start">@Manufacturing.UOM</label>
                    <div>
                        KG
                    </div>
                </div>

                <div class="uk-width-medium-1-10">
                    <label for="uk_dp_start">@Manufacturing.IssueQty</label>
                    <div>
                        10
                    </div>
                </div>
                <div class="uk-width-medium-1-10">
                    <button class="md-btn" id="btnAddMaterial">@Common.Add</button>
                </div>
            </div>
        </div>
        <table id="itempopup-list" class="uk-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="width-30">@Common.SerialNo</th>

                    <th class="width-40">@Manufacturing.ItemName</th>
                    <th class="width-40">@Manufacturing.UOM</th>
                    <th class="width-40">@Manufacturing.IssueQty</th>
                    <th class="width-40">@Manufacturing.IssueDate</th>

                </tr>
            </thead>
         
            <tbody>

                <tr>
                        <td>1</td>
                        <td>Kurumthottiveru</td>
                        <td>KG</td>
                        <td>3</td>
                        <td>20-03-2018</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Kurumthottiveru</td>
                        <td>KG</td>
                        <td>4</td>
                        <td>20-03-2018</td>


                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Kurumthottiveru</td>
                        <td>KG</td>
                        <td>5</td>
                        <td>21-03-2018</td>
                    </tr>

                @*@foreach (var item in Model.Select((x,i)=>new { i = i + 1, data = x } ))
                {
                    <tr>
                        <td>@item.i</td>
                        <td>@item.data.ProductName</td>
                        <td>@item.data.UOM</td>
                        <td>@item.data.BatchSize</td>
                        <td>21-03-2018</td>
                    </tr>
                }*@

            </tbody>
        </table>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-primary uk-modal-close" id="btnOkMaterial">Ok</button>
        </div>
    </div>
</div>

