<div class="uk-modal" id="select-production-schedule" aria-hidden="true">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">@Manufacturing.SelectProductionSchedule<i class="material-icons" data-uk-tooltip="{pos:'top'}" title="headline tooltip"></i></h3>
        </div>
        <table id="production-schedule-list" class="uk-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        @Common.SerialNo
                    </th>
                    <th>

                    </th>
                    <th>
                        @Manufacturing.TransNo
                    </th>
                    <th>
                        @Common.Date
                    </th>
                    <th>
                        @Manufacturing.ProductionGroup
                    </th>
                    <th>
                        @Manufacturing.StartDate
                    </th>
                    <th>
                        @Manufacturing.BatchNo
                    </th>
                    <th>
                        @Manufacturing.Batchsize
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-primary uk-modal-close" id="btnOKProductionSchedule">Ok</button>
        </div>
    </div>
</div>
