@model TradeSuiteApp.Web.Areas.Stock.Models.StockIssueViewModel
@{
    ViewBag.Title = @Stock.EditStockIssue;
}
<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <div class="heading_title">
            <h1>@Stock.StockIssue</h1>
            <span class="uk-text-upper uk-text-small">@Stock.EditStockIssue</span>
        </div>
        <div class="heading_actions">
            @ActionAuthorization.IsAuthorized("Save", "<a class='md-btn btnSave'>" + Common.Save + "</a>")
            @ActionAuthorization.IsAuthorized("SaveAsDraft", "<a class='md-btn btnSaveAsDraft'>" + Common.SaveAsDraft + "</a>")
            @ActionAuthorization.IsAuthorized("Save", "<a class='md-btn btnSaveAndNew'>" + Common.SaveAndNew + "</a>")
            @Html.ActionLink(Common.Close, "Index", "StockIssue", new { Area = "Stock" }, new { @class = "md-btn " })
            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a >@Common.Action</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div id="page_content_inner" class="form-view">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                @{Html.RenderPartial("/Areas/Stock/Views/StockIssue/_form.cshtml", Model); }
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Areas/Stock/Views/StockRequest/PartialList.cshtml")
@Html.Partial("~/Areas/Stock/Views/StockIssue/BatchEdit.cshtml")
@Html.Partial("~/Areas/Masters/Views/Item/StockableList.cshtml")

@Scripts.Render("~/Js/Page/Item")
@Scripts.Render("~/Js/Page/StockIssue")
<script type="text/javascript">
    stockissue.init();
</script>