@model TradeSuiteApp.Web.Areas.Accounts.Models.JournalModel

@{
    ViewBag.Title = Accounts.JournalDetails;

}
<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 54, media: 960 }">
        <div class="heading_title">
            <h1>@Accounts.Journal</h1>
            <span class="uk-text-upper uk-text-small">@Accounts.JournalDetails</span>
        </div>
        <div class="heading_actions">
            @if (Model.IsDraft)
            {
                @ActionAuthorization.IsAuthorized("Edit", Html.ActionLink(Common.Edit, "Edit", "Journal", new { Area = "Accounts", @id = Model.ID }, new { @class = "md-btn " }))
                
            }            
            @Html.ActionLink(Common.Back, "Index", "Journal", new { Area = "Accounts" }, new { @class = "md-btn " })
            @Html.HiddenFor(model => model.ID)
            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a>Print</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="page_content_inner" class="form-view">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="section-group">
                    <div class="uk-form-row">
                        <div class="uk-grid" data-uk-grid-margin="">
                            <div class="uk-width-medium-1-1">
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-8">
                                            <label>@Accounts.VoucherNumber</label>
                                            @Html.TextBoxFor(m => m.VoucherNo, new { @class = "md-input", @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Accounts.Date</label>
                                            @Html.TextBoxFor(m => m.Date, new { @class = "md-input", @disabled = "disabled" })
                                        </div> 
                                        <div class="uk-width-medium-5-10">

                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Accounts.TotalDebitAmount</label>
                                            @Html.TextBoxFor(m => m.TotalDebitAmount, new { @class = "md-input label-fixed x-large mask-currency", @readonly = "readonly" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Accounts.TotalCreditAmount</label>
                                            @Html.TextBoxFor(m => m.TotalCreditAmount, new { @class = "md-input label-fixed x-large mask-currency", @readonly = "readonly" })
                                        </div>                          
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="section-group">
                    <div class="uk-form-row">
                        <table id="journal-item-list" class="uk-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="width-10">@Common.SerialNo</th>                                    
                                    <th class="width-80">@Accounts.DebitAccountNumber</th>
                                    <th class="width-120">@Accounts.DebitAccountName</th>
                                    <th class="width-40">@Accounts.DebitAmount</th>
                                    <th class="width-80">@Accounts.CreditAccountNumber</th>
                                    <th class="width-120">@Accounts.CreditAccountName</th>
                                    <th class="width-40">@Accounts.CreditAmount</th>
                                    <th class="width-80">@Common.Location</th>
                                    <th class="width-80">@Common.Department</th>
                                    <th class="width-80">@Common.InterCompany</th>
                                    <th class="width-80">@Common.Employee</th>
                                    <th class="width-80">@Common.Project</th>
                                    <th class="width-120">@Accounts.Remarks </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Items != null)
                                {
                                    foreach (var item in Model.Items.Select((value, i) => new { i = (i + 1), value }))
                                    {
                                        <tr>
                                            <td class="uk-text-center">
                                                @item.i
                                                <input type="hidden" class="ItemID" readonly="readonly" value="@item.value.ID" />
                                            </td>                                            
                                            <td> @item.value.DebitAccountCode</td>
                                            <td> @item.value.DebitAccountName</td>
                                            <td class="mask-currency"> @item.value.DebitAmount</td>
                                            <td> @item.value.CreditAccountCode</td>
                                            <td> @item.value.CreditAccountName</td>
                                            <td class="mask-currency"> @item.value.CreditAmount</td>
                                            <td> @item.value.Location</td>
                                            <td> @item.value.Department</td>
                                            <td> @item.value.InterCompany</td>
                                            <td> @item.value.Employee</td>
                                            <td> @item.value.Project</td>
                                            <td> @item.value.Remarks</td>
                                        </tr>;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Js/Page/Journal")
