@model TradeSuiteApp.Web.Areas.Masters.Models.OutPatientModel

<div id="page_content_inner" class="form-view">
    <div class="md-card uk-margin-medium-bottom">
            <div class="section-group">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-8-10">
                            <div class="uk-form-row">
                                <div class="uk-grid" data-uk-grid-margin="">
                                    <div class="uk-width-medium-1-8">
                                        <label>@Masters.Code<span>*</span></label>
                                        @Html.TextBoxFor(m => m.Code, new { @class = "md-input label-fixed", @disabled = "disabled" })
                                    </div>
                                    <div class="uk-width-medium-1-8">
                                        <label>@Masters.Category<span>*</span></label>
                                        @Html.DropDownListFor(Model => Model.Category, new SelectList(Model.CategoryList, "Value", "Text"), new { @class = "md-input label-fixed" })
                                    </div>
                                    <div class="uk-width-medium-1-4">
                                        <label>@Masters.Name<span>*</span></label>
                                        @Html.TextBoxFor(m => m.Name, new { @class = "md-input label-fixed" })
                                    </div>
                                    <div class="uk-width-medium-1-4">
                                        <label>@Masters.AddressLine1<span>*</span></label>
                                        @Html.TextBoxFor(m => m.AddressLine1, new { @class = "md-input label-fixed" })
                                    </div>
                                    <div class="uk-width-medium-1-4">
                                        <label>@Masters.AddressLine2</label>
                                        @Html.TextBoxFor(m => m.AddressLine2, new { @class = "md-input label-fixed" })
                                    </div>
                                </div>
                            </div>
                            <div class="uk-form-row">
                                <div class="uk-grid" data-uk-grid-margin="">
                                    <div class="uk-width-medium-1-8">
                                        <label>@Masters.Country<span>*</span></label>
                                        @Html.DropDownListFor(Model => Model.CountryID, Model.CountryList, new { @class = "md-input label-fixed" })
                                    </div>
                                    <div class="uk-width-medium-1-8">
                                        <label>@Masters.States<span>*</span></label>
                                        @Html.DropDownListFor(Model => Model.StateID, Model.StateList, "Select", new { @class = "md-input label-fixed" })
                                    </div>
                                    <div class="uk-width-medium-1-8">
                                        <label>@Masters.District*</label>
                                        <select id="DistrictID" class="md-input label-fixed District">
                                            <option>Select</option>
                                        </select>
                                    </div>
                                    <div class="uk-width-medium-1-8">
                                        <label>@Masters.PIN<span>*</span></label>
                                        @Html.TextBoxFor(m => m.PinCode, new { @class = "md-input label-fixed" })
                                    </div>
                                    <div class="uk-width-medium-1-8">
                                        <label>@Masters.MobileNo<span>*</span></label>
                                        @Html.TextBoxFor(m => m.MobileNumber, new { @class = "md-input label-fixed", @maxlength = "30" })
                                    </div>
                                    <div class="uk-width-medium-1-8">
                                        <div class="uk-input-group">
                                            <label>@Masters.DOB<span>*</span></label>
                                            @Html.TextBoxFor(m => m.DOB, new { @class = "md-input label-fixed  past-date date" })
                                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-8">
                                        <label>@Masters.GSTNo</label>
                                        @Html.TextBoxFor(m => m.GSTNo, new { @class = "md-input label-fixed", @maxlength = "16" })
                                    </div>
                                    <div class="uk-width-medium-1-4">
                                        <label>@Masters.Email</label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "md-input label-fixed" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

