@model TradeSuiteApp.Web.Areas.Reports.Models.ReportViewModel
@using ReportViewerForMvc;
@{
    ViewBag.ReportTitle = "Purchase Order Report";
}

@Scripts.Render("~/Js/Page/Purchase")
@Scripts.Render("~/Js/Page/Item")
@Html.Partial("~/Areas/Masters/Views/Item/StockRequestItemList.cshtml")

<div id="page_content_inner" class="purchase-report">
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            <div class="section-group">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-2-10 ">
                            <form action="/Reports/Purchase/PurchaseOrder" id="report-filter-form" method="POST">
                                <div class="uk-form-row">
                                    <div class="panel">
                                        <label>Item Type</label>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            @*<div class="uk-width-medium-1-3">
                                                    <input type="radio" name="Type" class="type" data-md-icheck checked="" value="All" /> @Html.Label("All")
                                                </div>*@
                                            @if (TabAuthorization.IsAuthorized("Stock Report"))
                                            {
                                                <div class="uk-width-medium-1-2">
                                                    <input type="radio" id="Stock" name="Type" class="order-type" data-md-icheck checked="" value="Stock" /> @Html.Label("Stock Items")
                                                </div>
                                            }
                                            @if (TabAuthorization.IsAuthorized("Service Report"))
                                            {
                                                <div class="uk-width-medium-1-2">
                                                    <input type="radio" id="Service" name="Type" class="order-type" data-md-icheck value="Service" /> @Html.Label("Service Items")
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="uk-form-row">
                                    <div class="panel">
                                        <label>Report Type</label>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2">
                                                <input type="radio" name="Summary" class="summary" data-md-icheck checked="" value="Summary" /> @Html.Label("Summary")
                                            </div>
                                            <div class="uk-width-medium-1-2">

                                                <input type="radio" name="Summary" class="summary" data-md-icheck value="Detail" /> @Html.Label("Detail")
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="uk-form-row detail uk-hidden" id="Mode">
                                    <div class="panel">
                                        <label>Mode</label>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            @*<div class="uk-width-medium-1-3">
                                                    <input type="radio" name="ReportType" class="report_type" data-md-icheck checked="" value="All" /> @Html.Label("All")
                                                </div>*@
                                            <div class="uk-width-medium-1-2">
                                                <input type="radio" name="ReportType" class="report_type" data-md-icheck checked="" value="Supplier Wise" /> @Html.Label("Supplierwise")
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <input type="radio" name="ReportType" class="report_type" data-md-icheck value="Item Wise" /> @Html.Label("Itemwise")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" value="Stock" id="ItemAutoType" />
                                <div class="uk-form-row ">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-2   ">
                                            <div class="uk-input-group">
                                                <label for="uk_dp_start" class="podate">@Reports.PODateFrom</label>
                                                @Html.TextBoxFor(model => model.FromDate, new { @class = "md-input label-fixed  past-date date" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2 ">
                                            <div class="uk-input-group">
                                                <label class="podateto">@Reports.PODateTo</label>
                                                @Html.TextBoxFor(model => model.ToDate, new { @class = "md-input label-fixed  past-date date" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row summary">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-input-group">
                                                <label class="prdate">@Reports.PRDateFrom</label>
                                                @Html.TextBoxFor(model => model.PRDateFrom, new { @class = "md-input label-fixed  past-date date", @id = "POPRdateFrom" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-input-group">
                                                <label class="prdateto">@Reports.PRDateTo</label>
                                                @Html.TextBoxFor(model => model.PRDateTo, new { @class = "md-input label-fixed  past-date date", @id = "POPRdateTo" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row  " @*id="select-type"*@>
                                    <div class="uk-grid ">
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-autocomplete " id="pono-autocomplete">
                                                <label class="pono">@*@Stock.Item*@ PO No From</label>
                                                @Html.TextBox("PONOFrom", "", new { @class = "md-input label-fixed" })

                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code }}
                                                                @*<div>{{{ $item.ID }}}</div>*@
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.PONOFromID)
                                        </div>
                                        <div class="uk-width-medium-1-2   ">
                                            @*summary*@
                                            <div class="uk-autocomplete " id="ponoTo-autocomplete">
                                                <label class="ponoto">@*@Stock.Item*@ PO No To</label>
                                                @Html.TextBox("PONOTo", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code }}
                                                                @*<div>{{{ $item.ID }}}</div>*@
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.PONOToID)
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row summary " @*id="select-type"*@>
                                    <div class="uk-grid ">
                                        <div class="uk-width-medium-1-2  ">
                                            <div class="uk-autocomplete " id="prno-autocomplete">
                                                <label class="prno">@*@Stock.Item*@ PR No From</label>
                                                @Html.TextBox("PRNOFrom", "", new { @class = "md-input label-fixed" })

                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code }}
                                                                @*<div>{{{ $item.ID }}}</div>*@
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.PRNOFromID)

                                        </div>
                                        <div class="uk-width-medium-1-2 summary">
                                            <div class="uk-autocomplete " id="prnoTo-autocomplete">
                                                <label class="prnoto">@*@Stock.Item*@ PR No To</label>
                                                @Html.TextBox("PRNOTo", "", new { @class = "md-input label-fixed" })

                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code }}
                                                                @*<div>{{{ $item.ID }}}</div>*@
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.PRNOToID)

                                        </div>
                                    </div>
                                </div>


                                @*<br />*@
                                @*<div class="uk-form-row summary">*@
                                <div class="uk-form-row service detail supplier-wise  ">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <label>@Reports.SupplierFrom</label>
                                            @Html.DropDownListFor(Model => Model.FromSupplierRange, Model.FromSupplierRangeList, "Select", new { @class = "md-input label-fixed", @id = "FromSupplierRange" })
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label>@Reports.SupplierTo</label>
                                            @Html.DropDownListFor(Model => Model.ToSupplierRange, Model.ToSupplierRangeList, "Select", new { @class = "md-input label-fixed", @id = "ToSupplierRange" })
                                        </div>
                                    </div>
                                </div>
                                @*<div class="uk-form-row summary">*@
                                <div class="uk-form-row  ">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-2-2 supplier-wise service detail ">
                                            <div class="uk-autocomplete " id="SupplierName-autocomplete">
                                                <label for="uk_dp_start">@Reports.Supplier</label>

                                                @Html.TextBox("SupplierName", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Name }}"
                                                            data-id="{{$item.ID}}"
                                                            data-location="{{$item.Location}}"
                                                            data-state-id="{{$item.StateID}}"
                                                            data-is-gst-registered="{{$item.IsGSTRegistered}}">
                                                            <a>
                                                                {{ $item.Name }} ({{{ $item.Code }}})
                                                                <div>{{{ $item.Location }}}</div>
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.Hidden("SupplierID")
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row uk-hidden " @*stock-supplier-wise-detail*@>
                                    <div class="uk-grid ">
                                        <div class="uk-width-medium-2-2 ">
                                            <div class="uk-autocomplete " id="itemnamelang-autocomplete">
                                                <label>@Reports.ItemNameLanguage</label>
                                                @Html.TextBox("ItemNameLang", "", new { @class = "md-input label-fixed" })

                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Name }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Name }}
                                                                <div>{{{ $item.Code }}}</div>
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.Hidden("ItemID")
                                            @Html.Hidden("ItemTypeID")
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row summary detail item-wise ">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <label>@Reports.ItemNameFrom</label>
                                            @Html.DropDownListFor(Model => Model.FromItemNameRange, Model.FromItemNameRangeList, "Select", new { @class = "md-input label-fixed", @id = "FromItemNameRange" })
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label>@Reports.ItemNameTo</label>
                                            @Html.DropDownListFor(Model => Model.ToItemNameRange, Model.ToItemNameRangeList, "Select", new { @class = "md-input label-fixed", @id = "ToItemNameRange" })
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row summary detail item-wise ">
                                    <div class="uk-grid ">
                                        <div class="uk-width-medium-2-2  ">
                                            <div class="uk-autocomplete " id="item-autocomplete">
                                                <label>@Stock.Item</label>
                                                @Html.TextBox("ItemName", "", new { @class = "md-input label-fixed" })
                                                @*<span class="uk-input-group-addon">
                                                        <a data-uk-modal="{target:'#select-item'}">
                                                            <i class="uk-input-group-icon uk-icon-search"></i>
                                                        </a>
                                                    </span>*@
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Name }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Name }}
                                                                <div>{{{ $item.Code }}}</div>
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.Hidden("ItemID")
                                            @Html.Hidden("ItemTypeID")
                                        </div>

                                    </div>
                                </div>
                                <div class="uk-form-row summary">
                                    @*stock*@
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-2-2">
                                            <label for="uk_dp_start">@Reports.LoginName</label>
                                            @Html.DropDownListFor(Model => Model.UserID, new SelectList(Model.UsersList, "Value", "Text"), "Select", new { @class = "md-input label-fixed", @title = "@Report.Userslist" })
                                        </div>
                                        @*<div class="uk-width-medium-1-3">
                                                <label for="uk_dp_start">@Reports.Location</label>
                                                @Html.DropDownListFor(Model => Model.LocationID, new SelectList(Model.LocationList, "Value", "Text"), "Select", new { @class = "md-input label-fixed", @title = "@Report.Locationlist" })
                                            </div>*@
                                        @*<div class="uk-width-medium-1-3 ">
                                                <label>@Reports.Status</label>
                                                @Html.DropDownListFor(Model => Model.Status, Model.StatusList, "Select", new { @class = "md-input label-fixed" })
                                            </div>*@
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper md-input-filled">
                                                <label>&nbsp;</label>
                                                <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="report-filter-submit">Show</button>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper md-input-filled">
                                                <label>&nbsp;</label>
                                                <a class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light " id="Refresh">Reset</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="uk-width-medium-8-10 ">
                            <div class="uk-form-row">
                                <div class="uk-grid" data-uk-grid-margin="" id="report-viewer">
                                    @*@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    purchase.Orderinit();
</script>

