@model TradeSuiteApp.Web.Areas.Sales.Models.GoodsReceiptModel
@{
    ViewBag.Title = "Form";
}

<div class="section-group">
    <div class="uk-form-row">
        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-medium-8-10">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-8">
                            <label>@Sales.TransNo</label>
                            @Html.TextBoxFor(model => model.TransNo, new { @class = "md-input label-fixed", @readonly = "readonly" })
                        </div>
                        <div class="uk-width-medium-1-8">

                            <label for="uk_dp_start">@Sales.ReceivedDate</label>
                            @Html.TextBoxFor(model => model.TransDate, new { @class = "md-input label-fixed date future-date" })
                        </div>
                        @*<div class="uk-width-medium-1-8">
                                <label for="uk_dp_start">@Sales.CustomerType</label>
                                @Html.DropDownListFor(model => model.CustomerCategoryID, Model.CustomerCategoryList, "Select", new { @class = "md-input label-fixed" })
                            </div>*@
                        @if (Model.ID > 0)
                            {
                                <div class="uk-width-medium-2-8">
                                    <label>@Sales.CustomerName<span>*</span></label>
                                    @Html.TextBoxFor(model => model.CustomerName, new { @class = "md-input label-fixed", @readonly = "readonly" })
                                </div>
                            }
                            else
                            {
                                <div class="uk-width-medium-2-8">
                                    <div class="uk-autocomplete " id="customer-autocomplete">
                                        <div class="uk-input-group">
                                            <label>@Sales.CustomerName<span>*</span></label>
                                            @Html.TextBoxFor(model => model.CustomerName, new { @class = "md-input label-fixed" })
                                            <span class="uk-input-group-addon">
                                                <a data-uk-modal="{target:'#select-customer', center:false}">
                                                    <i class="uk-input-group-icon uk-icon-search"></i>
                                                </a>
                                            </span>
                                            <script type="text/autocomplete">
                                                <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                    {{~items}}
                                                    <li data-value="{{ $item.Name }}"
                                                        data-id="{{$item.ID}}"
                                                        data-code="{{$item.Code}}"
                                                        data-location="{{$item.Location}}"
                                                        data-state-id="{{$item.StateID}}"
                                                        data-price-list-id="{{$item.PriceListID}}"
                                                        data-scheme-id="{{$item.SchemeID}}"
                                                        data-max-credit-limit="{{$item.MaxCreditLimit}}"
                                                        data-outstanding-amount="{{$item.OutStandingAmount}}"
                                                        data-customer-category="{{$item.CustomerCategory}}"
                                                        data-CustomerCategoryID="{{$item.CustomerCategoryID}}"
                                                        data-is-gst-registered="{{$item.IsGSTRegistered}}">
                                                        <a>
                                                            {{ $item.Name }} ({{{ $item.Code }}})
                                                            <div>{{{ $item.Location }}}</div>
                                                        </a>
                                                    </li>
                                                    {{/items}}
                                                </ul>
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            }
                        @Html.HiddenFor(model => model.CustomerID)
                        @Html.HiddenFor(model => model.StateID)
                        @Html.HiddenFor(model => model.PriceListID)
                        @Html.HiddenFor(model => model.IsGSTRegistered)
                        @Html.HiddenFor(model => model.SchemeID)
                        @Html.HiddenFor(model => model.LocationStateID)
                        @Html.HiddenFor(model => model.CheckStock)
                        @Html.HiddenFor(model => model.CustomerCategory)
                        @Html.HiddenFor(model => model.BatchTypeID)
                        @Html.Hidden("TotalFreightAmt")
                        @Html.HiddenFor(model => model.FreightTax)
                        @Html.HiddenFor(model => model.BillingAddressID)
                        @Html.HiddenFor(model => model.ShippingAddressID)
                        @Html.Hidden("FreightTaxAmt")
                        @Html.HiddenFor(model => model.IsGST)
                        @Html.HiddenFor(model => model.IsVat)
                        @Html.HiddenFor(model => model.TaxTypeID)
                        @Html.HiddenFor(model => model.DecimalPlaces)
                        @Html.HiddenFor(model => model.normalclass)
                        <div class="uk-width-medium-1-2">
                            <div class="uk-input-group ">
                                <label>@Sales.SalesOrderSalesInvoiceCounterSales</label>
                                @Html.TextBoxFor(model => model.SalesOrderNos, new { @class = "md-input label-fixed" })
                                <span class="uk-input-group-addon">
                                    <a data-uk-modal="{target:'#select-source' , center:false}">
                                        <i class="uk-input-group-icon uk-icon-search"></i>
                                    </a>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin>

                        <div class="uk-width-medium-1-8">
                            <label>@Sales.AdditionalDiscount</label>
                            @Html.TextBoxFor(model => model.AdditionalDiscount, new { @class = "md-input label-fixed " + Model.normalclass, @tabindex = "-1", @readonly = "readonly" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Sales.TradeDiscAmt</label>
                            @Html.TextBoxFor(model => model.DiscountAmount, new { @class = "md-input label-fixed " + Model.normalclass, @tabindex = "-1", @readonly = "readonly" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Sales.TaxableAmount</label>
                            @Html.TextBoxFor(model => model.TaxableAmount, new { @class = "md-input label-fixed " + Model.normalclass, @tabindex = "-1", @readonly = "readonly" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Sales.GrossAmt</label>
                            @Html.TextBoxFor(model => model.GrossAmount, new { @class = "md-input label-fixed " + Model.normalclass, @tabindex = "-1", @readonly = "readonly" })
                        </div>
                        @*<div class="uk-width-medium-1-8">
                                <label>@Sales.SGST</label>
                                @Html.TextBoxFor(model => model.SGSTAmount, new { @class = "md-input label-fixed " + Model.normalclass, @tabindex = "-1", @readonly = "readonly" })
                            </div>
                            <div class="uk-width-medium-1-8">
                                <label>@Sales.CGST</label>
                                @Html.TextBoxFor(model => model.CGSTAmount, new { @class = "md-input label-fixed " + Model.normalclass, @tabindex = "-1", @readonly = "readonly" })
                            </div>
                            <div class="uk-width-medium-1-8">
                                <label>@Sales.IGST</label>
                                @Html.TextBoxFor(model => model.IGSTAmount, new { @class = "md-input label-fixed " + Model.normalclass, @tabindex = "-1", @readonly = "readonly" })
                            </div>*@
                        <div class="uk-width-medium-1-8 cess-enabled">
                            <label>@Sales.CessAmount</label>
                            @Html.TextBoxFor(model => model.CessAmount, new { @class = "md-input label-fixed " + Model.normalclass, @tabindex = "-1", @readonly = "readonly" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Sales.RoundOff</label>
                            @Html.TextBoxFor(model => model.RoundOff, new { @class = "md-input label-fixed " + Model.normalclass, @tabindex = "-1", @readonly = "readonly" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Sales.Remarks</label>
                            @Html.TextBoxFor(model => model.Remarks, new { @class = "md-input label-fixed", })
                        </div>
                        @*<div class="uk-width-medium-1-8">
                                <label>@Masters.ExchangeRate</label>
                                @Html.TextBoxFor(model => model.CurrencyExchangeRate, new { @class = "md-input label-fixed " + Model.normalclass, @tabindex = "-1", @disabled = "disabled" })
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-2-10">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-1">
                            <label>@Sales.NetAmount</label>
                            @Html.TextBoxFor(model => model.NetAmount, new { @class = "md-input label-fixed x-large " + Model.normalclass, @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-group uk-hidden">
    <div class="uk-form-row">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-10">
                <label for="uk_dp_start">@Sales.SalesType</label>
                @Html.DropDownListFor(Model => Model.SalesTypeID, Model.ItemCategoryList, new { @class = "md-input label-fixed", @id = "ItemCategoryID" })
            </div>
            <div class="uk-width-medium-1-10">
                <label for="uk_dp_start">@Sales.Stores</label>
                @Html.DropDownListFor(Model => Model.StoreID, Model.StoreList, "Select", new { @class = "md-input label-fixed", @disabled = "disabled" })
            </div>
            <div class="uk-width-medium-1-10">
                <label for="uk_dp_start">@Sales.SalesCategory</label>
                @Html.DropDownListFor(Model => Model.SalesCategoryID, Model.SalesCategoryList, "Select", new { @class = "md-input label-fixed" })
            </div>
            <div class="uk-width-medium-3-10">
                <div class="uk-autocomplete " id="item-autocomplete">
                    <div class="uk-input-group">
                        <label>@Sales.ItemName <span>*</span></label>
                        <input type="text" id="ItemName" class="md-input label-fixed" />
                        <span class="uk-input-group-addon">
                            <a data-uk-modal="{target:'#select-item',center:false}">
                                <i class="uk-input-group-icon uk-icon-search"></i>
                            </a>
                        </span>
                        <script type="text/autocomplete">
                            <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                {{~items}}
                                <li data-value="{{ $item.Name }}"
                                    data-id="{{$item.ID}}"
                                    data-code="{{$item.Code}}"
                                    data-unit="{{$item.Unit}}"
                                    data-unit-id="{{$item.UnitID}}"
                                    data-sale-unit="{{$item.SalesUnit}}"
                                    data-sale-unit-id="{{$item.SalesUnitID}}"
                                    data-CGSTPercentage="{{$item.CGSTPercentage}}"
                                    data-IGSTPercentage="{{$item.IGSTPercentage}}"
                                    data-SGSTPercentage="{{$item.SGSTPercentage}}"
                                    data-cess-percentage="{{$item.CessPercentage}}"
                                    data-loose-rate="{{$item.LooseRate}}"
                                    data-rate="{{$item.Rate}}"
                                    data-stock="{{$item.Stock}}">
                                    <a>
                                        {{ $item.Name }}
                                        <div>{{$item.Code}} &nbsp; (Stock : {{$item.Stock}})</div>
                                    </a>
                                </li>
                                {{/items}}
                            </ul>
                        </script>
                    </div>
                </div>
                @Html.Hidden("ItemID")
                @Html.Hidden("Code")
                @Html.Hidden("Stock")
                @Html.Hidden("DiscountPercentage")
                @Html.Hidden("CGSTPercentage")
                @Html.Hidden("IGSTPercentage")
                @Html.Hidden("SGSTPercentage")
                @Html.Hidden("CessPercentage")
                @Html.Hidden("Rate")
                @Html.Hidden("FromStoreID")
                @Html.Hidden("PrimaryUnit")
                @Html.Hidden("PrimaryUnitID")
                @Html.Hidden("SalesUnit")
                @Html.Hidden("SalesUnitID")
                @Html.Hidden("Rate")
                @Html.Hidden("LooseRate")
            </div>
            <div class="uk-width-medium-1-10">
                <label>@Sales.Unit </label>
                @Html.DropDownListFor(Model => Model.UnitID, Model.UnitList, "Select", new { @class = "md-input label-fixed" })
            </div>
            <div class="uk-width-medium-1-10">
                <label>@Sales.Qty <span>*</span></label>
                <input type="text" id="Qty" class="md-input mask-sales2-currency label-fixed" />
            </div>
            <div class="uk-width-medium-1-10">
                <div class="md-input-wrapper md-input-filled">
                    <label>&nbsp;</label>
                    <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="btnAddItem">@Common.Add</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-group">
    <div class="uk-grid">
        <div class="uk-width-1-1">

            <table id="goods-receipt-items-list" class="uk-table" cellspacing="0">
                <thead>
                    <tr>
                        <th class="width-10">@Common.SerialNo</th>
                        <th class="width-80">@Sales.ItemCode</th>
                        <th class="width-150">@Sales.ItemName</th>
                        <th class="width-150">@Sales.PartsNumber</th>
                        <th class="width-150">@Sales.Remarks</th>
                        <th class="width-150">@Masters.Model</th>
                        <th class="width-10">@Sales.Unit</th>
                        @*<th class="width-10">@Sales.BatchType</th>
                            <th class="width-40">@Sales.Batch</th>*@
                        <th class="width-100">@Sales.Qty</th>
                        <th class="width-80">@Sales.OfferQty</th>
                        <th class="width-100 mrp_hidden">@Sales.MRP</th>
                        <th class="width-100">@Sales.BasicPrice</th>
                        <th class="width-100">@Sales.GrossAmt</th>
                        <th class="width-60">@Sales.AdditionalDiscount</th>
                        <th class="width-60">@Sales.TradeDiscPer</th>
                        <th class="width-100">@Sales.TradeDiscAmt</th>
                        <th class="width-100">@Sales.TaxableAmount</th>
                        @*<th class="width-40">@Sales.GST</th>
                            <th class="width-100">@Sales.GSTAmount</th>
                            <th class="width-20 cess-enabled">@Sales.Cess</th>
                            <th class="width-40 cess-enabled">@Sales.CessAmount</th>*@
                        <th class="width-100">@Sales.NetAmount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Items != null)
                    {
                        foreach (var item in Model.Items.Select((value, i) => new { i = (i + 1), value }))
                        {
                            var title = (@item.value.SalesOrderNo == "" ? "" : "Order No : " + @item.value.SalesOrderNo + "<br/>")
                               + "Order Quantity : " + @item.value.Qty + " " + @item.value.UnitName + "<br/>"
                               + "Offer Quantity : " + @item.value.OfferQty + " " + @item.value.UnitName + "<br/>"
                               + "Stock : " + @item.value.Stock + " " + @item.value.UnitName;
                            var @QtyMet = @item.value.InvoiceQtyMet ? "" : "qty-not-met";
                            var @OfferQtyMet = @item.value.InvoiceOfferQtyMet ? "" : "offer-qty-not-met";
                            var @InSufficientStock = ""; /*@item.value.InvoiceQty > @item.value.Stock ? "insufficient-stock" : "";*/
                            <tr class="included @QtyMet @OfferQtyMet @InSufficientStock quantity-@item.value.InvoiceQty" data-uk-tooltip="{cls:long-text}" title="@title">
                                <td class="uk-text-center">
                                    @item.i
                                    <input type="hidden" class="ItemID included" value="@item.value.ItemID">
                                    <input type="hidden" class="Code included" value="@item.value.Code">
                                    <input type="hidden" class="ItemName included" value="@item.value.ItemName">
                                    <input type="hidden" class="PartsNumber included" value="@item.value.PartsNumber">
                                    <input type="hidden" class="Remarks included" value="@item.value.Remarks">
                                    <input type="hidden" class="Model included" value="@item.value.Model">
                                    <input type="hidden" class="PrintWithItemName included" value="@item.value.PrintWithItemName">
                                    <input type="hidden" class="TransNo included" value="@item.value.TransNo" />
                                    <input type="hidden" class="BatchID included" value="@item.value.BatchID" />
                                    <input type="hidden" class="BatchTypeID included" value="@item.value.BatchTypeID" />
                                    <input type="hidden" class="UnitID included" value="@item.value.UnitID">
                                    <input type="hidden" class="SalesInvoiceID included" value="@item.value.SalesInvoiceID" />
                                    <input type="hidden" class="SalesInvoiceTransID included" value="@item.value.SalesInvoiceTransID" />
                                    <input type="hidden" class="SalesOrderID included" value="@item.value.SalesOrderID" />
                                    <input type="hidden" class="SalesOrderItemTransID included" value="@item.value.SalesOrderItemTransID" />
                                    <input type="hidden" class="CounterSalesID included" value="@item.value.CounterSalesID" />
                                    <input type="hidden" class="CounterSalesItemTransID included" value="@item.value.CounterSalesItemTransID" />
                                    <input type="hidden" class="IsGST included" value="@item.value.IsGST" />
                                    <input type="hidden" class="IsVat included" value="@item.value.IsVat" />
                                    <input type="hidden" class="CurrencyID included" value="@item.value.CurrencyID" />
                                    <input type="hidden" class="VATPercentage included" value="@item.value.VATPercentage" />
                                    <input type="hidden" class="IGSTPercentage included" value="@item.value.IGSTPercentage">
                                    <input type="hidden" class="SGSTPercentage included" value="@item.value.SGSTPercentage">
                                    <input type="hidden" class="CGSTPercentage included" value="@item.value.CGSTPercentage">
                                    <input type="hidden" class="InvoiceTransID included" value="@item.value.ProformaInvoiceTransID">
                                    <input type="hidden" class="OrderTransID included" value="@item.value.SalesOrderItemID">
                                    <input type="hidden" class="StoreID included" value="@item.value.StoreID">
                                    <input type="hidden" class="OrderQty included" value="@item.value.Qty" />
                                    <input type="hidden" class="OfferQty included" value="@item.value.OfferQty" />
                                    <input type="hidden" class="Stock included" value="@item.value.Stock" />
                                    <input type="hidden" class="LooseRate included" value="@item.value.LooseRate" />
                                    <input type="hidden" class="Rate included" value="@item.value.Rate" />
                                    <input type="hidden" class="SalesUnitID included" value="@item.value.SalesUnitID" />
                                    <input type="hidden" class="PackSize included" value="@item.value.PackSize" />
                                    <input type="hidden" class="PrimaryUnit included" value="@item.value.PrimaryUnit" />
                                    <input type="hidden" class="CategoryID included" value="@item.value.CategoryID" />
                                </td>
                                <td class="uk-text-small">@item.value.Code</td>
                                <td class="uk-text-small">@item.value.ItemName</td>
                                <td class="uk-text-small">@item.value.PartsNumber</td>
                                <td class="uk-text-small">@item.value.Remarks</td>
                                <td class="uk-text-small">@item.value.Model</td>
                                <td class="uk-hidden UnitName">@item.value.UnitName</td>
                                <td class="SecondaryUnit">@item.value.SecondaryUnit</td>
                                @*<td class="BatchType">@item.value.BatchTypeName</td>
        <td class="BatchName">@item.value.BatchName</td>*@
                                <td class="uk-hidden"><input type="text" class="InvoiceQty included md-input mask-sales2-currency" readonly="readonly" value="@item.value.InvoiceQty"></td>
                                <td><input type="text" class="SecondaryQty included md-input mask-sales2-currency" readonly="readonly" value="@item.value.SecondaryQty"></td>
                                <td><input type="text" class="InvoiceOfferQty included md-input mask-sales2-currency" value="@item.value.InvoiceOfferQty" readonly="readonly"></td>
                                <td class="uk-hidden mrp_hidden"><input type="text" class="MRP included md-input @Model.normalclass" value="@item.value.MRP" readonly="readonly"></td>
                                <td><input type="text" class="SecondaryMRP included md-input @Model.normalclass" value="@item.value.SecondaryMRP" readonly="readonly"></td>
                                <td><input type="text" class="BasicPrice included md-input @Model.normalclass" value="@item.value.BasicPrice" readonly="readonly"></td>
                                <td><input type="text" class="GrossAmount included md-input @Model.normalclass" value="@item.value.GrossAmount" readonly="readonly"></td>
                                <td><input type="text" class="DiscountPercentage included md-input  @Model.normalclass" value="@item.value.DiscountPercentage" readonly="readonly"></td>
                                <td><input type="text" class="DiscountAmount included md-input  @Model.normalclass" value="@item.value.DiscountAmount" readonly="readonly"></td>
                                <td><input type="text" class="TaxableAmount included md-input  @Model.normalclass" value="@item.value.TaxableAmount" readonly="readonly"></td>
                                @*<td><input type="text" class="GST included md-input  @Model.normalclass" value="@item.value.GSTPercentage" readonly="readonly"></td>
        <td><input type="text" class="GSTAmount included md-input  @Model.normalclass" value="@item.value.GSTAmount" readonly="readonly"></td>
        <td class="cess-enabled"><input type="text" class="@Model.normalclass CessPercentage" value="@item.value.CessPercentage" readonly="readonly" /></td>
        <td class="cess-enabled"><input type="text" class="@Model.normalclass CessAmount" value="@item.value.CessAmount" readonly="readonly" /></td>*@
                                <td><input type="text" class="NetAmount included md-input  @Model.normalclass" value="@item.value.NetAmount" readonly="readonly"></td>
                                <td class="uk-text-center action">
                                    <a class="remove-item">
                                        <i class="uk-icon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <input type="hidden" value="@Model.Items.Count()" id="item-count">

        </div>
    </div>
</div>
@Html.Partial("~/Areas/Masters/Views/Customer/PartialList.cshtml")
@Html.Partial("~/Areas/Masters/Views/Item/PartialList.cshtml")
@Html.Partial("/Areas/Sales/Views/GoodsReceiptNote/SourceList.cshtml")
