@model BusinessObject.CustomerCreditSummaryBO
<div>
    <table>
        <tr>
            <td class="width-150 uk-text-right uk-text-muted uk-text-small uk-text-italic">Customer: </td>
            <td>@Model.CustomerName</td>
        </tr>
        <tr>
            <td class="width-150 uk-text-right uk-text-muted uk-text-small uk-text-italic">Address: </td>
            <td>@Model.BillingAddress1</td>
        </tr>
        <tr>
            <td class="width-150 uk-text-right uk-text-muted uk-text-small uk-text-italic">District: </td>
            <td>@Model.District</td>
        </tr>
        <tr>
            <td class="width-150 uk-text-right uk-text-muted uk-text-small uk-text-italic">State: </td>
            <td>@Model.State</td>
        </tr>
        <tr>
            <td class="width-150 uk-text-right uk-text-muted uk-text-small uk-text-italic">Credit Limt: </td>
            <td><span class="mask-currency width-100">@Model.CreditLimit </span></td>      
        </tr>
        <tr>
            <td class="width-150 uk-text-right uk-text-muted uk-text-small uk-text-italic">Min. sales Amount: </td>
            <td><span class="mask-currency width-100">@Model.MinimumCreditLimit </span></td>
        </tr>
        <tr>
            <td class="width-150 uk-text-right uk-text-muted uk-text-small uk-text-italic">Pending Amount: </td>
            <td><span class="mask-currency width-100">@Model.ReceivablesAsOnDate</span></td>
        </tr>
            <tr>
            <td class="width-150 uk-text-right uk-text-muted uk-text-small uk-text-italic">Over Due Amount: </td>
            <td><span class="mask-currency width-100">@Model.OverDueAmount</span></td>
        </tr>
        <tr>
            <td class="width-150 uk-text-right uk-text-muted uk-text-small uk-text-italic">Bill Amount: </td>
            <td><span class="mask-currency width-100">@Model.BillAmount</span></td>
        </tr>    
        <tr>
            <td class="width-150 uk-text-right uk-text-muted uk-text-small uk-text-italic">Total Receivables: </td>
            <td ><span class="mask-currency width-100">@Model.CurrentReceivables</span></td>
        </tr>
        <tr>
            <td class="width-150 uk-text-right uk-text-muted uk-text-small uk-text-italic">Credit Days: </td>
            <td>@Model.CreditDays</td>
        </tr>
        <tr>
            <td class="width-150 uk-text-right uk-text-muted uk-text-small uk-text-italic">Outstanding Days: </td>
            <td>@Model.OutstandingDays</td>
        </tr>
    </table>

</div>
