@model TradeSuiteApp.Web.Areas.AHCMS.Models.AppointmentScheduleModel
@if (Model.ConsulationItem != null)
{
    foreach (var item in Model.ConsulationItem.Select((value, i) => new { i = (i + 1), value }))
    {
        <tr>
            <td class="uk-text-center">
                @item.i
            </td>
            <td class="Treatment">@item.value.ItemName
                <input type="hidden" class="ItemID" value="@item.value.ItemID" /></td>
            <td>
                <input type="text" class="md-input label-fixed rate  mask-currency" value="@item.value.Rate" data-org-rate="@item.value.Rate"/>
            </td>
            <td>
                <input type="text" class="md-input label-fixed netamount mask-currency" value="@item.value.Rate" disabled />
            </td>
            <td >
                <input type="text" class="md-input label-fixed remarks" />
            </td>
        </tr>
    }
}


