
@*<input type="button" id="show-add-patient" data-uk-modal="{target:'#add-patient', center:false}" />*@
<div class="uk-modal" id="select-patient" aria-hidden="true">
        <div class="uk-modal-dialog uk-modal-dialog-large" style="">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Select Patient<i class="material-icons" data-uk-tooltip="{pos:'top'}" title="headline tooltip"></i></h3>
            </div>
     

                <table id="patient-list" class="uk-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="width-30">
                                @Common.SerialNo
                            </th>
                           <th class="width-10"></th>
                            <th class="width-30">
                                @Masters.HIN
                            </th>
                            <th class="width-60">
                                @Masters.Name
                            </th>
                            <th class="width-30">
                                @Masters.Place
                            </th>
                            <th class="width-30">
                                @Masters.District
                            </th>
                            <th class="width-30">
                                @Masters.Doctor
                            </th>
                            <th class="width-30">
                                @Masters.Phone
                            </th>
                            <th class="width-30">
                                @Masters.LastVisitDate
                            </th>
                            <th class="width-20"></th>
                            <th class="width-20"></th>
                        </tr>
                    </thead>
                    <thead class="search">
                        <tr>
                            <th>
                                @Common.SerialNo
                            </th>
                            <th></th>
                            <th class="width-30">
                                @Masters.HIN
                            </th>
                            <th class="width-60">
                                @Masters.Name
                            </th>
                            <th class="width-30">
                                @Masters.Place
                            </th>
                            <th class="width-30">
                                @Masters.District
                            </th>
                            <th class="width-30">
                                @Masters.Doctor
                            </th>
                            <th class="width-30">
                                @Masters.Phone
                            </th>
                            <th class="width-30">
                                @Masters.LastVisitDate
                            </th>
                            <th class="width-20"></th>
                            <th class="width-20"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>


     
            <div class="uk-modal-footer uk-text-right">
                <button type="button" class="md-btn  uk-modal-close">@Common.Close</button>
                <button type="button" class="md-btn md-btn-primary" id="btnOkAddPatient">Ok</button>
            </div>
        </div>
    </div>


