@model IEnumerable<TradeSuiteApp.Web.Areas.Accounts.Models.PaymentVoucherModel>
@{
    ViewBag.Title = "Payment Voucher ";

}
<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 54, media: 960 }">
        <div class="heading_title">
            <h1>@Accounts.PaymentVoucherTitle</h1>
            <span class="uk-text-upper uk-text-small">@Accounts.PaymentVoucherTitle</span>
        </div>
        <div class="heading_actions">
            @ActionAuthorization.IsAuthorized("Create", Html.ActionLink(Common.Create, "CreateV3", "PaymentVoucher", new { Area = "Accounts" }, new { @class = "md-btn" }))


            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a>Print</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="page_content_inner" class="list-view">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <ul class="uk-tab hai" data-uk-tab="{connect:'#tabs-payment-voucher',animation:'slide-horizontal'}" id="tabs-paymentvoucher">
                    <li class="uk-active" data-tab="draft"><a>@Accounts.Draft</a></li>
                    <li class="" data-tab="saved-paymentvoucher"><a>@Accounts.SavedPaymentVoucher</a></li>
                </ul>

                <ul id="tabs-payment-voucher" class="uk-switcher uk-margin">
                    <li>
                        <table id="draft-list" class="uk-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="width-20">@Common.SerialNo</th>
                                    <th class="width-80">@Accounts.VoucherNumber</th>
                                    <th class="width-80">@Accounts.VoucherDate</th>
                                    <th>@Masters.AccountHead</th>
                                    <th class="width-80">@Accounts.Amount</th>
                                    <th class="width-80">@Accounts.ReconciledDate</th>
                                </tr>
                            </thead>
                            <thead class="search">
                                <tr>
                                    <th class="width-20">@Common.SerialNo</th>
                                    <th class="width-80">@Accounts.VoucherNumber</th>
                                    <th class="width-80">@Accounts.VoucherDate</th>
                                    <th>@Masters.AccountHead</th>
                                    <th class="width-80">@Accounts.Amount</th>
                                    <th class="width-80">@Accounts.ReconciledDate</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </li>
                    <li>
                        <table id="savedpayment-list" class="uk-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="width-20">@Common.SerialNo</th>
                                    <th class="width-80">@Accounts.VoucherNumber</th>
                                    <th class="width-80">@Accounts.VoucherDate</th>
                                    <th>@Masters.AccountHead</th>
                                    <th class="width-80">@Accounts.Amount</th>
                                    <th class="width-80">@Accounts.ReconciledDate</th>
                                </tr>
                            </thead>
                            <thead class="search">
                                <tr>
                                    <th class="width-20">@Common.SerialNo</th>
                                    <th class="width-80">@Accounts.VoucherNumber</th>
                                    <th class="width-80">@Accounts.VoucherDate</th>
                                    <th>@Masters.AccountHead</th>
                                    <th class="width-80">@Accounts.Amount</th>
                                    <th class="width-80">@Accounts.ReconciledDate</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Js/Page/VoucherV3")
@Html.Partial("~/Areas/Accounts/Views/Receipt/ReconsilationDate.cshtml")
<script type="text/javascript">
    voucherCRUD.list();
    voucherCRUD.bind_events();
</script>
