<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <div class="heading_actions">
            <a  data-uk-tooltip="{pos:'bottom'}" title="Print"><i class="md-icon material-icons">&#xE8AD;</i></a>
            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a >@Common.Action</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <h1>Advance Return</h1>
        <span class="uk-text-upper uk-text-small">Advance Return</span>
    </div>
    <div id="page_content_inner">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="md-card-toolbar">
                    @Html.ActionLink(Common.SaveAndPost, "AdvanceReturn", "AdvanceReturn", new { Area = "Purchase" }, new { @class = "md-btn " })
                    @Html.ActionLink(Common.SaveAsDraft, "AdvanceReturn", "AdvanceReturn", new { Area = "Purchase" }, new { @class = "md-btn " })
                    @Html.ActionLink(Common.Close, "AdvanceReturn", "AdvanceReturn", new { Area = "Purchase" }, new { @class = "md-btn " })
                </div>
                <h3 class="heading_a"></h3>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-form-row">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-1">
                                    <div class="uk-form-row">
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-10">
                                                <label>AR No</label>
                                                <input type="text" class="md-input label-fixed" disabled="disabled" />
                                            </div>
                                            <div class="uk-width-medium-1-10">
                                                <label>AR Date</label>
                                                <input type="text" class="md-input label-fixed" disabled="disabled" />
                                            </div>
                                            <div class="uk-width-medium-1-6">
                                                <label>@Payment.Category</label>
                                                <select class="md-input label-fixed" data-uk-tooltip="{pos:'top'}" title="Payment Terms">
                                                    <option value="a">Employee</option>
                                                    <option value="b">Supplier</option>
                                                </select>
                                            </div>
                                            <div class="uk-width-medium-1-4">
                                                <div class="uk-input-group">
                                                    <label>@Payment.Name</label>
                                                    <input type="text" class="md-input label-fixed" />
                                                    <span class="uk-input-group-addon"><a  data-uk-modal="{target:'#select_supplier'}"><i class="material-icons md-24"><b></b></i></a></span>
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-6">
                                                <label>@Payment.ModeOfPayment</label>
                                                <select class="md-input label-fixed" id="mode_of_payment" data-uk-tooltip="{pos:'top'}" title="Payment Terms">
                                                    <option value="a">Cash</option>
                                                    <option value="b">Bank</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2" style="display:none" id="bank_numbers">
                                    <div class="uk-form-row">
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-3">
                                                <label>@Payment.AccountNumber</label>
                                                <input type="text" class="md-input label-fixed" />
                                            </div>
                                            <div class="uk-width-medium-1-3">
                                                <label>@Payment.ReferenceNumber</label>
                                                <input type="text" class="md-input label-fixed" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="tablescroll">
                    <table id="advance_return" class="uk-table" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="width-40">@Common.SerialNo</th>
                                <th class="width-40">@Payment.Amount</th>
                                <th class="width-40">@Payment.Date</th>
                                <th class="width-40">@Payment.AmountReturned</th>
                                <th class="width-200">@Payment.Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="uk-text-center">1</td>
                                <td class="uk-text-right">0</td>
                                <td class="date">02-Nov-2017</td>
                                <td class="uk-text-right"><input type="text" class="md-input uk-text-right" /></td>
                                <td><input type="text" class="md-input" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-form-row">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-2">
                                </div>
                                <div class="uk-width-medium-1-3">
                                </div>
                                <div class="uk-width-medium-1-10">
                                    <label>@Payment.TotalAmount</label>
                                    <input type="text" class="md-input label-fixed uk-text-right" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br />
                <div class="uk-modal " id="select_supplier" aria-hidden="true" style="display: none; overflow-y: scroll;">
                    <div class="uk-modal-dialog" style="">
                        <div class="uk-modal-header">
                            <h3 class="uk-modal-title">Select Supplier <i class="material-icons" data-uk-tooltip="{pos:'top'}" title="headline tooltip"></i></h3>
                        </div>
                        <table id="supplier-list" class="uk-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="width-10">@Common.SerialNo</th>
                                    <th class="width-10"></th>
                                    <th class="width-250">@PurchaseOrder.Supplier</th>
                                    <th class="width-120">@PurchaseOrder.SupplierLocation</th>
                                </tr>
                            </thead>
                            <thead class="search">
                                <tr>
                                    <th class="width-10">@Common.SerialNo</th>
                                    <th class="width-10"></th>
                                    <th class="width-250">@PurchaseOrder.Supplier</th>
                                    <th class="width-120">@PurchaseOrder.SupplierLocation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="uk-text-center">1</td>
                                    <td class="uk-text-center checked" data-md-icheck><input type="radio" name="supplier" /></td>
                                    <td>Supplier 1</td>
                                    <td>Thrissur</td>
                                </tr>
                                <tr>
                                    <td class="uk-text-center">2</td>
                                    <td class="uk-text-center checked" data-md-icheck><input type="radio" name="supplier" /></td>
                                    <td>Supplier 2</td>
                                    <td>Ernakulam</td>
                                </tr>
                                <tr>
                                    <td class="uk-text-center">3</td>
                                    <td class="uk-text-center checked" data-md-icheck><input type="radio" name="supplier" /></td>
                                    <td>Supplier 3</td>
                                    <td>Thrissur</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="uk-modal-footer uk-text-right">
                            <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button>
                            <button type="button" class="md-btn md-btn-flat uk-modal-close">Ok</button>
                        </div>
                    </div>
                </div>
                <div class="md-card-toolbar md-card-toolbar-bottom">
                    @Html.ActionLink(Common.SaveAndPost, "AdvanceReturn", "AdvanceReturn", new { Area = "Purchase" }, new { @class = "md-btn " })
                    @Html.ActionLink(Common.SaveAsDraft, "AdvanceReturn", "AdvanceReturn", new { Area = "Purchase" }, new { @class = "md-btn " })
                    @Html.ActionLink(Common.Close, "AdvanceReturn", "AdvanceReturn", new { Area = "Purchase" }, new { @class = "md-btn " })
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Js/Page/Supplier")
@Scripts.Render("~/Js/Page/AdvanceReturn")