@model IEnumerable<TradeSuiteApp.Web.Areas.Accounts.Models.ReceiptVoucherModel>

@{
    ViewBag.Title = "Receipt Voucher";

}
<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <div class="heading_title">
            <h1>@Accounts.ReceiptVoucherTitle</h1>
            <span class="uk-text-upper uk-text-small">@Accounts.ReceiptVoucherTitle</span>
        </div>
        <div class="heading_actions">
            @ActionAuthorization.IsAuthorized("Create", Html.ActionLink(Common.Create, "Create", "Receipt", new { Area = "Accounts" }, new { @class = "md-btn" }))
            
            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a >@Common.Action</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="page_content_inner" class="list-view">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <ul class="uk-tab hai" data-uk-tab="{connect:'#tabs-receipt-content',animation:'slide-horizontal'}" id="tabs-receipt">
                   
                    <li class="uk-active received"><a>@Accounts.Received</a></li>
                    <li class="draft"><a>@Accounts.Draft</a></li>
                    <li class="cancelled"><a class="uk-hidden">@Accounts.Cancelled</a></li>
                </ul>
                <ul id="tabs-receipt-content" class="uk-switcher uk-margin">
                  

                    <li>
                        <table id="received-list" class="uk-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="width-20">@Common.SerialNo</th>
                                    <th class="width-80">@Accounts.ReceiptNo</th>
                                    <th class="width-80">@Accounts.InvoiceDate</th>
                                    <th>@Accounts.Customer</th>
                                    <th class="width-80">@Accounts.ModeOfReceipt</th>
                                    <th class="width-80">@Accounts.ReceiptAmount</th>
                                </tr>
                            </thead>
                            <thead class="search">
                                <tr>
                                    <th class="width-20">@Common.SerialNo</th>
                                    <th class="width-80">@Accounts.ReceiptNo</th>
                                    <th class="width-80">@Accounts.InvoiceDate</th>
                                    <th>@Accounts.Customer</th>
                                    <th class="width-80">@Accounts.ModeOfReceipt</th>
                                    <th class="width-80">@Accounts.ReceiptAmount</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </li>
                    <li>
                        <table id="draft-list" class="uk-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="width-20">@Common.SerialNo</th>
                                    <th class="width-80">@Accounts.ReceiptNo</th>
                                    <th class="width-80">@Accounts.InvoiceDate</th>
                                    <th>@Accounts.Customer</th>
                                    <th class="width-80">@Accounts.ModeOfReceipt</th>
                                    <th class="width-80">@Accounts.ReceiptAmount</th>
                                </tr>
                            </thead>
                            <thead class="search">
                                <tr>
                                    <th class="width-20">@Common.SerialNo</th>
                                    <th class="width-80">@Accounts.ReceiptNo</th>
                                    <th class="width-80">@Accounts.InvoiceDate</th>
                                    <th>@Accounts.Customer</th>
                                    <th class="width-80">@Accounts.ModeOfReceipt</th>
                                    <th class="width-80">@Accounts.ReceiptAmount</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </li>
                    <li>
                        <table id="cancelled-list" class="uk-table uk-hidden" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="width-20">@Common.SerialNo</th>
                                    <th class="width-80">@Accounts.ReceiptNo</th>
                                    <th class="width-80">@Accounts.InvoiceDate</th>
                                    <th>@Accounts.Customer</th>
                                    <th class="width-80">@Accounts.ModeOfReceipt</th>
                                    <th class="width-80">@Accounts.ReceiptAmount</th>
                                </tr>
                            </thead>
                            <thead class="search">
                                <tr>
                                    <th class="width-20">@Common.SerialNo</th>
                                    <th class="width-80">@Accounts.ReceiptNo</th>
                                    <th class="width-80">@Accounts.InvoiceDate</th>
                                    <th>@Accounts.Customer</th>
                                    <th class="width-80">@Accounts.ModeOfReceipt</th>
                                    <th class="width-80">@Accounts.ReceiptAmount</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Js/Page/ReceiptVoucher")

<script type="text/javascript">
    receipt.list();
</script>