@model TradeSuiteApp.Web.Areas.Purchase.Models.InterCompanyPurchaseInvoiceModel
@{
    ViewBag.Title = "Form";
}

<div class="section-group">
    <div class="uk-form-row">
        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-medium-8-10">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-8">
                            <label>@Purchase.TransNo</label>
                            @Html.TextBoxFor(model => model.PurchaseNo, new { @class = "md-input label-fixed", @readonly = "readonly" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label for="uk_dp_start">@Purchase.TransDate</label>
                            @Html.TextBoxFor(model => model.PurchaseDate, new { @class = "md-input label-fixed", @readonly = "readonly" })
                        </div>


                        <div class="uk-width-medium-2-8">
                            <div class="uk-autocomplete " id="supplier-autocomplete">
                                <div class="uk-input-group">
                                    <label>@Purchase.Supplier<span>*</span></label>
                                    @Html.TextBox("SupplierName", "", new { @class = "md-input label-fixed" })
                                    <span class="uk-input-group-addon">
                                        <a data-uk-modal="{target:'#select-supplier',center:false }">
                                            <i class="uk-input-group-icon uk-icon-search"></i>
                                        </a>
                                    </span>
                                    <script type="text/autocomplete">
                                        <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                            {{~items}}
                                            <li data-value="{{ $item.Name }}"
                                                data-id="{{$item.ID}}"
                                                data-location="{{$item.Location}}"
                                                data-state-id="{{$item.StateID}}"
                                                data-Item-Category="{{$item.ItemCategory}}"
                                                data-payment-days="{{$item.PaymentDays}}"
                                                data-customer-id="{{$item.CustomerID}}"
                                                data-location-id="{{$item.LocationID}}"
                                                data-is-gst-registered="{{$item.IsGSTRegistered}}">
                                                <a>
                                                    {{ $item.Name }} ({{ $item.Code }})
                                                    <div>{{{ $item.Location }}}</div>

                                                </a>
                                            </li>
                                            {{/items}}
                                        </ul>
                                    </script>
                                </div>
                                @Html.HiddenFor(model => model.SupplierID, new { @class = "md-input label-fixed" })

                                @Html.Hidden("CustomerID")
                                @Html.Hidden("LocationID")
                                @Html.Hidden("ShippingAddressID")
                                @Html.Hidden("BillingAddressID")
                                @Html.Hidden("TotalDifference")
                                @Html.Hidden("SalesInvoiceID")
                                @Html.Hidden("PaymentModeID")
                            </div>
                        </div>
                        <div class="uk-width-medium-1-8 grn">
                            <div class="uk-autocomplete " id="invoice-autocomplete">
                                <div class="uk-input-group">
                                    <label>@Purchase.SelectInvoice<span>*</span></label>
                                    @Html.TextBox("InvoiceNo", "", new { @class = "md-input label-fixed" })
                                    <span class="uk-input-group-addon">
                                        <a class="GetInvoice" data-uk-modal="{target:'#get-Invoice',center:false}">
                                            <i class="uk-input-group-icon uk-icon-search"></i>
                                        </a>
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Purchase.SalesInvoiceNo</label>
                            @Html.TextBoxFor(model => model.SalesInvoiceNo, new { @class = "md-input label-fixed", @tabindex = "-1", @readonly = "readonly" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Purchase.SalesInvoiceDate</label>
                            @Html.TextBoxFor(model => model.SalesInvoiceDate, new { @class = "md-input  label-fixed", @tabindex = "-1", @readonly = "readonly" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Purchase.GrossAmount</label>
                            @Html.TextBoxFor(model => model.GrossAmount, new { @class = "md-input mask-sales-currency label-fixed", @tabindex = "-1", @readonly = "readonly" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Purchase.AdditionalDiscount</label>
                            @Html.TextBoxFor(model => model.AdditionalDiscount, new { @class = "md-input mask-sales-currency label-fixed", @tabindex = "-1", @readonly = "readonly" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Purchase.TradeDisc</label>
                            @Html.TextBoxFor(model => model.DiscountAmount, new { @class = "md-input mask-sales-currency label-fixed", @tabindex = "-1", @readonly = "readonly" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Purchase.TurnoverDisc</label>
                            @Html.TextBoxFor(model => model.TurnoverDiscount, new { @class = "md-input mask-sales-currency label-fixed", @tabindex = "-1", @readonly = "readonly" })
                            @Html.HiddenFor(model => model.TurnoverDiscountAvailable)
                        </div>

                        <div class="uk-width-medium-1-8">
                            <label>@Purchase.TaxableAmount</label>
                            @Html.TextBoxFor(model => model.TaxableAmount, new { @class = "md-input mask-sales-currency label-fixed", @tabindex = "-1", @readonly = "readonly" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Purchase.SGST</label>
                            @Html.TextBoxFor(model => model.SGSTAmount, new { @class = "md-input mask-sales-currency label-fixed", @tabindex = "-1", @readonly = "readonly" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Purchase.CGST</label>
                            @Html.TextBoxFor(model => model.CGSTAmount, new { @class = "md-input mask-sales-currency label-fixed", @tabindex = "-1", @readonly = "readonly" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Purchase.IGST</label>
                            @Html.TextBoxFor(model => model.IGSTAmount, new { @class = "md-input mask-sales-currency label-fixed", @tabindex = "-1", @readonly = "readonly" })
                        </div>
                        @*<div class="uk-width-medium-1-8">
                                <label>@Sales.EnableCashDiscount</label>
                                <span class="icheck-inline" data-md-icheck>
                                    @Html.CheckBox("CashDiscountEnabled", new { @class = "md-input label-fixed", @disabled = "disabled" })
                                </span>

                            </div>*@
                        <div class="uk-width-medium-1-8">
                            <label>@Purchase.CashDiscount</label>
                            @Html.TextBoxFor(model => model.CashDiscount, new { @class = "md-input mask-sales-currency label-fixed", @tabindex = "-1", @readonly = "readonly" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Purchase.RoundOff</label>
                            @Html.TextBoxFor(model => model.RoundOff, new { @class = "md-input mask-sales-currency label-fixed", @tabindex = "-1", @readonly = "readonly" })
                        </div>
                        @*<div class="uk-width-medium-1-8">
                                <label>@Purchase.PaymentMode</label>
                                @Html.TextBoxFor(model => model.PaymentMode, new { @class = "md-input  label-fixed", @tabindex = "-1", @readonly = "readonly" })
                                @Html.HiddenFor(m => m.PaymentModeID)
                            </div>*@
                    </div>
                </div>

                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin>


                    </div>
                </div>
            </div>
            <div class="uk-width-medium-2-10">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-1">
                            <label>@Purchase.NetAmount</label>
                            @Html.TextBoxFor(model => model.NetAmount, new { @class = "md-input mask-sales-currency label-fixed x-large", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-group">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <ul class="uk-tab" data-uk-tab="{connect:'#tabs-invoice-content',animation:'slide-horizontal'}" id="tabs-invoice">
                <li class="uk-active" id="item-tab"><a>@Purchase.ItemDetails</a></li>
                <li id="amount-tab"><a>@Purchase.TaxDetails</a></li>
            </ul>
            <ul id="tabs-invoice-content" class="uk-switcher uk-margin">
                <li>
                    <table id="Purchase-invoice-items-list" class="uk-table" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="width-10">@Common.SerialNo</th>
                                <th class="width-250">@Purchase.ItemName</th>
                                <th class="width-10">@Purchase.Unit</th>
                                <th class="width-10">@Purchase.BatchType</th>
                                <th class="width-100">@Purchase.Batch</th>
                                <th class="width-60">@Purchase.Qty</th>
                                <th class="width-60">@Purchase.OfferQty</th>
                                <th class="width-60 mrp_hidden">@Purchase.MRP</th>
                                <th class="width-60">@Purchase.BasicPrice</th>
                                <th class="width-100">@Purchase.GrossAmount</th>
                                <th class="width-80">@Purchase.AdditionalDiscount</th>
                                <th class="width-60">@Purchase.TradeDiscPer</th>
                                <th class="width-80">@Purchase.TradeDiscAmt</th>
                                <th class="width-60">@Purchase.TurnoverDisc</th>
                                <th class="width-100">@Purchase.TaxableAmount</th>
                                <th class="width-40">@Purchase.GST</th>
                                <th class="width-60">@Purchase.GSTAmount</th>
                                <th class="width-60">@Purchase.CashDiscount</th>
                                <th class="width-100">@Purchase.NetAmount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@if (Model.Trans != null)
                                {
                                    foreach (var item in Model.Trans.Select((value, i) => new { i = (i + 1), value }))
                                    {


                                        <tr >
                                            <td class="uk-text-center">
                                                @item.i
                                                <input type="hidden" class="ItemID included" value="@item.value.ItemID">
                                                <input type="hidden" class="UnitID included" value="@item.value.UnitID">
                                                <input type="hidden" class="IGSTPercentage included" value="@item.value.IGSTPercent">
                                                <input type="hidden" class="SGSTPercentage included" value="@item.value.SGSTPercent">
                                                <input type="hidden" class="CGSTPercentage included" value="@item.value.CGSTPercentage">
                                                <input type="hidden" class="StoreID included" value="@item.value.StoreID">
                                                <input type="hidden" class="BatchID included" value="@item.value.BatchID">
                                                <input type="hidden" class="BatchTypeID included" value="@item.value.BatchTypeID" />
                                                <input type="hidden" class="OrderQty included" value="@item.value.Qty" />
                                                <input type="hidden" class="OfferQty included" value="@item.value.OfferQty" />
                                                <input type="hidden" class="Stock included" value="@item.value.Stock" />
                                                <input type="hidden" class="LooseRate included" value="@item.value.LooseRate" />
                                                <input type="hidden" class="Rate included" value="@item.value.Rate" />
                                                <input type="hidden" class="SalesUnitID included" value="@item.value.SalesUnitID" />
                                            </td>
                                            <td class="ItemName">@item.value.ItemName</td>
                                            <td class="UnitName">@item.value.UnitName</td>
                                            <td class="BatchName">@item.value.BatchName</td>
                                            <td><input type="text" class="Qty included md-input mask-qty" value="@item.value.InvoiceQty" readonly="readonly"></td>
                                            <td><input type="text" class="OfferQty included md-input mask-qty" value="@item.value.InvoiceOfferQty" readonly="readonly"></td>
                                            <td class="mrp_hidden"><input type="text" class="MRP included md-input mask-sales-currency" value="@item.value.MRP" readonly="readonly"></td>
                                            <td><input type="text" class="BasicPrice included md-input mask-sales-currency " value="@item.value.BasicPrice" readonly="readonly"></td>
                                            <td><input type="text" class="GrossAmount included md-input mask-sales-currency" value="@item.value.GrossAmount" readonly="readonly"></td>
                                            <td><input type="text" class="AdditionalDiscount included md-input mask-sales-currency" value="@item.value.AdditionalDiscount" readonly="readonly"></td>
                                            <td><input type="text" class="DiscountPercentage included md-input mask-sales-currency" value="@item.value.DiscountPercentage" readonly="readonly">                                        </td>
                                            <td><input type="text" class="DiscountAmount included md-input mask-sales-currency" value="@item.value.DiscountAmount" readonly="readonly"></td>
                                            <td><input type="text" class="TurnoverDiscount included md-input mask-sales-currency" value="@item.value.TurnoverDiscount" readonly="readonly"></td>
                                            <td><input type="text" class="TaxableAmount included md-input mask-sales-currency" value="@item.value.TaxableAmount" readonly="readonly"></td>
                                            <td><input type="text" class="GST included md-input mask-currency" value="@item.value.GSTPercentage" readonly="readonly"></td>
                                            <td><input type="text" class="GSTAmount included md-input mask-sales-currency" value="@item.value.GSTAmount" readonly="readonly"></td>
                                            <td><input type="text" class="CashDiscount included md-input mask-sales-currency" value="@item.value.CashDiscount" readonly="readonly"></td>
                                            <td><input type="text" class="NetAmount included md-input mask-sales-currency" value="@item.value.NetAmount" readonly="readonly"></td>
                                        </tr>
                                    }
                                }*@
                        </tbody>
                    </table>
                    <input type="hidden" value="@Model.Trans.Count()" id="item-count">
                </li>
                <li>
                    <table id="Purchase-invoice-amount-details-list" class="uk-table" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="width-10">@Common.SerialNo</th>
                                <th class="width-10">@Purchase.Particulars</th>
                                <th class="width-250">@Purchase.Percentage</th>
                                <th class="width-60">@Purchase.Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Trans != null)
                            {
                                foreach (var item in Model.TaxDetails.Select((value, i) => new { i = (i + 1), value }))
                                {
                                    <tr>
                                        <td class="uk-text-center">
                                            @item.i
                                        </td>
                                        <td>
                                            @item.value.Particulars
                                        </td>
                                        <td class="mask-qty">
                                            @item.value.Percentage
                                        </td>
                                        <td class="mask-currency">
                                            @item.value.Amount
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</div>
@Html.Partial("~/Areas/Masters/Views/Supplier/PartialList.cshtml")
@Html.Partial("~/Areas/Sales/Views/SalesInvoice/GetInvoice.cshtml")