@model TradeSuiteApp.Web.Areas.Purchase.Models.PurchaseInvoiceModel
@{
    ViewBag.Title = "Purchase Invoice Stock Items Detail";

}
<input type="hidden" id="hdnPurchaseInvoiceId" value="@Model.Id">
<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 54, media: 960 }">
        <div class="heading_title">
            <h1>@Purchase.PurchaseInvoiceForStockItems</h1>
            <span class="uk-text-upper uk-text-small">@Purchase.PurchaseInvoiceDetails</span>
        </div>
        <div class="heading_actions">
            @if (Model.IsDraft == true && Model.IsCancelled == false)
            {
                @ActionAuthorization.IsAuthorized("GenerateEdit", Html.ActionLink(Common.Edit, "GenerateEdit", "PurchaseInvoice", new { Area = "Purchase", id = (Model != null) ? Model.Id : 0 }, new { @class = "md-btn" }))
                @ActionAuthorization.IsAuthorized("Cancel", "<a class='md-btn cancel'>" + @Common.Cancel + "</a>")

            }
            else if (@Model.Status != "Approved" && Model.IsCancelled == false)
            {
                @ActionAuthorization.IsAuthorized("Approve", " <a class='md-btn btnApprove'>" + @Common.Approve + "</a>")
            }
            @ActionAuthorization.IsAuthorized("PurchaseInvoicePrintPdf", " <a class='md-btn printpdf'>Print As PDF</a>")
            @Html.HiddenFor(m => m.Id)
            @ActionAuthorization.IsAuthorized("PurchaseInvoiceItemCodePrintPdf", " <a class='md-btn ItemCode'>ItemCode</a>")

            @ActionAuthorization.IsAuthorized("PurchaseInvoicePartNoPrintPdf", " <a class='md-btn PartNo'>PartNO</a>")

            @ActionAuthorization.IsAuthorized("PurchaseInvoiceExportIemCodePrintPdf", " <a class='md-btn ExportItemCode'>Export With ItemCode</a>")
            @ActionAuthorization.IsAuthorized("PurchaseInvoiceExportPartNoPrintPdf", " <a class='md-btn ExportPartNo'>Export With PartNO</a>")

            @Html.ActionLink(Common.Back, "IndexV3", "PurchaseInvoice", new { Area = "Purchase" }, new { @class = "md-btn " })
            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a>Print</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="page_content_inner" class="details-view">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">


                <div class="section-group">
                    <div class="uk-form-row">
                        <div class="uk-grid" data-uk-grid-margin="">
                            <div class="uk-width-medium-8-10">
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.TransNo</label>
                                            <input type="text" class="md-input" value="@Model.TransNo" disabled />
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label for="uk_dp_start">@Purchase.TransDate</label>
                                            <input class="md-input label-fixed" type="text" value="@Model.TransDate" disabled />
                                        </div>
                                        <div class="uk-width-medium-2-8">
                                            <label>@Purchase.GRN</label>
                                            <input type="text" class="md-input label-fixed" value="@Model.GRNNo" disabled />
                                        </div>
                                        <div class="uk-width-medium-2-8">
                                            <label>@Purchase.Supplier</label>
                                            <input type="text" class="md-input label-fixed" value="@Model.SupplierName" disabled />
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.BillNo</label>
                                            <input type="text" class="md-input label-fixed" value="@Model.InvoiceNo" disabled />
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label for="uk_dp_start">@Purchase.InvoiceDate</label>
                                            <input class="md-input label-fixed" type="text" value="@Model.InvoiceDate" disabled>
                                        </div>


                                        <div class="uk-width-medium-1-8 uk-hidden">
                                            <label>@Purchase.InvoiceTotal</label>
                                            <input type="text" class="md-input mask-currency label-fixed" value="@Model.InvoiceTotal" disabled />
                                        </div>
                                        <div class="uk-width-medium-1-8 uk-hidden">
                                            <label>@Purchase.TotalInvoiceValue</label>
                                            @Html.TextBoxFor(m => m.InvoiceTotal, new { @class = "md-input label-fixed uk-text-right " + Model.normalclass, @id = "txtTotalInvoiceValueCalculated", @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.GrossAmount</label>
                                            @Html.TextBoxFor(m => m.GrossAmount, new { @class = "md-input label-fixed uk-text-right " + Model.normalclass, @id = "GrossAmt", @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.Discount</label>
                                            @Html.TextBoxFor(m => m.Discount, new { @class = "md-input label-fixed uk-text-right " + Model.normalclass, @id = "txtDiscount", @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.VATPercentage</label>
                                            @Html.TextBoxFor(m => m.VatPercentage, new { @class = "md-input label-fixed uk-text-right mask-currency", @id = "txtVatPercentage", @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.VATAmount</label>
                                            @Html.TextBoxFor(m => m.VATAmount, new { @class = "md-input label-fixed uk-text-right mask-currency", @id = "txtVATAmount", @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.SuppDocAmount</label>
                                            @Html.TextBoxFor(m => m.SuppDocAmount, new { @class = "md-input label-fixed uk-text-right " + Model.normalclass, @id = "txtSuppDocAmount", @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.SuppShipAmount</label>
                                            @Html.TextBoxFor(m => m.SuppShipAmount, new { @class = "md-input label-fixed uk-text-right " + Model.normalclass, @id = "txtSuppShipAmount", @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.PackingForwarding</label>
                                            @Html.TextBoxFor(model => model.PackingForwarding, new { @class = "md-input label-fixed " + Model.normalclass, @id = "txtPackingForwarding", @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.SupplierOtherCharges</label>
                                            @Html.TextBoxFor(m => m.SupplierOtherCharges, new { @class = "md-input label-fixed uk-text-right " + Model.normalclass, @id = "txtSupplierOtherCharges", @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.SuppFreight</label>
                                            @Html.TextBoxFor(m => m.TotalFreight, new { @class = "md-input label-fixed uk-text-right " + Model.normalclass, @id = "txtTotalFreight", @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.LocalCustomsDuty</label>
                                            @Html.TextBoxFor(model => model.LocalCustomsDuty, new { @class = "md-input label-fixed  uk-text-right " + Model.normalclass, @id = "txtLocalCustomsDuty", @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.LocalFreight</label>
                                            @Html.TextBoxFor(model => model.LocalFreight, new { @class = "md-input label-fixed  uk-text-right " + Model.normalclass, @id = "txtLocalFreight", @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.LocalMiscCharge</label>
                                            @Html.TextBoxFor(model => model.LocalMiscCharge, new { @class = "md-input label-fixed  uk-text-right " + Model.normalclass, @id = "txtLocalMiscCharge", @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.LocalOtherCharges</label>
                                            @Html.TextBoxFor(model => model.LocalOtherCharges, new { @class = "md-input label-fixed  uk-text-right " + Model.normalclass, @id = "txtLocalOtherCharges", @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.OtherChargesVATAmount</label>
                                            @Html.TextBoxFor(m => m.OtherChargesVATAmount, new { @class = "md-input label-fixed uk-text-right " + Model.normalclass, @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.Freight</label>
                                            @Html.TextBoxFor(model => model.Freight, new { @class = "md-input label-fixed", @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.WayBillNo</label>
                                            @Html.TextBoxFor(model => model.WayBillNo, new { @class = "md-input label-fixed", @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-1-8 ">
                                            <label>@Purchase.InvoiceType</label>
                                            @Html.TextBoxFor(model => model.InvoiceType, new { @class = "md-input label-fixed ", @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-2-8">
                                            <label>@Masters.Remarks</label>
                                            @Html.TextBoxFor(model => model.Remarks, new { @class = "md-input label-fixed", @id = "txtRemarks", @disabled = "disabled" })
                                        </div>

                                        <input type="hidden" id="DummyInvoiceTotal" value="0" />
                                        <div class="uk-width-medium-2-8">
                                            <div class="md-input-wrapper md-input-filled">
                                                <label>@Purchase.SelectedFile</label>
                                                <div class="uk-form-file v1">
                                                    <label id="selected-quotation">
                                                        @foreach (var item in Model.SelectedQuotation)
                                                        {
                                                            <span class='view-file' data-id='@item.ID' data-url='@item.URL' data-path='@item.Path'>@item.Name</span>
                                                        }
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-2-10">
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-1">
                                            <label>@Purchase.TotalInvoiceAmountPayable</label>
                                            @Html.TextBoxFor(m => m.AmountPayable, new { @class = "md-input label-fixed x-large " + Model.normalclass, @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-1-1">
                                            <label>@Purchase.LocalLandingCost</label>
                                            @Html.TextBoxFor(m => m.LocalLandingCost, new { @class = "md-input label-fixed x-large mask-qty", @id = "txtLocalLandingCost", @disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-1-1">
                                            <label>@Masters.CurrencyCode</label>
                                            @Html.TextBoxFor(model => model.suppliercurrencyCode, new { @class = "md-input label-fixed", @tabindex = "-1", @Disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-group">
                    <div class="uk-form-row">
                        <div class="uk-grid">
                            <div class="uk-width-1-1">
                                <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1_content'}" id="tabs_1">
                                    <li class="uk-active" aria-expanded="true"><a>@Purchase.ItemDetails</a></li>
                                </ul>

                                <ul id="tabs_1_content" class="uk-switcher uk-margin" style="width:100%">
                                    <li aria-hidden="false" class="uk-active" style="width:100%">

                                        <div id="item-details-tblContainer">
                                            <table id="tbl-item-details" class="uk-table" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>

                                                        <th class="width-10">@Common.SerialNo</th>
                                                        <th class="width-60">@Purchase.ItemCode</th>
                                                        <th class="width-100">@Purchase.ItemName</th>
                                                        @*<th class="width-100">@Purchase.PartsNumber</th>*@
                                                        <th class="width-100">@Purchase.Remarks</th>
                                                        <th class="width-100">@Masters.Model</th>
                                                        <th class="width-40">@Purchase.Unit</th>
                                                        <th class="width-80">@Purchase.InvoiceQty</th>
                                                        <th class="width-80 uk-hidden">@Purchase.OfferQty</th>
                                                        <th class="width-100">@Purchase.InvoiceRate</th>
                                                        <th class="width-100">@Purchase.MRP</th>
                                                        <th class="width-100">@Purchase.InvoiceValue</th>
                                                        <th class="width-80">@Purchase.DiscountPercentage</th>
                                                        <th class="width-80">@Purchase.Discount</th>
                                                        <th class="width-80">@Purchase.VATPercentage</th>
                                                        <th class="width-80">@Purchase.VATAmount</th>
                                                        @*<th class="width-60">@Purchase.GSTper</th>
                                                            <th class="width-80">@Purchase.SGSTAmt</th>
                                                            <th class="width-80">@Purchase.SGSTAmt</th>
                                                            <th class="width-80">@Purchase.IGSTAmt</th>*@
                                                        <th class="width-80">@Purchase.NetAmount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Items)
                                                    {
                                                        <tr>

                                                            <td class="uk-text-center">@(1 + Model.Items.IndexOf(item))</td>
                                                            <td>@item.ItemCode</td>
                                                            <td>@item.ItemName</td>
                                                            @*<td>@item.PartsNumber</td>*@
                                                            <td>@item.Remarks</td>
                                                            <td>@item.Model</td>
                                                            <td class="uk-hidden">@item.Unit</td>
                                                            <td>@item.SecondaryUnit</td>
                                                            @*<td>@Html.DropDownList("gstPercentage", (SelectList)ViewBag.TaxPercentages, new { @class = "md-input uk-text uk-text-right gstPercentage" })</td>*@
                                                            <td class="txtItemInvoiceQty included mask-qty uk-hidden">@item.InvoiceQty</td>
                                                            <td class="txtSecondaryInvoiceQty included mask-qty">@item.SecondaryInvoiceQty</td>
                                                            <td class="txtItemInvoiceQty included mask-qty uk-hidden">@item.OfferQty</td>
                                                            <td class="txtOfferQty included mask-qty uk-hidden">@item.SecondaryOfferQty</td>
                                                            <td class="txtItemInvoiceRate included @Model.normalclass uk-hidden">@item.InvoiceRate</td>
                                                            <td class="txtSecondaryRate included @Model.normalclass">@item.SecondaryRate</td>
                                                            <td class="included @Model.normalclass">@item.RetailMRP</td>
                                                            <td class="txtItemInvoiceValue included @Model.normalclass">@item.InvoiceValue</td>
                                                            <td class="mask-qty"> @item.DiscountPercent" </td>
                                                            <td class="@Model.normalclass"> @item.DiscountAmount" </td>
                                                            <td class="mask-qty"> @item.VATPercentage" </td>
                                                            <td class="@Model.normalclass"> @item.VATAmount" </td>
                                                            @*<td class="itemApprovedValue included  " + Model.normalclass>@item.GSTPercent</td>
                                                                <td class=" " + Model.normalclass> @item.SGSTAmt" </td>
                                                                <td class=" " + Model.normalclass> @item.CGSTAmt" </td>
                                                                <td class=" " + Model.normalclass> @item.IGSTAmt" </td>*@
                                                            <td class="@Model.normalclass">@item.NetAmount"</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <input type="hidden" id="item-count" value="@Model.Items.Count()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render(System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Js/Page/Supplier"))
@Scripts.Render(System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Js/Page/PurchaseInvoice"))
<script type="text/javascript">
    purchase_invoice.freeze_headers();
    CalculateInvoiceTotal();
    purchase_invoice.details();
    purchase_invoice.bind_events();
</script>
@{
    ViewBag.Title = "GenerateDetails";
}

<h2>GenerateDetails</h2>

