@model TradeSuiteApp.Web.Areas.Masters.Models.AccountGroupModel
@{
    ViewBag.Title = "Form";
}
<div class="section-group">
    <div class="uk-form-row">
        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-medium-1-1">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-8">
                            <label>@Masters.Code</label>
                            @Html.TextBoxFor(model => model.Code, new { @class = "md-input label-fixed", @disabled = "disabled" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Masters.Name<span>*</span></label>
                            @Html.TextBoxFor(model => model.AccountGroupName, new { @class = "md-input  label-fixed ", @disabled = "disabled" })
                        </div>

                        <div class="uk-width-medium-1-8">
                            <label>@Masters.ParentGroup<span>*</span></label>
                            @Html.TextBoxFor(model => model.ParentGroup, new { @class = "md-input  label-fixed", @disabled = "disabled" })
                        </div>


                <div class="uk-width-medium-1-8 ">
                    <label>@Masters.AccountHeadCodePrefix<span>*</span></label>
                    @Html.TextBoxFor(model => model.AccountHeadCodePrefix, new { @class = "md-input  label-fixed", @disabled = "disabled" })
                </div>

            </div>
        </div>
    </div>
</div>
    </div>
</div>

