@model TradeSuiteApp.Web.Areas.Reports.Models.SalesModel
@{
    ViewBag.ReportTitle = "MIS Report";
}
@Scripts.Render("~/Js/Page/Sales")
<div id="page_content_inner" class="purchase-report">
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            <div class="section-group">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-2-10 ">
                            <form action="/Reports/Sales/MISReports" id="report-filter-form" method="POST">
                                <div class="uk-form-row">
                                    <label>MIS Type</label>
                                    <div class="panel">
                                    </div>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <input type="radio" name="SalesType" class="MIS_type" data-md-icheck checked="" value="CustomerAgeing" /> @Html.Label("Customer Ageing")
                                        </div>
                                    </div>
                                </div>
                                @if (TabAuthorization.IsAuthorized("Sales And Margin By Branch"))
                                {
                                    <div class="uk-form-row">
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-1">
                                                <input type="radio" name="SalesType" class="MIS_type" data-md-icheck value="SalesAndMarginByBranch" /> @Html.Label("Sales And Margin")
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <input type="radio" name="SalesType" class="MIS_type" data-md-icheck value="CustomerHistory" /> @Html.Label("Customer History")
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="filters uk-form-row uk-hidden SalesAndMarginByBranch">
                                    <label>Sales Type</label>
                                    <div class="panel">
                                    </div>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <input type="radio" name="SalesMarginType" class="Sales_Margin_Type" data-md-icheck checked="" value="SalesAndMarginByDate" /> @Html.Label("By Date")
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <input type="radio" name="SalesMarginType" class="Sales_Margin_Type" data-md-icheck value="SalesAndMarginByBranch" /> @Html.Label("By Branch")
                                        </div>
                                    </div>
                                </div>
                                <div class="filters uk-form-row uk-hidden SalesAndMarginByBranch">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <input type="radio" name="SalesMarginType" class="Sales_Margin_Type" data-md-icheck value="SalesAndMarginByCustomer" /> @Html.Label("By Customer")
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <input type="radio" name="SalesMarginType" class="Sales_Margin_Type" data-md-icheck value="SalesAndMarginByItem" /> @Html.Label("By Item")
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="filters uk-form-row CustomerAgeing SalesAndMarginByBranch">
                                    <div class="panel">
                                        <label>Report Type</label>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2">
                                                <input type="radio" name="ReportType" class="Report_Type" data-md-icheck checked="" value="Summary" /> @Html.Label("Summary")
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <input type="radio" name="ReportType" class="Report_Type" data-md-icheck value="Detail" /> @Html.Label("Detail")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @Html.HiddenFor(m => m.LocationID)
                                @Html.HiddenFor(m => m.UserID)
                                <div class="filters uk-form-row CustomerAgeing">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-input-group">
                                                <label class="prdate">@Reports.ReportAsAt</label>
                                                @Html.TextBoxFor(model => model.ReportAsAt, new { @class = "md-input label-fixed  past-date date", @id = "ReportDateFrom" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filters uk-form-row uk-hidden SalesAndMarginByBranch Detail CustomerHistory">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-input-group">
                                                <label for="uk_dp_start">@Reports.Fromdate</label>
                                                @Html.TextBoxFor(model => model.FromDate, new { @class = "md-input label-fixed  past-date date" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-input-group">
                                                <label for="uk_dp_start">@Reports.Todate</label>
                                                @Html.TextBoxFor(model => model.ToDate, new { @class = "md-input label-fixed  past-date date" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filters uk-form-row uk-hidden SalesAndMarginByBranch Detail">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-1-2">
                                            <div class="uk-autocomplete " id="sales-invoiceno-autocomplete">
                                                <label for="uk_dp_start">@Reports.InvoiceNOFrom</label>
                                                @Html.TextBox("InvoiceNOFrom", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code}}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code}}
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.InvoiceNOFromID)
                                        </div>
                                        <div class="uk-width-1-2">
                                            <div class="uk-autocomplete " id="sales-invoicenoTo-autocomplete">
                                                <label for="uk_dp_start">@Reports.InvoiceNOTo</label>
                                                @Html.TextBox("InvoiceNOTo", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code}}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code}}
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.InvoiceNOToID)
                                        </div>
                                    </div>
                                </div>
                                @*<div class="filters uk-form-row uk-hidden CustomerHistory">
                                        <div class="uk-grid" data-uk-grid-margin="">
                                            <div class="uk-width-medium-1-2">
                                                <div class="uk-input-group">
                                                    <label for="uk_dp_start">@Reports.Fromdate</label>
                                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "md-input label-fixed  past-date date" })
                                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <div class="uk-input-group">
                                                    <label for="uk_dp_start">@Reports.Todate</label>
                                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "md-input label-fixed  past-date date" })
                                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                                <div class="filters uk-form-row CustomerAgeing CustomerHistory SalesAndMarginByBranch Summary Detail">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-1-2">
                                            <div class="uk-autocomplete " id="sales-customercodefrom-autocomplete">
                                                <label for="uk_dp_start">@Reports.CustomerCodeFrom</label>
                                                @Html.TextBox("CustomerCodeFrom", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code}}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code}}
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.CustomerCodeFromID)
                                        </div>
                                        <div class="uk-width-1-2">
                                            <div class="uk-autocomplete " id="sales-customercodeTo-autocomplete">
                                                <label for="uk_dp_start">@Reports.CustomerCodeTo</label>
                                                @Html.TextBox("CustomerCodeTo", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code}}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code}}
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.CustomerCodeToID)
                                        </div>
                                    </div>
                                </div>
                                <div class="filters uk-form-row CustomerAgeing SalesAndMarginByBranch Summary Detail">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <label>@Reports.CustomerFrom</label>
                                            @Html.DropDownListFor(Model => Model.FromCustomerRange, Model.FromCustomerRangeList, "Select", new { @class = "md-input label-fixed", @id = "FromCustomerRange" })
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label>@Reports.CustomerTo</label>
                                            @Html.DropDownListFor(Model => Model.ToCustomerRange, Model.ToCustomerRangeList, "Select", new { @class = "md-input label-fixed", @id = "ToCustomerRange" })
                                        </div>
                                    </div>
                                </div>
                                <div class="filters uk-form-row CustomerAgeing CustomerHistory SalesAndMarginByBranch Summary Detail">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1 ">
                                            <div class="uk-autocomplete " id="customer-autocomplete">
                                                <label for="uk_dp_start">@Reports.CustomerName</label>
                                                @Html.TextBox("Customer", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Name }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Name }},({{$item.Code}})
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.CustomerID)
                                        </div>
                                    </div>
                                </div>

                                <div class="filters uk-form-row CustomerAgeing SalesAndMarginByBranch Summary Detail">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-1  ">
                                            <div class="uk-input-group">
                                                <label for="uk_dp_start" class="LocationFrom">@Reports.Location</label>
                                                @Html.DropDownListFor(Model => Model.ItemLocationID, Model.LocationList, "Select", new { @class = "md-input label-fixed" })
                                            </div>
                                        </div>
                                        @*<div class="uk-width-medium-1-2">
                                                <label for="uk_dp_start" class="LocationTo">@Reports.LocationTo</label>
                                                @Html.DropDownListFor(Model => Model.LocationToID, Model.LocationList, "Select", new { @class = "md-input label-fixed", @id = "LocationToID" })
                                            </div>*@
                                    </div>
                                </div>
                                <div class="filters uk-form-row uk-hidden SalesAndMarginByBranch Detail">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-input-group">
                                                <label for="uk_dp_start">@Reports.ItemCategoryFrom</label>
                                                @Html.DropDownListFor(Model => Model.FromCategoryRange, Model.FromCategoryRangeList, "Select", new { @class = "md-input label-fixed", @id = "FromCategoryRange" })
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-input-group">
                                                <label for="uk_dp_start">@Reports.ItemCategoryTo</label>
                                                @Html.DropDownListFor(Model => Model.ToCategoryRange, Model.ToCategoryRangeList, "Select", new { @class = "md-input label-fixed", @id = "ToCategoryRange" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filters uk-form-row uk-hidden SalesAndMarginByBranch Detail">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1 ">
                                            <label for="uk_dp_start">@Reports.Itemcategory</label>
                                            @Html.DropDownListFor(Model => Model.ItemCategoryID, Model.ItemCategoryList, "Select", new { @class = "md-input label-fixed", @id = "ItemCategoryID" })
                                        </div>
                                    </div>
                                </div>
                                <div class="filters uk-form-row uk-hidden SalesAndMarginByBranch Detail">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-autocomplete " id="sales-itemcodefrom-autocomplete">
                                                <label for="uk_dp_start">@Reports.ItemCodeFrom</label>
                                                @Html.TextBox("ItemCodeFrom", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code }}
                                                                @*<div>{{{ $item.ID }}}</div>*@
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.ItemCodeFromID)
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-autocomplete " id="sales-itemcodeTo-autocomplete">
                                                <label class="itemcode">@Reports.ItemCodeTo</label>
                                                @Html.TextBox("ItemCodeTo", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code }}
                                                                @*<div>{{{ $item.ID }}}</div>*@
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.ItemCodeToID)
                                        </div>
                                    </div>
                                </div>

                                <div class="filters uk-form-row uk-hidden SalesAndMarginByBranch Detail">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <label>@Reports.ItemNameFrom</label>
                                            @Html.DropDownListFor(Model => Model.ItemFromRange, Model.FromItemRangeList, "Select", new { @class = "md-input label-fixed", @id = "ItemFromRange" })
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label>@Reports.ItemNameTo</label>
                                            @Html.DropDownListFor(Model => Model.ItemToRange, Model.ToItemRangeList, "Select", new { @class = "md-input label-fixed", @id = "ItemToRange" })
                                        </div>
                                    </div>
                                </div>
                                <div class="filters uk-form-row uk-hidden SalesAndMarginByBranch Detail">
                                    <div class="uk-grid ">
                                        <div class="uk-width-medium-1-1 ">
                                            <div class="uk-autocomplete " id="itemname-autocomplete">
                                                <label>@Stock.Item</label>
                                                @Html.TextBox("ItemName", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code }}

                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.ItemID)
                                        </div>
                                    </div>
                                </div>
                                @*<div class="filters uk-form-row CustomerAgeing">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1 ">
                                            <label>@Reports.AgeingBucket</label>
                                            @Html.DropDownListFor(Model => Model.AgeingBucket, Model.AgeingBucketsList, new { @class = "md-input label-fixed", @id = "AgeingBucket" })
                                        </div>
                                    </div>
                                </div>*@
                                <div class="filters uk-form-row CustomerAgeing">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-1">
                                            <div class="uk-input-group">
                                                <div class="uk-autocomplete " id="ageing-bucket-autocomplete">
                                                    <label for="uk_dp_start">@Reports.AgeingBucket</label>
                                                    @Html.TextBoxFor(model => model.AgeingBucket, new { @class = "md-input label-fixed", @Value = "AB1" })
                                                    <script type="text/autocomplete">
                                                        <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                            {{~items}}
                                                            <li data-value="{{ $item.Code }}"
                                                                data-id="{{$item.ID}}">
                                                                <a>
                                                                    {{ $item.Code }}
                                                                    @*<div>{{{ $item.ID }}}</div>*@
                                                                </a>
                                                            </li>
                                                            {{/items}}
                                                        </ul>
                                                    </script>
                                                </div>
                                            </div>
                                            @Html.HiddenFor(m => m.AgeingBucketID, new { @Value = 1 })
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper md-input-filled">
                                                <label>&nbsp;</label>
                                                <button type="submit" class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="report-filter-submit">Show</button>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper md-input-filled">
                                                <label>&nbsp;</label>
                                                <a class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light " id="Refresh">Reset</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="uk-width-medium-8-10 ">
                            <div class="uk-form-row">
                                <div class="uk-grid" data-uk-grid-margin="" id="report-viewer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
