
@model TradeSuiteApp.Web.Areas.Reports.Models.GSTRModel
@{
    ViewBag.ReportTitle = "Sales GSTR Reports";
}

<div id="page_content_inner">
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            <div class="section-group">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-2-10 ">
                            <form action="/Reports/Sales/SalesGSTRReports" id="report-filter-form" method="POST" data-name="SalesGSTR">
                                @Html.HiddenFor(m => m.LocationID)
                                <div class="filters uk-form-row Summary Detail">
                                    <div class="panel">
                                        <label>Report Type</label>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2">
                                                <input type="radio" name="ReportType" class="report_type" data-md-icheck checked="" value="B2B" /> @Html.Label("B2B")
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <input type="radio" name="ReportType" class="report_type" data-md-icheck value="B2C" /> @Html.Label("B2C")
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <input type="radio" name="ReportType" class="report_type" data-md-icheck value="Export" /> @Html.Label("Export")
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <input type="radio" name="ReportType" class="report_type" data-md-icheck value="HSN" /> @Html.Label("HSN")
                                            </div>
                                            <div class="uk-width-medium-1-1">
                                                <input type="radio" name="ReportType" class="report_type" data-md-icheck value="SalesReturn" /> @Html.Label("Sales Return GST")
                                            </div>
                                            <div class="uk-width-medium-1-1">
                                                <input type="radio" name="ReportType" class="report_type" data-md-icheck value="OutputGSTTaxPercentagewise" /> @Html.Label("Output GST Tax Percentagewise")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-input-group">
                                                <label for="uk_dp_start">@Reports.Fromdate</label>
                                                @Html.TextBoxFor(model => model.FromDateString, new { @class = "md-input label-fixed  past-date date" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-input-group">
                                                <label for="uk_dp_start">@Reports.Todate</label>
                                                @Html.TextBoxFor(model => model.ToDateString, new { @class = "md-input label-fixed  past-date date" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row uk-hidden OutputGSTTaxPercentagewise">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <label>@Reports.GSTPercentage</label>
                                            @Html.DropDownListFor(Model => Model.GSTPercentage, Model.GSTPercentageList, "Select", new { @class = "md-input label-fixed" })
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row uk-hidden OutputGSTTaxPercentagewise">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-1">
                                            <div class="uk-input-group">
                                                <label>@Reports.State</label>
                                                @Html.DropDownListFor(Model => Model.StateID, Model.StateList, "Select", new { @class = "md-input label-fixed" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row ">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-1">
                                            <div class="uk-input-group">
                                                <label for="uk_dp_start">@Reports.Location</label>
                                                @Html.DropDownListFor(Model => Model.FilterLocationID, Model.LocationList, "Select", new { @class = "md-input label-fixed" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper md-input-filled">
                                                <label>&nbsp;</label>
                                                <button type="submit" class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="report-filter-submit">Show</button>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper md-input-filled">
                                                <label>&nbsp;</label>
                                                <a class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light " id="Refresh">Reset</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="uk-width-medium-8-10 ">
                            <div class="uk-form-row">
                                <div class="uk-grid" data-uk-grid-margin="" id="report-viewer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Js/Page/SalesGSTRReport")
