@model TradeSuiteApp.Web.Areas.User.Models.DashboardModel
<div class="md-card" data-uk-grid-margin="">
    <div class="md-card-content uk-row-first">

        <div class="uk-width-medium-10-10">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-8-10 heading_a uk-margin-bottom">
                    <label>@Masters.LocationwiseSales</label>
                </div>
                <div class="uk-width-medium-2-10">
                    @Html.DropDownListFor(Model => Model.BatchType, new SelectList(Model.BatchTypeList, "Value", "Text"), new { @class = "md-input label-fixed", @id = "location-wise-sales-batchtype" })
                </div>
            </div>
        </div>
        <div class="Category-Wise">
            <div class="uk-width-1-1">
                <ul class="uk-tab" data-uk-tab="{connect:'#location-wise-sales'}" id="location-wise-sales-tab">
                    <li class="uk-active" data-tab="month-wise" id="location-wise-sales-month-tab"><a>@DateTime.Now.ToString("MMMM")</a></li>
                    <li data-tab="year-wise" id="location-wise-sales-year-tab"><a>YTD - @DateTime.Now.ToString("yyyy")</a></li>
                </ul>
                <ul id="location-wise-sales" class="uk-switcher uk-margin">
                    <li aria-hidden="false" class="uk-active">
                        <div>
                            <table id="location-wise-sales-month-table" class="uk-table">
                                <thead>
                                    <tr>
                                        <th class="uk-text-center serial-no width-20">@Common.SerialNo</th>
                                        <th>@Masters.Location</th>
                                        <th class="width-80">@Masters.Budget {Kgs}</th>
                                        <th class="width-80">@Masters.Actual {Kgs}</th>
                                        <th class="width-80">@Masters.Budget {Lacs}</th>
                                        <th class="width-80">@Masters.Actual {Lacs}</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </li>
                    <li aria-hidden="true" class="">
                        <div>
                            <table id="location-wise-sales-year-table" class="uk-table">
                                <thead>
                                    <tr>
                                        <th class="uk-text-center serial-no width-20">@Common.SerialNo</th>
                                        <th>@Masters.Location</th>
                                        <th class="width-80">@Masters.Budget {Kgs}</th>
                                        <th class="width-80">@Masters.Actual {Kgs}</th>
                                        <th class="width-80">@Masters.Budget {Lacs}</th>
                                        <th class="width-80">@Masters.Actual {Lacs}</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>
</div>
