@model TradeSuiteApp.Web.Areas.Masters.Models.FleetModel
@{
    ViewBag.Title = @Masters.EditFleet;
}
<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 54, media: 960 }">
        <div class="heading_title">
            <h1>@Masters.Fleet</h1>
            <span class="uk-text-upper uk-text-small">@Masters.EditFleet</span>
        </div>
        <div class="heading_actions">
            @ActionAuthorization.IsAuthorized("Save", "<a class='md-btn btnSave'>" + Common.Update + "</a>")
            
            @Html.HiddenFor(m => m.ID)
            @Html.ActionLink(Common.Close, "Index", "Fleet", new { Area = "Masters" }, new { @class = "md-btn " })
            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a>Print</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="page_content_inner" class="form-view">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="section-group">
                    <div class="uk-form-row">
                        <div class="uk-grid" data-uk-grid-margin="">
                            <div class="uk-width-medium-8-10">
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-8">
                                            <label>@Masters.VehicleNo<span>*</span></label>
                                            @Html.TextBoxFor(m => m.VehicleNo, new { @class = "md-input label-fixed" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Masters.VehicleName<span>*</span></label>
                                            @Html.TextBoxFor(m => m.VehicleName, new { @class = "md-input label-fixed" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Masters.DriverName<span>*</span></label>
                                            @Html.TextBoxFor(m => m.DriverName, new { @class = "md-input label-fixed" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Masters.LicenseNo<span>*</span></label>
                                            @Html.TextBoxFor(m => m.LicenseNo, new { @class = "md-input label-fixed" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Masters.PolicyNo<span>*</span></label>
                                            @Html.TextBoxFor(m => m.PolicyNo, new { @class = "md-input label-fixed" })
                                        </div>
                                        <br />
                                        <div class="uk-width-medium-1-8">
                                            <label>@Masters.OwnerName<span>*</span></label>
                                            @Html.TextBoxFor(m => m.OwnerName, new { @class = "md-input label-fixed" })
                                        </div>
                                        <div class="uk-width-medium-2-8">
                                            <label>@Masters.TravellingAgency<span>*</span></label>
                                            @Html.TextBoxFor(m => m.TravellingAgency, new { @class = "md-input label-fixed" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Masters.InsuranceCompany<span>*</span></label>
                                            @Html.TextBoxFor(m => m.InsuranceCompany, new { @class = "md-input label-fixed" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Masters.OtherDetails<span>*</span></label>
                                            @Html.TextBoxFor(m => m.OtherDetails, new { @class = "md-input label-fixed" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <div class="uk-input-group">
                                                <label>@Masters.PurchaseDate</label>
                                                @Html.TextBoxFor(m => m.PurchaseDate, @DateTime.Now.ToString("dd-MM-yyyy"), new { @class = "md-input label-fixed  past-date date" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar future-date"></i></span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <div class="uk-input-group">
                                                <label>@Masters.PermitExpiryDate</label>
                                                @Html.TextBoxFor(m => m.PermitExpairyDate, @DateTime.Now.ToString("dd-MM-yyyy"), new { @class = "md-input label-fixed  past-date date" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar future-date"></i></span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <div class="uk-input-group">
                                                <label>@Masters.TaxExpiryDate</label>
                                                @Html.TextBoxFor(m => m.TaxExpairyDate, @DateTime.Now.ToString("dd-MM-yyyy"), new { @class = "md-input label-fixed  past-date date" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar future-date"></i></span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <div class="uk-input-group">
                                                <label>@Masters.TestExpiryDate</label>
                                                @Html.TextBoxFor(m => m.TestExpairyDate, @DateTime.Now.ToString("dd-MM-yyyy"), new { @class = "md-input label-fixed  past-date date" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar future-date"></i></span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <div class="uk-input-group">
                                                <label>@Masters.InsuranceExpairyDate</label>
                                                @Html.TextBoxFor(m => m.InsuranceExpairyDate, @DateTime.Now.ToString("dd-MM-yyyy"), new { @class = "md-input label-fixed  past-date date" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar future-date"></i></span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Masters.BagCapacity<span>*</span></label>
                                            @Html.TextBoxFor(m => m.BagCapacity, new { @class = "md-input label-fixed" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Masters.BoxCapacity<span>*</span></label>
                                            @Html.TextBoxFor(m => m.BoxCapacity, new { @class = "md-input label-fixed" })
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Masters.CanCapacity<span>*</span></label>
                                            @Html.TextBoxFor(m => m.CanCapacity, new { @class = "md-input label-fixed" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Js/Page/Fleet")
<script type="text/javascript" >
    Fleet.init();
</script>