

@model TradeSuiteApp.Web.Areas.Reports.Models.ManufacturingModel
@{
    ViewBag.ReportTitle = "Production Schedule Status";
}

@Scripts.Render("~/Js/Page/ManufacturingReport")

<div id="page_content_inner">
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            <div class="section-group">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-2-10 ">
                            <form action="/Reports/Manufacturing/ProductionScheduleStatus" id="report-filter-form" method="POST">
                                <input type="hidden" value="Stock" id="ItemAutoType" />
                                <div class="uk-form-row">
                                    <div class="panel">
                                        <label>Report Type</label>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2">
                                                <input type="radio" name="ReportType" class="day-month-report-type" data-md-icheck checked="" value="Summary" /> @Html.Label("Summary")
                                            </div>
                                            <div class="uk-width-medium-1-2">

                                                <input type="radio" name="ReportType" class="day-month-report-type" data-md-icheck value="Detail" /> @Html.Label("Detail")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-input-group">
                                                <label for="uk_dp_start">@Reports.ScheduleDateFrom</label>
                                                @Html.TextBoxFor(model => model.FromDate, new { @class = "md-input label-fixed  past-date date" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-input-group">
                                                <label for="uk_dp_start">@Reports.ScheduleDateTo</label>
                                                @Html.TextBoxFor(model => model.ToDate, new { @class = "md-input label-fixed  past-date date" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-autocomplete " id="productschedule-transNoFrom-autocomplete">
                                                <label for="uk_dp_start">@Reports.ScheduleNoFrom</label>
                                                @Html.TextBox("PSTransNoFrom", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code }}
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                        </div>
                                        @Html.HiddenFor(m => m.PSTransNoFromID)
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-autocomplete " id="productschedule-transNoTo-autocomplete">
                                                <label for="uk_dp_start">@Reports.ScheduleNoTo</label>
                                                @Html.TextBox("PSTransNoTo", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code }}
                                                                @*<div>{{{ $item.ID }}}</div>*@
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                        </div>
                                        @Html.HiddenFor(m => m.PSTransNoToID)
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <div class="uk-autocomplete " id="production-groupname-autocomplete">
                                                <label for="uk_dp_start">@Reports.ProductionGroupName</label>
                                                @Html.TextBox("ProductionGroupName", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code }}
                                                                @*<div>{{{ $item.ID }}}</div>*@
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                        </div>
                                        @Html.HiddenFor(m=>m.ProductionGroupID)
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-autocomplete " id="productschedule-batchNoFrom-autocomplete">
                                                <label for="uk_dp_start">@Reports.PSBatchNoFrom</label>
                                                @*@Html.TextBox("PSBatchNoFrom", "", new { @class = "md-input label-fixed" })*@
                                                @Html.TextBoxFor(m => m.PSBatchNoFrom, new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code }}

                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.PSBatchNoFromID)
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-autocomplete " id="productschedule-batchNoTo-autocomplete">
                                                <label for="uk_dp_start">@Reports.PSBatchNoTo</label>
                                                @*@Html.TextBox("PSBatchNoTo", "", new { @class = "md-input label-fixed" })*@
                                                @Html.TextBoxFor(m => m.PSBatchNoTo, new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code }}

                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.PSBatchNoToID)
                                        </div>
                                    </div>
                                </div>
                                <!--Item Code -->
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-autocomplete " id="itemcode-from-autocomplete">
                                                <label for="uk_dp_start">@Reports.ItemCodeFrom</label>
                                                @Html.TextBox("ItemCodeFrom", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code }}
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.ItemCodeFromID)
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-autocomplete " id="itemcode-to-autocomplete">
                                                <label for="uk_dp_start">@Reports.ItemCodeTo</label>
                                                @Html.TextBox("ItemCodeTo", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code }}
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.ItemCodeToID)
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <label>@Reports.ItemNameFrom</label>
                                            @Html.DropDownListFor(Model => Model.FromOutputItemNameRange, Model.FromOutputItemNameRangeList, "Select", new { @class = "md-input label-fixed", @id = "FromOutputItemNameRange" })
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label>@Reports.ItemNameTo</label>
                                            @Html.DropDownListFor(Model => Model.ToOutputItemNameRange, Model.ToOutputItemNameRangeList, "Select", new { @class = "md-input label-fixed", @id = "ToOutputItemNameRange" })
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <div class="uk-autocomplete " id="output-itemname-autocomplete">
                                                <label for="uk_dp_start">@Reports.ItemName</label>
                                                @Html.TextBox("OutputItemName", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Name }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Name }}
                                                                <div>{{{ $item.Code }}}</div>
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                        </div>
                                        @Html.HiddenFor(m => m.OuputItemNameID)
                                    </div>
                                </div>
                                <div class="uk-form-row ">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-1-2 summary detail">
                                            <div class="uk-autocomplete " id="stock-issueno-autocomplete">
                                                <label class="issue-nofrom">@Reports.IssueNoFrom</label>
                                                @Html.TextBox("IssueNoFrom", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code}}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code}}
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.IssueNoFromID)
                                        </div>
                                        <div class="uk-width-1-2  summary  detail">
                                            <div class="uk-autocomplete " id="stock-issuenoTo-autocomplete">
                                                <label class="issue-noto">@Reports.IssueNoTo</label>
                                                @Html.TextBox("IssueNoTo", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code}}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code}}
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.IssueNoToID)
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-form-row ">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-1-2 summary detail">
                                            <div class="uk-autocomplete " id="stock-receiptno-autocomplete">
                                                <label class="issue-nofrom">@Reports.ReceiptNoFrom</label>
                                                @Html.TextBox("ReceiptNoFrom", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code}}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code}}
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.ReceiptNoFromID)
                                        </div>
                                        <div class="uk-width-1-2  summary  detail">
                                            <div class="uk-autocomplete " id="stock-receiptnoTo-autocomplete">
                                                <label class="issue-noto">@Reports.ReceiptNoTo</label>
                                                @Html.TextBox("ReceiptNoTo", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code}}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code}}
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.ReceiptNoToID)
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-form-row ">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-1-2 summary detail">
                                            <div class="uk-autocomplete " id="production-issueno-autocomplete">
                                                <label class="issue-nofrom">@Reports.ProductionIssueNoFrom</label>
                                                @Html.TextBox("ProductionIssueNoFrom", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code}}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code}}
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.ProductionIssueNoFromID)
                                        </div>
                                        <div class="uk-width-1-2  summary  detail">
                                            <div class="uk-autocomplete " id="production-issuenoTo-autocomplete">
                                                <label class="issue-noto">@Reports.ProductionIssueNoTo</label>
                                                @Html.TextBox("ProductionIssueNoTo", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code}}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code}}
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.ProductionIssueNoToID)
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-1-1">
                                            <label for="uk_dp_start">@Reports.Status</label>
                                            @Html.DropDownListFor(Model => Model.Status, Model.StatusList,  new { @class = "md-input label-fixed",})
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper md-input-filled">
                                                <label>&nbsp;</label>
                                                <button type="submit" class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="report-filter-submit">Show</button>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper md-input-filled">
                                                <label>&nbsp;</label>
                                                <a class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light " id="Refresh">Reset</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="uk-width-medium-8-10 ">
                            <div class="uk-form-row">
                                <div class="uk-grid" data-uk-grid-margin="" id="report-viewer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


