@model TradeSuiteApp.Web.Areas.Sales.Models.CounterSalesReturnModel

@{
    ViewBag.Title = "Edit Counter Sales Return";
}

<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <div class="heading_title">
            <h1>@Sales.CounterSalesReturn</h1>
            <span class="uk-text-upper uk-text-small">@Sales.EditCounterSalesReturn</span>
        </div>
        <div class="heading_actions">
            @*<a class="md-btn update"> Update</a>
                <a class="md-btn updateasdraft"> Save As Draft</a>*@
            <a class="md-btn btnSave"> Save</a>
            <a class="md-btn btnSaveASDraft"> Save As Draft</a>

            @Html.HiddenFor(m => m.ID)
            @Html.ActionLink(Common.Close, "Index", "CounterSalesReturn", new { Area = "Sales" }, new { @class = "md-btn " })
            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a>Print</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="page_content_inner" class="sales form-view">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                @{Html.RenderPartial("/Areas/Sales/Views/CounterSalesReturn/Form.cshtml", Model); }
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Js/Page/CounterSalesReturn")
@Scripts.Render("~/Js/Page/Customer")

<script type="text/javascript">
    CounterSalesReturn.init();
    //CounterSalesReturn.sales_return_list();
</script>







