@model TradeSuiteApp.Web.Areas.Masters.Models.PrescriptionFormatModel
@{
    ViewBag.Title = "Details Prescription Template";
}
<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <div class="heading_title">
            <h1>@Masters.PrescriptionTemplate</h1>
            <span class="uk-text-upper uk-text-small">@Masters.PrescriptionTempateDetails</span>
        </div>
        <div class="heading_actions">
            @*@if (Model.IsDraft)
            {
                @ActionAuthorization.IsAuthorized("Edit", Html.ActionLink(Common.Edit, "Edit", "StockAdjustment", new { Area = "Stock", id = (Model != null) ? Model.ID : 0 }, new { @class = "md-btn edit" }))


            }*@
            @Html.ActionLink(Common.Back, "Index", "PrescriptionTemplate", new { Area = "Masters" }, new { @class = "md-btn " })


            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a>@Common.Action</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="page_content_inner" class="form-view">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                @{Html.RenderPartial("/Areas/Masters/Views/PrescriptionTemplate/view.cshtml", Model); }
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Js/Page/PrescriptionFormat")
<script type="text/javascript">
    PrescriptionFormat.init();
</script>



