@model TradeSuiteApp.Web.Areas.Masters.Models.StockAdjustmentReasonsModel
    @{
        ViewBag.Title = "Form";
    }
    <div class="section-group">
        <div class="uk-form-row">
            <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-medium-8-10">
                    <div class="uk-form-row">
                        <div class="uk-grid" data-uk-grid-margin="">
                            <div class="uk-width-medium-1-8">
                                <label>@Masters.Code<span>*</span></label>
                                @Html.TextBoxFor(m => m.Code, new { @class = "md-input label-fixed" })
                            </div>
                            <div class="uk-width-medium-1-5">
                                <label>@Masters.Name<span>*</span></label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "md-input label-fixed" })
                            </div>
                            <div class="uk-width-medium-1-5">
                                <label>@Masters.Remarks<span>*</span></label>
                                @Html.TextBoxFor(m => m.Remarks, new { @class = "md-input label-fixed" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>