
<div class="uk-modal" id="add-request" aria-hidden="true" style="display: none; overflow-y: scroll;">
    <div class="uk-modal-dialog uk-modal-dialog-medium" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Select Stock Issue<i class="material-icons" data-uk-tooltip="{pos:'top'}" title="headline tooltip"></i></h3>
        </div>
        <table id="itempopup-list" class="uk-table">
            <thead>
                <tr>
                    <th class="width-10">@Common.SerialNo</th>
                    <th class="width-10"></th>
                    <th class="width-10">@Stock.TransNo</th>
                    <th class="width-10">@Stock.TransDate</th>
                    <th class="width-10">@Stock.IssueLocation</th>
                    <th class="width-10">@Stock.IssuePremise</th>
                    <th class="width-10">@Stock.ReceiptLocation</th>
                    <th class="width-10">@Stock.ReceiptPremise</th>
                    <th class="width-200">@Stock.Item</th>
                </tr>
            </thead>
            <thead class="search">
                <tr>
                    <th class="width-10">@Common.SerialNo</th>
                    <th class="width-10"></th>
                    <th class="width-10">@Stock.TransNo</th>
                    <th class="width-10">@Stock.TransDate</th>
                    <th class="width-10">@Stock.IssueLocation</th>
                    <th class="width-10">@Stock.IssuePremise</th>
                    <th class="width-10">@Stock.ReceiptLocation</th>
                    <th class="width-10">@Stock.ReceiptPremise</th>
                    <th class="width-200">@Stock.Item</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-primary uk-modal-close" id="btnOkStockRequisitionList">Ok</button>
        </div>
    </div>
</div>