@model  TradeSuiteApp.Web.Areas.Manufacturing.Models.RepackingViewModel
@{
    ViewBag.Title = "Form";
}
<div class="section-group">
    <div class="uk-form-row">
        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-medium-8-10">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-8">
                            <label for="uk_dp_start">@Manufacturing.RepackNo</label>
                            @Html.TextBoxFor(model => model.RepackingNo, new { @class = "md-input label-fixed", @disabled = "disabled", @id = "repackingNo" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label for="uk_dp_start">@Manufacturing.RepackingDate</label>
                            @Html.TextBoxFor(model => model.RepackingDate, new { @class = "md-input label-fixed", @disabled = "disabled", @id = "repackingDate" })
                        </div>
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-2-8">
                            <div class="uk-autocomplete " id="issue-item-autocomplete">
                                <div class="uk-input-group">
                                    <label>@Manufacturing.ItemIssue<span>*</span></label>
                                    @if (Model.ID > 0)
                                    {
                                        @Html.TextBoxFor(model => model.ItemName, new { @class = "md-input label-fixed", @id = "txtItemIssue", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.ItemName, new { @class = "md-input label-fixed", @id = "txtItemIssue" })
                                        <span class="uk-input-group-addon">
                                            <a data-uk-modal="{target:'#select-production-group',center:false}">
                                                <i class="uk-input-group-icon uk-icon-search"></i>
                                            </a>
                                        </span>
                                        <script type="text/autocomplete">
                                            <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                {{~items}}
                                                <li data-value="{{ $item.Name }}"
                                                    data-id="{{$item.ID}}"
                                                    data-unit="{{$item.Unit}}"
                                                    data-IssueItemId="{{$item.ID}}"
                                                    data-ProductId="{{$item.ProductID}}"
                                                    data-ConversionFactorPtoS="{{$item.ConversionFactorPtoS}}"
                                                    data-ProductionGroupID="{{$item.ProductionGroupID}}">

                                                    <a>
                                                        {{ $item.Name }} ({{{ $item.Code }}})
                                                        <div>{{{ $item.Location }}}</div>
                                                    </a>
                                                </li>
                                                {{/items}}
                                            </ul>
                                        </script>
                                    }

                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.ItemID)
                        @Html.HiddenFor(modal => modal.BatchTypeID)
                        @Html.HiddenFor(modal => modal.IssueItemID)
                        @Html.HiddenFor(modal => modal.ProductGroupID)
                        @Html.HiddenFor(modal => modal.ProductID)
                        @Html.HiddenFor(modal => modal.Stock)
                        @Html.HiddenFor(modal => modal.IssueConversionFactorP2S)

                        <div class="uk-width-medium-1-8">
                            <label for="uk_dp_item">@Manufacturing.BatchType</label>
                            @if (Model.ID > 0)
                            {
                                @Html.DropDownListFor(Model => Model.BatchTypeID, Model.BatchTypeList, "Select", new { @class = "md-input label-fixed", @id = "IssueBatchTypeID", @disabled = "disabled" })

                            }
                            else
                            {
                                @Html.DropDownListFor(Model => Model.BatchTypeID, Model.BatchTypeList, "Select", new { @class = "md-input label-fixed", @id = "IssueBatchTypeID" })
                            }
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label for="uk_dp_start">@Manufacturing.BatchNo</label>
                            @if (Model.ID > 0)
                            {
                                @Html.TextBoxFor(model => model.BatchName, new { @class = "md-input label-fixed", @disabled = "disabled" })

                            }
                            else
                            {
                                @Html.DropDownListFor(Model => Model.BatchName, Model.BatchNameList, "Select", new
                           {
                               @class = "md-input label-fixed" @*,@id ="IssueBatchName"*@})
                            }
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label for="uk_dp_start">@Manufacturing.QuantityIn</label>
                            @if (Model.ID > 0)
                            {
                                @Html.TextBoxFor(model => model.QuantityIn, new { @class = "md-input label-fixed uk-text-right mask-production-qty", @id = "QuantityIn", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.QuantityIn, new { @class = "md-input label-fixed uk-text-right mask-production-qty", @id = "QuantityIn" })

                            }
                        </div>
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-2-8">
                            <div class="uk-autocomplete " id="receipt-item-autocomplete">
                                <div class="uk-input-group">
                                    <label>@Manufacturing.ItemReceipt<span>*</span></label>
                                    @if (Model.ID > 0)
                                    {
                                        @Html.TextBoxFor(model => model.ItemReceipt, new { @class = "md-input label-fixed", @id = "txtItemReceipt", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.ItemReceipt, new { @class = "md-input label-fixed", @id = "txtItemReceipt" })
                                        <span class="uk-input-group-addon"><a class="selectissue" data-uk-modal="{target:'#select-production-issue-item',center:false}"><i class="uk-input-group-icon uk-icon-search"></i></a></span>
                                        <script type="text/autocomplete">
                                            <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                {{~items}}
                                                <li data-value="{{ $item.ItemName }}"
                                                    data-id="{{$item.ItemID}}"
                                                    data-batchsize="{{ $item.BatchSize}}"
                                                    data-ConversionFactorPtoS="{{$item.ConversionFactorPtoS}}"
                                                    data-receiptitemid="{{$item.ItemID}}">
                                                    <a>
                                                        {{ $item.ItemName }} ({{{ $item.Code }}})
                                                        <div>{{{ $item.Location }}}</div>
                                                    </a>
                                                </li>
                                                {{/items}}
                                            </ul>
                                        </script>
                                    }
                                    
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(modal => modal.ItemID)
                        @Html.HiddenFor(modal => modal.BatchTypeID)
                        @Html.HiddenFor(modal => modal.ReceiptItemID)
                        @Html.HiddenFor(modal => modal.ProductGroupID)
                        @Html.HiddenFor(modal => modal.DefaultPackingStoreID)
                        @Html.HiddenFor(modal => modal.BatchType)
                        @Html.HiddenFor(modal => modal.ReceiptConversionFactorP2S)
                        <div class="uk-width-medium-1-8">
                            <label for="uk_dp_item">@Manufacturing.BatchType</label>
                            @if (Model.ID > 0)
                            {
                                @Html.DropDownListFor(Model => Model.ReceiptItemBatchTypeID, Model.BatchTypeList, "Select", new { @class = "md-input label-fixed", @disabled = "disabled", @id = "receiptBatchTypeID" })

                            }
                            else
                            {
                                @Html.DropDownListFor(Model => Model.ReceiptItemBatchTypeID, Model.BatchTypeList, "Select", new { @class = "md-input label-fixed", @id = "receiptBatchTypeID" })
                            }
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label for="uk_dp_start">@Manufacturing.BatchNo</label>
                            @if (Model.ID > 0)
                            {
                                @Html.TextBoxFor(model => model.BatchNo, new { @class = "md-input label-fixed", @disabled = "disabled", @id = "receiptBatchName" })
                            }
                            else
                            {
                                @Html.DropDownListFor(Model => Model.BatchNo, Model.BatchNameList, "Select", new { @class = "md-input label-fixed", @id = "receiptBatchName", @disabled = "disabled" })
                            }
                        </div>

                        <div class="uk-width-medium-1-8">
                            <label for="uk_dp_start">@Manufacturing.StandardQty</label>
                            @Html.TextBoxFor(model => model.StandardQty, new { @class = "md-input label-fixed uk-text-right mask-production-qty ", @disabled = "disabled" })
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label for="uk_dp_start">@Manufacturing.QuantityOut</label>
                            @if (Model.ID > 0)
                            {      @Html.TextBoxFor(model => model.QuantityOut, new { @class = "md-input label-fixed uk-text-right mask-production-qty ", @id = "QuantityOut", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.QuantityOut, new { @class = "md-input label-fixed uk-text-right mask-production-qty", @id = "QuantityOut" })
                            }
                        </div>

                        <div class="uk-width-medium-1-8">
                            <label for="uk_dp_start">@Manufacturing.Remarks</label>
                            @if (Model.ID > 0)
                            {
                                @Html.TextBoxFor(model => model.Remark, new { @class = "md-input label-fixed uk-text-right", @disabled = "disabled" })
                            }
                            else

                            {
                                @Html.TextBoxFor(model => model.Remark, new { @class = "md-input label-fixed uk-text-right" })
                            }
                        </div>
                        @if (Model.ID > 0)
                        { }
                        else
                        {
                            <div class="uk-width-medium-1-8">
                                <div class="md-input-wrapper md-input-filled">
                                    <label>&nbsp;</label>
                                    <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="btnGetPackingMaterials">@Common.Add</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-2-10">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-group">
    <div class="uk-width-1-1">
        <div class="uk-form-row">
            <ul class="uk-tab" data-uk-tab="{connect:'#tabs-qc-content',animation:'slide-horizontal'}" id="tabs-qc">
                <li class="uk-active"><a>@Manufacturing.Material</a></li>
                <li><a>@Manufacturing.Process</a></li>
            </ul>
            <ul id="tabs-qc-content" class="uk-switcher uk-margin">
                <li>
                    <table id="repacking-materials-list" class="uk-table" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="50">
                                    @Common.SerialNo
                                </th>
                                <th width="50">
                                    @Manufacturing.ItemCode
                                </th>
                                <th width="300">
                                    @Manufacturing.ItemName
                                </th>
                                <th width="100">
                                    @Manufacturing.UOM
                                </th>
                                <th width="250">
                                    @Manufacturing.BatchType
                                </th>
                                @*<th width="250">
                                        @Manufacturing.Store
                                    </th>*@
                                <th width="250">
                                    @Manufacturing.AvailableStock
                                </th>

                                @*<th width="250">
                                        @Manufacturing.BatchNo
                                    </th>*@

                                <th width="200">
                                    @Manufacturing.StandardQtyForStdBatch
                                </th>
                                <th class="width-60">
                                    @Manufacturing.ActualQtyForActualBatch
                                </th>
                                <th class="width-60">
                                    @Manufacturing.IssuedQty
                                </th>
                                <th class="width-40">
                                    @Manufacturing.Varaince
                                </th>
                                <th class="width-40">

                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.Materials != null)
                            {
                                foreach (var item in Model.Materials)
                                {
                                    var IsAdditionalIssue = item.IsAdditionalIssue == true ? 1 : 0;
                                    var IsMaterialReturn = item.IsMaterialReturn == true ? 1 : 0;
                                    <tr>
                                        <td>
                                            @(1 + @Model.Materials.IndexOf(item) )
                                            <input type="hidden" class="ItemID" value="@item.ItemID" />
                                            <input type="hidden" class="AvailableStock" value="@item.AvailableStock" />
                                            <input type="hidden" class="BatchTypeID" value="@item.BatchTypeID" />
                                            <input type="hidden" class="UnitID" value="@item.UnitID" />
                                            <input type="hidden" class="StoreID" value="@item.StoreID" />
                                            <input type="hidden" class="IsAdditionalIssue" value="@IsAdditionalIssue" />
                                            <input type="hidden" class="IsMaterialReturn" value="@IsMaterialReturn" />
                                        </td>
                                        <td>
                                            @item.ItemCode
                                        </td>
                                        <td>
                                            @item.ItemName
                                        </td>

                                        <td>
                                            @item.UOM
                                        </td>
                                        <td class="BatchType">
                                            @item.BatchType
                                        </td>
                                        @*<td>
                                                <input type="text" class="md-input uk-text " value="@item.Store" />

                                            </td>*@
                                        <td class="mask-production-qty  Stock">
                                            @item.AvailableStock
                                        </td>
                                        @*<td>
                                                <input type="text" class="md-input uk-text " value="@item.BatchNo" />

                                            </td>*@
                                        <td class="mask-production-qty StandardQty">
                                            @item.StandardQtyForStdBatch
                                        </td>
                                        <td class="mask-production-qty ActualQty">
                                            @item.ActualQty
                                        </td>
                                        @if (IsAdditionalIssue == 1 || IsMaterialReturn == 1)
                                        {
                                            <td>
                                                <input type="text" class="md-input  mask-production-qty IssueQty" value="@item.IssueQty" disabled />
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <input type="text" class="md-input mask-production-qty IssueQty" value="@item.IssueQty" />
                                            </td>
                                        }
                                        <td class="mask-production-qty Variance">
                                            @item.Variance
                                        </td>
                                        @if (IsAdditionalIssue == 1 || IsMaterialReturn == 1)
                                        {
                                            <td class="uk-text-center">
                                                <a class="remove-item">
                                                    <i class="md-btn-icon-small uk-icon-remove"></i>
                                                </a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>}
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </li>
                <li>
                    <table id="repacking-process-list" class="uk-table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th rowspan="2">
                                    @Common.SerialNo
                                </th>
                                <th rowspan="2">
                                    @Manufacturing.Stage
                                </th>
                                <th rowspan="2">
                                    @Manufacturing.ProcessName
                                </th>
                                <th rowspan="2" width="150">
                                    @Manufacturing.StartTime
                                </th>
                                <th rowspan="2" width="150">
                                    @Manufacturing.EndTime
                                </th>

                                <th colspan="2">
                                    @Manufacturing.SkilledLabour
                                </th>
                                <th colspan="2">
                                    @Manufacturing.UnSkilledLabour
                                </th>
                                <th colspan="2">
                                    @Manufacturing.MachineMinutes
                                </th>
                                <th rowspan="2">
                                    @Manufacturing.DoneBy
                                </th>
                                <th rowspan="2">
                                    @Manufacturing.Status
                                </th>
                            </tr>
                            <tr>
                                <th>@Manufacturing.Standard</th>
                                <th>@Manufacturing.Actual</th>
                                <th>@Manufacturing.Standard</th>
                                <th>@Manufacturing.Actual</th>
                                <th>@Manufacturing.Standard</th>
                                <th>@Manufacturing.Actual</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.Process != null)
                            {
                                foreach (var item in Model.Process)
                                {
                                    <tr>
                                        <td>
                                            @(1 + @Model.Process.IndexOf(item) )
                                            <input type="hidden" class="PackingIssueID" value="@item.PackingIssueID" />
                                            <input type="hidden" class="BatchTypeID" value="@item.BatchTypeID" />
                                        </td>
                                        <td>
                                            <input type="text" class="md-input uk-text Stage" value="@item.Stage" />
                                        </td>
                                        <td>
                                            <input type="text" class="md-input uk-text ProcessName" value="@item.ProcessName" />
                                        </td>
                                        <td>
                                            <div class="uk-input-group">
                                                <input class="md-input label-fixed future-date txtStartTime" type="text" id="txtDate" data-relaxation="-3" value="@item.StartTime">
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar future-date"></i></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="uk-input-group">
                                                <input class="md-input label-fixed future-date txtEndTime" type="text" id="txtDate" data-relaxation="-3" value="@item.EndTime">
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar future-date"></i></span>
                                            </div>
                                        </td>

                                        <td>
                                            <input type="text" class="md-input mask-qty txtStandardSkilledLabourHour" value="@item.SkilledLaboursStandard" readonly />
                                        </td>
                                        <td>
                                            <input type="text" class="md-input mask-qty txtActualSkilledLabourHour" value="@item.SkilledLaboursActual" />
                                        </td>
                                        <td>
                                            <input type="text" class="md-input mask-qty txtStandardUnSkilledLabourHour" value="@item.UnSkilledLabourStandard" readonly />
                                        </td>
                                        <td>
                                            <input type="text" class="md-input mask-qty txtActualUnSkilledLabourHour" value="@item.UnSkilledLabourActual" />
                                        </td>
                                        <td>
                                            <input type="text" class="md-input mask-qty txtStandardMachineHour" value="@item.MachineHoursStandard" readonly />
                                        </td>
                                        <td>
                                            <input type="text" class="md-input mask-qty txtActualMachineHour" value="@item.MachineHoursActual" />
                                        </td>
                                        <td class="uk-text-right">
                                            <input type="text" class="md-input uk-text txtDoneBy" value="@item.DoneBy" />
                                        </td>
                                        <td>
                                            <input type="text" class="md-input uk-text txtStatus" value="@item.Status" />
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>


                    </table>
                </li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="uk-form-row">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <div class="panel">
                        <label class="large">Additional Issue</label>
                        <div class="uk-grid">
                            <div class="uk-width-medium-4-10">
                                <div class="uk-autocomplete " id="additional-issue-item-autocomplete">
                                    <div class="uk-input-group">
                                        <label>@Manufacturing.ItemName<span>*</span></label>
                                        @Html.TextBoxFor(model => model.AdditionalName, new { @class = "md-input label-fixed", @id = "txtAdditionalIssue" })
                                        <span class="uk-input-group-addon">
                                            <a data-uk-modal="{target:'#select-packing-material',center:false}">
                                                <i class="uk-input-group-icon uk-icon-search"></i>
                                            </a>
                                        </span>
                                        <script type="text/autocomplete">
                                            <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                {{~items}}
                                                <li data-value="{{ $item.Name }}"
                                                    data-id="{{$item.ID}}"
                                                    data-unit="{{$item.Unit}}"
                                                    data-stock="{{$item.Stock}}"
                                                    data-code="{{$item.Code}}"
                                                    data-category="{{$item.ItemCategory}}"
                                                    data-unitid="{{$item.UnitID}}">
                                                    <a>
                                                        {{ $item.Name }}

                                                    </a>
                                                </li>
                                                {{/items}}
                                            </ul>
                                        </script>
                                    </div>
                                </div>
                            </div>
                            @Html.Hidden("AdditionalItemID")
                            @Html.Hidden("Code")
                            @Html.Hidden("AdditionalUnit")
                            @Html.Hidden("AdditionalUnitID")
                            @Html.Hidden("Stock")
                            @Html.Hidden("Category")
                            <div class="uk-width-medium-1-10">
                                <label for="uk_dp_start">@Manufacturing.UOM</label>
                                @Html.TextBoxFor(model => model.UOM, new { @class = "md-input label-fixed ", @id = "AdditionalItemUOM", @disabled = "disabled" })
                            </div>
                            <div class="uk-width-medium-1-10">
                                <label for="uk_dp_start">@Manufacturing.Qty</label>
                                @Html.TextBoxFor(model => model.Quantity, new { @class = "md-input label-fixed uk-text-right", @id = "txtQuantity" })
                            </div>
                            <div class="uk-width-medium-2-10">
                                <label for="uk_dp_start">@Manufacturing.BatchType</label>
                                @Html.DropDownListFor(Model => Model.AdditionalBatchTypeID, Model.BatchTypeList, "Select", new { @class = "md-input label-fixed", @id = "AdditionalBatchTypeID" })
                            </div>

                            <div class="uk-width-medium-2-10">
                                <div class="md-input-wrapper md-input-filled">
                                    <label>&nbsp;</label>
                                    <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="btnAddAdditionalItem">@Common.Add</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="uk-form-row">
    <div class="panel">
        <label class="large">Output</label>
        <div>
            <table id="repacking-output-list" class="uk-table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            @Common.SerialNo
                        </th>
                        <th>
                            @Manufacturing.TransDate
                        </th>
                        <th>
                            @Manufacturing.ItemName
                        </th>
                        <th>
                            @Manufacturing.BatchNo
                        </th>
                        <th>
                            @Manufacturing.QtyPacked
                        </th>
                        <th>
                            @Manufacturing.BatchType
                        </th>
                        <th class="uk-hidden">
                            @Manufacturing.QCChecked
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model.Output != null)
                    {
                        foreach (var item in Model.Output)
                        {
                            var qc = item.IsQCCompleted == true ? "checked=" : "";

                            <tr class="@item.BatchType @(item.IsDraft ? "new":"saved")">
                                <td class="serial uk-text-center">
                                    @(1 + @Model.Output.IndexOf(item) )
                                </td>
                                <td class="Date">@item.Date</td>
                                <td>
                                    @item.ItemName
                                    <input type="hidden" class="BatchTypeID" value="@item.BatchTypeID" />
                                    <input type="hidden" class="BatchID" value="@item.BatchID" />
                                    <input type="hidden" class="ItemID" value="@item.ItemID" />
                                    <input type="hidden" class="PackingIssueID" value="@item.RepackingIssueID" />
                                </td>
                                <td class="batchNo">@item.BatchNo</td>
                                <td>
                                    <input type="text" class="md-input uk-text mask-production-qty PackedQty " value="@item.PackedQty" />

                                </td>
                                <td class="BatchTypeOutPut">
                                    @item.BatchType
                                </td>
                                <td class="uk-hidden">
                                    <input type='checkbox' name="IsQCCompleted" data-md-icheck class='IsQCCompleted' id="IsQCCompleted" @qc />

                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <input type="hidden" id="item-count" value=@Model.Output.Count() />
        </div>
    </div>
</div>

@Html.Partial("~/Areas/Masters/Views/Item/PackingMaterialList.cshtml")
@Html.Partial("~/Areas/Masters/Views/Item/ProductionItemList.cshtml")
@Html.Partial("~/Areas/Masters/Views/Item/ProductionIssueItemList.cshtml")
@Html.Partial("~/Areas/Masters/Views/Item/RepackingMaterialReturnItemList.cshtml")