
@model TradeSuiteApp.Web.Areas.Masters.Models.StockAdjustmentScheduleModel

<div class="section-group">
    <div class="uk-form-row">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-8-10">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-8">
                            <label>@Masters.TotalNoOfItems</label>
                            @Html.TextBoxFor(m => m.ItemCount, new { @class = "md-input mask-numeric", @readonly = "readonly" })
                        </div>
                        <div class="uk-width-medium-2-8">
                            <label>@Masters.TimeToCompleteOneCircle</label>
                            @Html.TextBoxFor(m => m.TimeLimit, new { @class = "md-input mask-numeric" })
                        </div>
                        <div class="uk-width-medium-2-8">
                            <label>@Masters.ItemsToCheckAtATime</label>
                            @Html.TextBoxFor(m => m.FrequencyOfItem, new { @class = "md-input mask-numeric ", @readonly = "readonly" })
                                                    </div>
                        <div class="uk-width-medium-1-10">
                            <label>@Masters.WareHouse<span>*</span></label>
                           @Html.DropDownListFor(Model => Model.WarehouseID, Model.Warehouse, "Select", new { @class = "md-input label-fixed" })
                            
                        </div>
                    </div>
                </div>
              @Html.HiddenFor(m=>m.ID)
                <div class="uk-form-row panel">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-1">
                            <label>@Masters.TimeToScheduleCheck</label>
                        </div>
                    </div>
                </div>

                <div class="uk-form-row ">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-8">
                            <label></label>
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Masters.FromTime</label>
                        </div>
                        <div class="uk-width-medium-1-8">
                            <label>@Masters.ToTime</label>
                        </div>
                    </div>
                </div>
                @Html.Hidden("Date",DateTime.Now.ToString("dd-MM-yy"))
                <div class="uk-form-row ">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-8">
                            <label>@Masters.Morning</label>
                        </div>
                        <div class="uk-width-medium-1-8">
                            <input type="text" class="md-input time txtStartTime" value="@Model.MorningStartTimeStr" id="MorningStartTimeStr" />

                        </div>
                        <div class="uk-width-medium-1-8">
                            <input type="text" class="md-input time txtEndTime" value="@Model.MorningEndTimeStr" id="MorningEndTimeStr" />

                        </div>
                    </div>
                </div>


                @*<div class="uk-form-row ">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-8">
                            <label>@Masters.Evening</label>
                        </div>
                        <div class="uk-width-medium-1-8">
                            <input type="text" class="md-input time txtStartTime" value="@Model.EveningStartTimeStr" id="EveningStartTimeStr" />

                        </div>
                        <div class="uk-width-medium-1-8">
                            <input type="text" class="md-input time txtEndTime" value="@Model.EveningEndTimeStr" id="EveningEndTimeStr" />

                        </div>
                    </div>
                </div>*@

                <div class="uk-form-row panel">

                    <div class="uk-grid" data-uk-grid-margin="">



                        <div class="uk-width-medium-1-8">
                            <label>@Masters.ExcludedDates</label>
                        </div>
                        <div class="uk-width-medium-1-8">
                            <div class="uk-input-group">

                                @Html.TextBoxFor(m => m.ExcludedDates, new { @class = "md-input label-fixed  future-date date" })
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar future-date"></i></span>
                            </div>
                        </div>

                        <div class="uk-width-medium-1-8">
                            <div class="md-input-wrapper md-input-filled">

                                <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="btnAddDate">@Common.Add</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-group">
    <div class="uk-form-row">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <div id="date-details-tblContainer">
                    <table id="tbl-date-details" class="uk-table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="width-40">@Common.SerialNo</th>
                                <th class="">@Masters.ExcludedDates</th>
                                <th class="width-40"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var date in Model.ExcludedDateList)
                            {
                                <tr>
                                    <td class="uk-text-center">
                                        @(1 + Model.ExcludedDateList.IndexOf(date))
                                        <input type="hidden" class="ID " value="@date.ID">
                                    </td>
                                    <td class="excludeddate uk-text-center">@date.Date</td>
                                   
                                    <td class="uk-text-center">
                                        <a class="remove-item">
                                            <i class="md-btn-icon-small uk-icon-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <input type="hidden" id="item-count" value="@Model.ExcludedDateList.Count()">
    </div>
</div>