@model TradeSuiteApp.Web.Areas.Reports.Models.GeneralLedgerModel
@{
    ViewBag.ReportTitle = "Ledger Report";
}
@Scripts.Render("~/Js/Page/GeneralLedgerV3")

<div id="page_content_inner">
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            <div class="section-group">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-2-10">
                            <form action="/Reports/Accounts/AccountLedgerV3" id="report-filter-form" method="POST" data-name="GeneralLedger">
                                @*@Html.HiddenFor(m => m.LocationID)*@
                                <div class="uk-form-row">
                                    <div class="panel">
                                        <label>Report Type</label>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-1">
                                                <input type="radio" name="ReportType" class="LedgerType" data-md-icheck checked="" value="AccountGroup" /> @Html.Label("Account Group")
                                            </div>
                                            <div class="uk-width-medium-1-1">
                                                <input type="radio" name="ReportType" class="LedgerType" data-md-icheck  value="AccountName" /> @Html.Label("Account Name")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row ">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-input-group">
                                                <label for="uk_dp_start">@Reports.Fromdate</label>
                                                @Html.TextBoxFor(model => model.FromDateString, new { @class = "md-input label-fixed  past-date date" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-input-group">
                                                <label for="uk_dp_start">@Reports.Todate</label>
                                                @Html.TextBoxFor(model => model.ToDateString, new { @class = "md-input label-fixed  past-date date" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row ac-group">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <div class="uk-autocomplete " id="account-group-parent-autocomplete">
                                                <div class="uk-input-group">
                                                    <label for="uk_dp_start">@Reports.AccountGroup</label>
                                                    @Html.TextBoxFor(model => model.AccountGroup, new { @class = "md-input  label-fixed" })
                                                    <script type="text/autocomplete">
                                                        <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                            {{~items}}
                                                            <li data-value="{{ $item.AccountName }}"
                                                                data-id="{{$item.ID}}">
                                                                <a>
                                                                    @*{{ $item.ID }}*@ {{{ $item.AccountName }}}
                                                                </a>
                                                            </li>
                                                            {{/items}}
                                                        </ul>
                                                    </script>
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.AccountGroupID)
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row uk-hidden ac-name">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <div class="uk-autocomplete " id="ledgeraccountname-autocomplete">
                                                <div class="uk-input-group">
                                                    <label for="uk_dp_start">@Reports.AccountName</label>
                                                    @Html.TextBoxFor(model => model.AccountName, new { @class = "md-input label-fixed" })
                                                    <script type="text/autocomplete">
                                                        <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                            {{~items}}
                                                            <li data-id="{{ $item.ID}}"
                                                                data-accountname="{{$item.AccountName}}"
                                                                data-accountid="{{ $item.AccountID }}">
                                                                <a>
                                                                    {{ $item.AccountName }}

                                                                </a>
                                                            </li>
                                                            {{/items}}
                                                        </ul>
                                                    </script>
                                                    @Html.HiddenFor(m => m.AccountNameID)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper md-input-filled">
                                                <label>&nbsp;</label>
                                                <button type="submit" class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="report-filter-submit">Show</button>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper md-input-filled">
                                                <label>&nbsp;</label>
                                                <a class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light " id="Refresh">Reset</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="uk-width-medium-8-10 ">
                            <div class="uk-form-row">
                                <div class="uk-grid" data-uk-grid-margin="" id="report-viewer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
