@model TradeSuiteApp.Web.Areas.Reports.Models.AccountReportModel
@{
    ViewBag.ReportTitle = "Day Book";
}
@Scripts.Render("~/Js/Page/AccountsReport")

<div id="page_content_inner">
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            <div class="section-group">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-3-10">
                            <form action="/Reports/Accounts/DayBook" id="report-filter-form" method="POST">
                                <div class="uk-form-row ">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-3">
                                            <div class="uk-input-group">
                                                <label for="uk_dp_start">@Reports.Fromdate</label>
                                                @Html.TextBoxFor(model => model.FromDate, new { @class = "md-input label-fixed  past-date date" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-3">
                                            <div class="uk-input-group">
                                                <label for="uk_dp_start">@Reports.Todate</label>
                                                @Html.TextBoxFor(model => model.ToDate, new { @class = "md-input label-fixed  past-date date" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-2-3">
                                            <div class="uk-autocomplete " id="ledger-accountname-autocomplete">
                                                <label for="uk_dp_start">@Reports.AccountName</label>
                                                @*@Html.TextBox("AccountName", "", new { @class = "md-input label-fixed" })*@
                                                @Html.TextBoxFor(model => model.AccountName, new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-id="{{ $item.ID}}"
                                                            data-value="{{$item.Code}}">
                                                            <a>
                                                                {{ $item.Code }}

                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.AccountNameID)
                                        </div>
                                    </div>
                                </div>
                                @*<div class="uk-form-row ">
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-1-3">
                                                <div class="uk-autocomplete " id="sales-customercodefrom-autocomplete">
                                                    <label for="uk_dp_start">@Reports.CustomerCodeFrom</label>
                                                    @Html.TextBox("CustomerCodeFrom", "", new { @class = "md-input label-fixed" })
                                                    <script type="text/autocomplete">
                                                        <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                            {{~items}}
                                                            <li data-value="{{ $item.Code}}"
                                                                data-id="{{$item.ID}}">
                                                                <a>
                                                                    {{ $item.Code}}
                                                                </a>
                                                            </li>
                                                            {{/items}}
                                                        </ul>
                                                    </script>
                                                </div>
                                                @Html.HiddenFor(m => m.CustomerCodeFromID)
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-autocomplete " id="sales-customercodeTo-autocomplete">
                                                    <label for="uk_dp_start">@Reports.CustomerCodeTo</label>
                                                    @Html.TextBox("CustomerCodeTo", "", new { @class = "md-input label-fixed" })
                                                    <script type="text/autocomplete">
                                                        <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                            {{~items}}
                                                            <li data-value="{{ $item.Code}}"
                                                                data-id="{{$item.ID}}">
                                                                <a>
                                                                    {{ $item.Code}}
                                                                </a>
                                                            </li>
                                                            {{/items}}
                                                        </ul>
                                                    </script>
                                                </div>
                                                @Html.HiddenFor(m => m.CustomerCodeToID)
                                            </div>
                                        </div>
                                    </div>*@
                                @*<div class="uk-form-row ">
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-3">
                                                <label>@Reports.CustomerFrom</label>
                                                @Html.DropDownListFor(Model => Model.FromCustomerRange, Model.FromCustomerRangeList, "Select", new { @class = "md-input label-fixed", @id = "FromCustomerRange" })
                                            </div>
                                            <div class="uk-width-medium-1-3">
                                                <label>@Reports.CustomerTo</label>
                                                @Html.DropDownListFor(Model => Model.ToCustomerRange, Model.ToCustomerRangeList, "Select", new { @class = "md-input label-fixed", @id = "ToCustomerRange" })
                                            </div>
                                        </div>
                                    </div>*@
                                @*<div class="uk-form-row ">
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-2-3 ">
                                                <div class="uk-autocomplete " id="customer-autocomplete">
                                                    <label for="uk_dp_start">@Reports.CustomerName</label>
                                                    @Html.TextBox("Customer", "", new { @class = "md-input label-fixed" })
                                                    <script type="text/autocomplete">
                                                        <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                            {{~items}}
                                                            <li data-value="{{ $item.Name }}"
                                                                data-id="{{$item.ID}}">
                                                                <a>
                                                                    {{ $item.Name }}
                                                                </a>
                                                            </li>
                                                            {{/items}}
                                                        </ul>
                                                    </script>
                                                </div>
                                                @Html.HiddenFor(m => m.CustomerID)
                                            </div>
                                        </div>
                                    </div>*@
                                @*<div class="uk-form-row ">
                                        <div class="uk-grid" data-uk-grid-margin="">
                                            <div class="uk-width-medium-1-3">
                                                <div class="uk-input-group">
                                                    <label>@Reports.FromLocation</label>
                                                    @Html.DropDownListFor(Model => Model.LocationFromID, Model.LocationList, "Select", new { @class = "md-input label-fixed", @id = "LocationFromID" })
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-3">
                                                <div class="uk-input-group">
                                                    <label>@Reports.ToLocation<span>*</span></label>
                                                    @Html.DropDownListFor(Model => Model.LocationToID, Model.LocationList, "Select", new { @class = "md-input label-fixed", @id = "LocationToID" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                @*<div class="uk-form-row">
                                        <div class="uk-grid" data-uk-grid-margin="">
                                            <div class="uk-width-medium-1-3">
                                                <div class="uk-input-group">
                                                    <label for="uk_dp_start">@Reports.ItemCategoryFrom</label>
                                                    @Html.DropDownListFor(Model => Model.FromCategoryRange, Model.FromCategoryRangeList, "Select", new { @class = "md-input label-fixed", @id = "FromCategoryRange" })
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-3">
                                                <div class="uk-input-group">
                                                    <label for="uk_dp_start">@Reports.ItemCategoryTo</label>
                                                    @Html.DropDownListFor(Model => Model.ToCategoryRange, Model.ToCategoryRangeList, "Select", new { @class = "md-input label-fixed", @id = "ToCategoryRange" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-form-row ">
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-2-3 ">
                                                <label for="uk_dp_start">@Reports.Itemcategory</label>
                                                @Html.DropDownListFor(Model => Model.ItemCategoryID, Model.ItemCategoryList, "Select", new { @class = "md-input label-fixed", @id = "ItemCategoryID" })
                                            </div>
                                        </div>
                                    </div>*@
                                @*<div class="uk-form-row ">
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-3 stocktrans-summary stocktrans-detail">
                                                <div class="uk-autocomplete " id="sales-itemcodefrom-autocomplete">
                                                    <label for="uk_dp_start">@Reports.ItemCodeFrom</label>
                                                    @Html.TextBox("ItemCodeFrom", "", new { @class = "md-input label-fixed" })
                                                    <script type="text/autocomplete">
                                                        <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                            {{~items}}
                                                            <li data-value="{{ $item.Code }}"
                                                                data-id="{{$item.ID}}">
                                                                <a>
                                                                    {{ $item.Code }}

                                                                </a>
                                                            </li>
                                                            {{/items}}
                                                        </ul>
                                                    </script>
                                                </div>
                                                @Html.HiddenFor(m => m.ItemCodeFromID)
                                            </div>
                                            <div class="uk-width-medium-1-3 ">
                                                <div class="uk-autocomplete " id="sales-itemcodeTo-autocomplete">
                                                    <label class="itemcode">@Reports.ItemCodeTo</label>
                                                    @Html.TextBox("ItemCodeTo", "", new { @class = "md-input label-fixed" })
                                                    <script type="text/autocomplete">
                                                        <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                            {{~items}}
                                                            <li data-value="{{ $item.Code }}"
                                                                data-id="{{$item.ID}}">
                                                                <a>
                                                                    {{ $item.Code }}

                                                                </a>
                                                            </li>
                                                            {{/items}}
                                                        </ul>
                                                    </script>
                                                </div>
                                                @Html.HiddenFor(m => m.ItemCodeToID)

                                            </div>
                                        </div>
                                    </div>*@
                                @*<div class="uk-form-row summary ">
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-3">
                                                <label>@Reports.ItemNameFrom</label>
                                                @Html.DropDownListFor(Model => Model.ItemFromRange, Model.FromItemRangeList, "Select", new { @class = "md-input label-fixed", @id = "ItemFromRange" })
                                            </div>
                                            <div class="uk-width-medium-1-3">
                                                <label>@Reports.ItemNameTo</label>
                                                @Html.DropDownListFor(Model => Model.ItemToRange, Model.ToItemRangeList, "Select", new { @class = "md-input label-fixed", @id = "ItemToRange" })
                                            </div>
                                        </div>
                                    </div>*@
                                @*<div class="uk-form-row ">
                                        <div class="uk-grid ">
                                            <div class="uk-width-medium-2-3  ">
                                                <div class="uk-autocomplete " id="itemname-autocomplete">
                                                    <label>@Stock.Item</label>
                                                    @Html.TextBox("ItemName", "", new { @class = "md-input label-fixed" })
                                                    <script type="text/autocomplete">
                                                        <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                            {{~items}}
                                                            <li data-value="{{ $item.Code }}"
                                                                data-id="{{$item.ID}}">
                                                                <a>
                                                                    {{ $item.Code }}
                                                                </a>
                                                            </li>
                                                            {{/items}}
                                                        </ul>
                                                    </script>
                                                </div>
                                                @Html.HiddenFor(m => m.ItemID)
                                            </div>
                                        </div>
                                    </div>*@
                                @*<div class="uk-form-row ">
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-2-3 ">
                                                <label for="uk_dp_start">@Reports.Status</label>
                                                @Html.DropDownListFor(Model => Model.Status, Model.StatusList, new { @class = "md-input label-fixed", @id = "Status" })
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-3">
                                            <div class="md-input-wrapper md-input-filled">
                                                <label>&nbsp;</label>
                                                <button type="submit" class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="report-filter-submit">Show</button>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-3">
                                            <div class="md-input-wrapper md-input-filled">
                                                <label>&nbsp;</label>
                                                <a class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light " id="Refresh">Reset</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="uk-width-medium-7-10 ">
                            <div class="uk-form-row">
                                <div class="uk-grid" data-uk-grid-margin="" id="report-viewer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


