@model TradeSuiteApp.Web.Areas.Reports.Models.AccountReportModel
@using ReportViewerForMvc;

@{
    ViewBag.ReportTitle = "General Ledger Report";
}

<div id="page_content_inner">
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            <div class="section-group">
                <div class="uk-form-row">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-2-10">
                            <form action="/Reports/Accounts/GeneralLedger" id="report-filter-form" method="POST">
                                @Html.HiddenFor(m => m.LocationID)
                                <div class="uk-form-row">
                                    <div class="panel">
                                        <label>Report Type</label>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-1">
                                                <input type="radio" name="ReportType" class="GeneralLedger" data-md-icheck checked="" value="DocumentNumberwise" /> @Html.Label("Document Numberwise")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <input type="radio" name="ReportType" class="GeneralLedger" data-md-icheck value="AccountCodewise" /> @Html.Label("Account Codewise")
                                        </div>
                                    </div>
                                    <br/>
                                </div>
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-input-group">
                                                <label for="uk_dp_start">@Reports.DocDateFrom</label>
                                                @Html.TextBoxFor(model => model.FromDate, new { @class = "md-input label-fixed  past-date date" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-input-group">
                                                <label for="uk_dp_start">@Reports.DocDateTo</label>
                                                @Html.TextBoxFor(model => model.ToDate, new { @class = "md-input label-fixed  past-date date" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="uk-form-row detail supplier-wise item-wise ">
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-3">
                                                <label>@Reports.DocTypeFrom</label>
                                                @Html.DropDownListFor(Model => Model.DocTypeFromRange, Model.FromDocTypeRangeList, "Select", new { @class = "md-input label-fixed", @id = "DocTypeFromRange" })
                                            </div>
                                            <div class="uk-width-medium-1-3">
                                                <label>@Reports.DocTypeTo</label>
                                                @Html.DropDownListFor(Model => Model.DocTypeToRange, Model.ToDocTypeRangeList, "Select", new { @class = "md-input label-fixed", @id = "DocTypeToRange" })
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="uk-form-row summary detail" @*id="select-type"*@>
                                    <div class="uk-grid ">
                                        <div class="uk-width-medium-1-1  ">
                                            <div class="uk-autocomplete " id="generalledger-doctype-autocomplete">
                                                <label class="trans">@*@Stock.Item*@ Doc Type</label>
                                                @Html.TextBox("DocType", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code }}
                                                                @*<div>{{{ $item.ID }}}</div>*@
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>

                                            </div>
                                            @*@Html.HiddenFor(m => m.DocType)*@
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row summary detail" @*id="select-type"*@>
                                    <div class="uk-grid ">
                                        <div class="uk-width-medium-1-1  ">
                                            <div class="uk-autocomplete " id="generalledger-documentno-autocomplete">
                                                <label class="trans">@Reports.DocumentNo</label>
                                                @Html.TextBox("DocumentNo", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code }}
                                                                @*<div>{{{ $item.ID }}}</div>*@
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="uk-form-row detail supplier-wise item-wise ">
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-3">
                                                <label>@Reports.TransTypeFrom</label>
                                                @Html.DropDownListFor(Model => Model.TransTypeFromRange, Model.FromTransTypeRangeList, "Select", new { @class = "md-input label-fixed", @id = "TransTypeFromRange" })
                                            </div>
                                            <div class="uk-width-medium-1-3">
                                                <label>@Reports.TransTypeTo</label>
                                                @Html.DropDownListFor(Model => Model.TransTypeToRange, Model.ToTransTypeRangeList, "Select", new { @class = "md-input label-fixed", @id = "TransTypeToRange" })
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="uk-form-row summary detail" @*id="select-type"*@>
                                    <div class="uk-grid ">
                                        <div class="uk-width-medium-1-1 ">
                                            <div class="uk-autocomplete " id="generalledger-transtype-autocomplete">
                                                <label class="trans">@*@Stock.Item*@ Trans Type</label>
                                                @Html.TextBox("TransType", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Code }}"
                                                            data-id="{{$item.ID}}">
                                                            <a>
                                                                {{ $item.Code }}
                                                                @*<div>{{{ $item.ID }}}</div>*@
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>

                                            </div>
                                            @Html.HiddenFor(m => m.TransTypeID)
                                        </div>
                                    </div>
                                </div>
                                <div class="filters uk-form-row  general-ledger">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <div class="uk-autocomplete " id="ledgeraccountcode-autocomplete">
                                                <label for="uk_dp_start">@Reports.AccountCode</label>
                                                @*@Html.TextBox("AccountCodeFrom", "", new { @class = "md-input label-fixed" })*@
                                                @Html.TextBoxFor(model => model.AccountCodeFrom, new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-id="{{$item.ID}}"
                                                            data-accountid="{{ $item.AccountID }}"
                                                            data-accountname="{{ $item.AccountName }}">
                                                            <a>
                                                                {{ $item.AccountID }}
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.HiddenFor(m => m.AccountCodeFromID)
                                        </div>
                                        @*<div class="uk-width-medium-1-3">
                                                <div class="uk-autocomplete " id="ledgeraccountcodeto-autocomplete">
                                                    <label for="uk_dp_start">@Reports.AccountCodeTo</label>
                                                    @Html.TextBoxFor(model => model.AccountCodeTo, new { @class = "md-input label-fixed" })
                                                    <script type="text/autocomplete">
                                                        <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                            {{~items}}
                                                            <li data-id="{{$item.ID}}"
                                                                data-value="{{ $item.Code }}">
                                                                <a>
                                                                    {{ $item.Code }}
                                                                </a>
                                                            </li>
                                                            {{/items}}
                                                        </ul>
                                                    </script>
                                                </div>
                                                @Html.HiddenFor(m => m.AccountCodeToID)
                                            </div>*@
                                    </div>
                                </div>

                                @*<div class="uk-form-row detail supplier-wise item-wise ">
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2">
                                                <label>@Reports.AccountNameFrom</label>
                                                @Html.DropDownListFor(Model => Model.AccountNameFromRange, Model.FromAccountNameRangeList, "Select", new { @class = "md-input label-fixed", @id = "AccountCodeFromRange" })
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label>@Reports.AccountNameTo</label>
                                                @Html.DropDownListFor(Model => Model.AccountNameToRange, Model.ToAccountNameRangeList, "Select", new { @class = "md-input label-fixed", @id = "AccountCodeToRange" })
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <div class="uk-autocomplete " id="ledgeraccountname-autocomplete">
                                                <label for="uk_dp_start">@Reports.AccountName</label>
                                                @*@Html.TextBox("AccountName", "", new { @class = "md-input label-fixed" })*@
                                                @Html.TextBoxFor(model => model.AccountName, new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-id="{{ $item.ID}}"
                                                            data-accountname="{{$item.AccountName}}"
                                                            data-accountid="{{ $item.AccountID }}">
                                                            <a>
                                                                {{ $item.AccountName }}

                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                                @Html.HiddenFor(m => m.AccountNameID)
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                @*<div class="uk-form-row detail supplier-wise item-wise ">
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-3">
                                                <label>@Reports.EmployeeNoFrom</label>
                                                @Html.DropDownListFor(Model => Model.EmployeeNoFromRange, Model.FromEmployeeNoRangeList, "Select", new { @class = "md-input label-fixed", @id = "EmployeeFromRange" })
                                            </div>
                                            <div class="uk-width-medium-1-3">
                                                <label>@Reports.EmployeeNoTo</label>
                                                @Html.DropDownListFor(Model => Model.EmployeeNoToRange, Model.ToEmployeeNoRangeList, "Select", new { @class = "md-input label-fixed", @id = "EmployeeToRange" })
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="uk-form-row  employee-wise">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1 ">
                                            <div class="uk-autocomplete " id="employee-autocomplete">
                                                <label for="uk_dp_start">@Reports.Employee</label>
                                                @Html.TextBox("EmployeeName", "", new { @class = "md-input label-fixed" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Name}}"
                                                            data-id="{{$item.ID}}"
                                                            data-EmployeeCode="{{$item.Code}}"
                                                            data-placement="{{$item.Place}}">
                                                            <a>
                                                                {{ $item.Name }}
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.Hidden("EmployeeID")
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <label for="uk_dp_start">@Reports.Location</label>
                                            @Html.DropDownListFor(Model => Model.ItemLocationID, new SelectList(Model.LocationList, "Value", "Text"), "Select", new { @class = "md-input label-fixed" })
                                        </div>
                                        <div class="uk-width-medium-1-1">
                                            <label>@Reports.Department</label>
                                            @Html.DropDownListFor(Model => Model.DepartmentID, new SelectList(Model.DDLDepartment, "Value", "Text"), "Select", new { @class = "md-input label-fixed", @id = "DepartmentID" })
                                        </div>
                                    </div>
                                </div>
                                @*<div class="uk-grid summary detail" data-uk-grid-margin>
                                        <div class="uk-width-medium-2-3">
                                            <label>@Reports.Department</label>
                                            @Html.DropDownListFor(Model => Model.DepartmentID, new SelectList(Model.DDLDepartment, "Value", "Text"), "Select", new { @class = "md-input label-fixed", @id = "DepartmentID" })
                                        </div>
                                    </div>*@
                                @*<div class="uk-form-row detail supplier-wise item-wise ">
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-3">
                                                <label>@Reports.InterCompanyFrom</label>
                                                @*Html.DropDownListFor(Model => Model.InterCompanyFromRange, Model.FromInterCompanyRangeList, "Select", new { @class = "md-input label-fixed", @id = "CompanyFromRange" })*
                                                @Html.DropDownListFor(Model => Model.InterCompanyFromRange, Model.FromInterCompanyRangeList, "Select", new { @class = "md-input label-fixed", @id = "CompanyFromRange" })
                                            </div>
                                            <div class="uk-width-medium-1-3">
                                                <label>@Reports.InterCompanyTo</label>
                                                @Html.DropDownListFor(Model => Model.InterCompanyToRange, Model.ToInterCompanyRangeList, "Select", new { @class = "md-input label-fixed", @id = "CompanyToRange" })
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="uk-form-row">
                                    <div class="uk-grid summary detail" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <label>@Reports.InterCompany</label>
                                            @Html.DropDownListFor(Model => Model.InterCompanyID, Model.InterCompanyList, "Select", new { @id = "CompanyID", @class = " md-input label-fixed", })
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label>@Reports.Project</label>
                                            @Html.DropDownListFor(Model => Model.ProjectID, Model.ProjectList, "Select", new { @id = "ProjectID", @class = " md-input label-fixed", })
                                        </div>
                                    </div>
                                </div>
                                @*<div class="uk-grid summary detail" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-3">
                                            <label>@Reports.Project</label>
                                            @Html.DropDownListFor(Model => Model.ProjectID, Model.ProjectList, "Select", new { @id = "ProjectID", @class = " md-input label-fixed", })
                                        </div>
                                    </div>*@
                                @*<div class="uk-form-row">
                                        <div class="uk-grid ">
                                            <div class="uk-width-medium-2-3 item-wise">
                                                <div class="uk-autocomplete " id="item-autocomplete">
                                                    <label for="uk_dp_start">@Reports.AccountHead</label>
                                                    @Html.TextBoxFor(m => m.AccountName, new { @class = "md-input label-fixed" })
                                                    <script type="text/autocomplete">
                                                        <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                            {{~items}}
                                                            <li data-value="{{ $item.AccountName }} ({{$item.AccountID}})"
                                                                data-account-id="{{$item.AccountID}}"
                                                                data-GroupClassification="{{$item.GroupClassification}}"
                                                                data-OpeningAmt="{{$item.OpeningAmt}}">
                                                                <a>
                                                                    {{ $item.AccountName }}
                                                                    <div>{{{ $item.AccountID }}}</div>
                                                                </a>
                                                            </li>
                                                            {{/items}}
                                                        </ul>
                                                    </script>
                                                </div>
                                                @Html.Hidden("AccountID")
                                                @Html.Hidden("GroupClassification")
                                                @Html.Hidden("OpeningAmt")
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper md-input-filled">
                                                <label>&nbsp;</label>
                                                <button type="submit" class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="report-filter-submit">Show</button>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper md-input-filled">
                                                <label>&nbsp;</label>
                                                <a class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light " id="Refresh">Reset</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="uk-width-medium-8-10 ">
                            <div class="uk-form-row">
                                <div class="uk-grid" data-uk-grid-margin="" id="report-viewer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Js/Page/AccountsReport")

