
@model TradeSuiteApp.Web.Areas.Masters.Models.BatchModel
<div id="page_content_inner" class="form-view">
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <div class="uk-form-row">
                        <div class="uk-grid" data-uk-grid-margin>
                            @if (Model.ID > 0)
                            {
                                <div class="uk-width-medium-1-8">
                                    <label>@Masters.Batch</label>
                                    @Html.TextBoxFor(m => m.BatchNo, new { @class = "md-input", @readonly = "readonly" })
                                </div>
                                <div class="uk-width-medium-1-8">
                                    <label>@Masters.CustomBatch</label>
                                    @Html.TextBoxFor(m => m.CustomBatchNo, new { @class = "md-input", @readonly = "readonly" })
                                </div>
                            }
                            else
                            {
                                <div class="uk-width-medium-1-8">
                                    <label>@Masters.Batch</label>
                                    @Html.TextBoxFor(m => m.BatchNo, new { @class = "md-input" })
                                </div>
                                <div class="uk-width-medium-1-8">
                                    <label>@Masters.CustomBatch</label>
                                    @Html.TextBoxFor(m => m.CustomBatchNo, new { @class = "md-input" })
                                </div>
                            }
                            @Html.Hidden("UnitID")
                            @Html.HiddenFor(m=>m.PackSize)
                            @Html.HiddenFor(m => m.ID)
                            @if (Model.ID > 0)
                            {
                                <div class="uk-width-medium-2-8">
                                    <label>@Masters.ItemName</label>
                                    @Html.TextBoxFor(m => m.ItemName, new { @class = "md-input", @readonly = "readonly" })
                                </div>
                            }
                            else
                            {
                                <div class="uk-width-medium-2-8">
                                    <div class="uk-autocomplete " id="item-autocomplete">
                                        <div class="uk-input-group">
                                            <label>@Sales.ItemName <span>*</span></label>
                                            @Html.TextBoxFor(m => m.ItemName, new { @class = "md-input label-fixed"})
                                            @*<input type="text" id="ItemName" class="md-input label-fixed" />*@
                                            <span class="uk-input-group-addon">
                                                <a data-uk-modal="{target:'#select-item',center:false}">
                                                    <i class="uk-input-group-icon uk-icon-search"></i>
                                                </a>
                                            </span>
                                            <script type="text/autocomplete">
                                                <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                    {{~items}}
                                                    <li data-value="{{ $item.ItemName }}"
                                                        data-id="{{$item.ItemID}}"
                                                        data-code="{{$item.Code}}"
                                                        data-unit="{{$item.Unit}}"
                                                        data-unit-id="{{$item.UnitID}}"
                                                        data-sale-unit="{{$item.SalesUnit}}"
                                                        data-sale-unit-id="{{$item.SalesUnitID}}"
                                                        data-CGSTPercentage="{{$item.CGSTPercentage}}"
                                                        data-IGSTPercentage="{{$item.IGSTPercentage}}"
                                                        data-SGSTPercentage="{{$item.SGSTPercentage}}"
                                                        data-cess-percentage="{{$item.CessPercentage}}"
                                                        data-loose-rate="{{$item.LooseRate}}"
                                                        data-rate="{{$item.Rate}}"
                                                        data-MaxSalesQtyLoose="{{$item.MaxSalesQtyLoose}}"
                                                        data-MinSalesQtyFull="{{$item.MinSalesQtyFull}}"
                                                        data-MinSalesQtyLoose="{{$item.MinSalesQtyLoose}}"
                                                        data-MaxSalesQtyFull="{{$item.MaxSalesQtyFull}}"
                                                        data-category="{{$item.ItemCategory}}"
                                                        data-stock="{{$item.Stock}}">
                                                        <a>
                                                            {{ $item.ItemName }}
                                                            <div>{{$item.Code}} &nbsp;</div>
                                                        </a>
                                                    </li>
                                                    {{/items}}
                                                </ul>
                                            </script>
                                        </div>
                                    </div>
                                    @Html.Hidden("ItemID")
                                    @Html.Hidden("Code")
                                    @Html.Hidden("PrimaryUnit")
                                    @Html.Hidden("PrimaryUnitID")
                                    @Html.Hidden("SalesUnit")
                                    @Html.Hidden("SalesUnitID")
                                    @Html.Hidden("Stock")
                                    @Html.Hidden("DiscountPercentage")
                                    @Html.Hidden("CGSTPercentage")
                                    @Html.Hidden("IGSTPercentage")
                                    @Html.Hidden("SGSTPercentage")
                                    @Html.Hidden("CessPercentage")
                                    @Html.Hidden("Rate")
                                    @Html.Hidden("LooseRate")
                                    @Html.Hidden("Category")
                                    @Html.Hidden("MaxSalesQtyFull")
                                    @Html.Hidden("MinSalesQtyLoose")
                                    @Html.Hidden("MinSalesQtyFull")
                                    @Html.Hidden("MaxSalesQtyLoose")
                                    <input type="hidden" value="222" id="ItemCategoryID">
                                </div>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="uk-form-row">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-8">
                                <label>@Masters.SalesCategory</label>
                                @Html.TextBoxFor(m => m.Itemtype, new { @class = "md-input", @readonly = "readonly" })
                            </div>
                            @*<div class="uk-width-medium-1-8">
                                    <label>@Masters.BatchType</label>
                                    @Html.TextBoxFor(m => m.BatchTypeName, new { @class = "md-input", @readonly = "readonly" })
                                </div>*@

                            <div class="uk-width-medium-1-8">
                                <div class="uk-input-group">
                                    <label>@Masters.ExpairyDate</label>
                                    @Html.TextBoxFor(m => m.ExpDate, new { @class = "md-input label-fixed  past-date date" })
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar future-date"></i></span>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-8">
                                <div class="uk-input-group">
                                    <label for="uk_dp_start">@Masters.ManufacturerDate</label>
                                    @Html.TextBoxFor(m => m.ManufacturingDate, new { @class = "md-input label-fixed  past-date date" , @id = "manufacture-date" })


                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                </div>
                            </div>
                            @*<div class="uk-width-medium-1-8">
                                <label>@Masters.ISKPrice</label>
                                @Html.TextBoxFor(m => m.ISKPrice, new { @class = "md-input mask-sales-currency", })
                            </div>
                            <div class="uk-width-medium-1-8">
                                <label>@Masters.OSKPrice</label>
                                @Html.TextBoxFor(m => m.OSKPrice, new { @class = "md-input mask-sales-currency", })
                            </div>
                            <div class="uk-width-medium-1-8">
                                <label>@Masters.ExportPrice</label>
                                @Html.TextBoxFor(m => m.ExportPrice, new { @class = "md-input mask-sales-currency", })
                            </div>*@
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <div class="panel">
                            <div class="uk-grid" data-uk-grid-margin="">


                                <div class="uk-width-medium-1-5">
                                    <label for="uk_dp_start">@Masters.RetailPrice</label>

                                </div>
                                <div class="uk-width-medium-1-5">
                                    <label for="uk_dp_start">@Masters.MRP</label>
                                    @Html.TextBoxFor(m=>m.RetailMRP, new { @class = "md-input label-fixed mask-currency" })
                                </div>
                                <div class="uk-width-medium-1-5">

                                    <label for="uk_dp_start">@Masters.Loose</label>
                                    @Html.TextBoxFor(m => m.RetailLooseRate, new { @class = "md-input label-fixed mask-currency ", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-form-row">

                        <div class="uk-grid" data-uk-grid-margin="">
                            <div class="uk-width-medium-1-5">
                                <label for="uk_dp_start">@Masters.PurchasePrice</label>

                            </div>
                            <div class="uk-width-medium-1-5">
                                <label for="uk_dp_start">@Masters.Full</label>
                                @Html.TextBoxFor(m => m.PurchaseMRP, new { @class = "md-input label-fixed mask-currency" })
                            </div>
                            <div class="uk-width-medium-1-5">

                                <label for="uk_dp_start">@Masters.Loose</label>
                                @Html.TextBoxFor(m => m.PurchaseLooseRate, new { @class = "md-input label-fixed mask-currency ", @disabled = "disabled" })
                            </div>
                        </div>

                    </div>

@if (Model.ID == 0)
{
                    <div class="uk-form-row md-bg-blue-grey-50">
                        <div class="panel">
                            <div class="uk-form-row ">
                                <div class="uk-grid" data-uk-grid-margin="">
                                    <div class="uk-width-medium-1-1">
                                        <label for="uk_dp_start">@Masters.LatestBatchEntryDetails</label>

                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="uk-grid " data-uk-grid-margin="">
                                <div class="uk-width-medium-1-5">
                                    <label for="uk_dp_start">@Masters.RetailPrice</label>

                                </div>
                                <div class="uk-width-medium-1-5">
                                    <label for="uk_dp_start">@Masters.MRP</label>
                                    @Html.TextBox("LatestRetailMRP","", new { @class = "md-input label-fixed mask-currency", @disabled = "disabled" })
                                </div>
                                <div class="uk-width-medium-1-5">

                                    <label for="uk_dp_start">@Masters.Loose</label>
                                    @Html.TextBox("LatestRetailLooseRate","", new { @class = "md-input label-fixed mask-currency ", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <div class="uk-grid" data-uk-grid-margin="">
                            <div class="uk-width-medium-4-5 ">
                                <label id="unitSelected" class="red"></label>
                            </div>

                        </div>
                    </div>
                    <div class="uk-form-row md-bg-blue-grey-50">
                        <div class="uk-grid" data-uk-grid-margin="">
                            <div class="uk-width-medium-1-5">
                                <label for="uk_dp_start">@Masters.PurchasePrice</label>

                            </div>
                            <div class="uk-width-medium-1-5">
                                <label for="uk_dp_start">@Masters.Full</label>
                                @Html.TextBox("LatestPurchaseMRP","", new { @class = "md-input label-fixed mask-currency", @disabled = "disabled" })
                            </div>
                            <div class="uk-width-medium-1-5">

                                <label for="uk_dp_start">@Masters.Loose</label>
                                @Html.TextBox("LatestPurchaseLooseRate","", new { @class = "md-input label-fixed mask-currency ", @disabled = "disabled" })
                            </div>
                        </div>
                    </div> 
}
                 </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Areas/Masters/Views/Item/PartialList.cshtml")
@Scripts.Render("~/Js/Page/Item")