
<div class="uk-modal" id="select-labtest" aria-hidden="true">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Lab Test List<i class="material-icons" data-uk-tooltip="{pos:'top'}" title="headline tooltip"></i></h3>
        </div>
        <table id="labtest-list" class="uk-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="width-30">@Common.SerialNo</th>
                    <th class="width-10"></th>
                    <th class="width-60">@AHCMS.Code</th>
                    <th class="width-100">@AHCMS.Type</th>
                    <th class="uk-width-1-3">@AHCMS.Service</th>
                    <th>@AHCMS.TestNameORGroup</th>
                </tr>
            </thead>
            <thead class="search">
                <tr>
                    <th class="width-30">@Common.SerialNo</th>
                    <th class="width-10"></th>
                    <th class="width-60">@AHCMS.Code</th>
                    <th class="width-100">@AHCMS.Type</th>
                    <th>@AHCMS.Service</th>
                    <th>@AHCMS.TestNameORGroup</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn uk-modal-close" id="btnClose_labtest">Close</button>
            <button type="button" class="md-btn md-btn-primary uk-modal-close" id="btn_add_labtests">Ok</button>
        </div>
    </div>
</div>



