@model TradeSuiteApp.Web.Areas.AHCMS.Models.PatientDiagnosisModel
@{
    ViewBag.Title = @AHCMS.CreatePatientDiagnosis;
}
<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 54, media: 960 }">
        <div class="heading_title">
            <h1>@AHCMS.PatientDiagnosis</h1>
            <span class="uk-text-upper uk-text-small">@AHCMS.CreatePatientDiagnosis</span>
        </div>
        <div class="heading_actions">
            @if (!Model.IsCompleted)
            {
                @ActionAuthorization.IsAuthorized("SaveV2", "<a class='md-btn btnSave'>" + Common.Save + "</a>")
            }
            @Html.HiddenFor(m => m.EmployeeCategoryID)
            @Html.HiddenFor(m => m.PatientID)
            @Html.HiddenFor(m => m.AppointmentScheduleItemID)
            @Html.HiddenFor(m => m.AppointmentProcessID)
            @Html.HiddenFor(m => m.IsCompleted)
            @Html.HiddenFor(m => m.ParentID)
            @Html.HiddenFor(m => m.ReviewID)
            @Html.Hidden("ReviewStatus")
            @Html.ActionLink(Common.Close, "IndexV2", "PatientDiagnosis", new { Area = "AHCMS" }, new { @class = "md-btn " })
            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a>Print</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="page_content_inner" class="form-view">
        <div class="uk-grid uk-grid-collapse" data-uk-grid-margin data-uk-grid-match="{target:'.md-card'}">
            <div class="uk-width-medium-1-5  md-bg-blue-grey-50">
                <div class="container md-bg-grey-50" style="margin:10px; padding:10px;border-radius:4px; height:400px">
                    <table>
                        <thead>
                            <tr class="md-color-green-800">
                                <td><b>@AHCMS.Patient     : </b></td>
                                <td><b><label>@Model.PatientName</label></b></td>
                            </tr>
                            <tr class="md-color-green-800">
                                <td><b>@AHCMS.MRDNo: </b></td>
                                <td><b>@Html.Label(Model.PatientCode)</b></td>
                            </tr>

                            <tr class="md-color-green-800">
                                <td><b>@AHCMS.Age:</b></td>
                                <td><b>@Html.DisplayFor(Model => Model.Age)</b></td>
                            </tr>
                            @if (Model.Month != 0)
                            {
                                <tr class="md-color-green-800">
                                    <td><b>Month:</b></td>
                                    <td><b>@Html.DisplayFor(Model => Model.Month)</b></td>
                                </tr>
                            }
                            <tr class="md-color-green-800">
                                <td><b>@AHCMS.Place: </b></td>
                                <td><b>@Html.DisplayFor(Model => Model.Place)</b></td>
                            </tr>
                            <tr class="md-color-green-800">
                                <td><b>@AHCMS.Phone: </b></td>
                                <td><b>@Html.DisplayFor(Model => Model.Mobile)</b></td>
                            </tr>
                            @if (Model.IsInPatient)
                            {
                                <tr class="md-color-green-800">
                                    <td><b>@AHCMS.Room: </b></td>
                                    <td><b>@Html.DisplayFor(Model => Model.RoomName)</b></td>
                                </tr>
                                <tr class="md-color-green-800">
                                    <td><b>@AHCMS.AdmissionDate: </b></td>
                                    <td><b>@Html.DisplayFor(Model => Model.AdmissionDate)</b></td>
                                </tr>
                                <tr class="md-color-green-800">
                                    <td><b>@AHCMS.Doctor: </b></td>
                                    <td><b>@Html.DisplayFor(Model => Model.IPDoctor)</b></td>
                                </tr>
                            }
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="uk-form-row uk-hidden">
                        <div class="uk-grid uk-margin-small-top" data-uk-grid-margin="">
                            <div class="uk-width-medium-4-10">
                                <div class="uk-input-group">
                                    <input type="radio" name="IP" class="op" data-md-icheck value="IP" /> &nbsp; @Html.Label("IP")
                                </div>
                            </div>
                            <div class="uk-width-medium-5-10">
                                <div class="uk-input-group">

                                    <input type="radio" name="IP" class="op" data-md-icheck checked="" value="OP" />&nbsp; @Html.Label("OP")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <div class="uk-width-medium-1-1" data-uk-grid-margin="">
                            @*<div class="uk-form-row">
                                    <input type="radio" name="review" class="History" data-md-icheck checked="" value="History" />&nbsp; @Html.Label("History")
                                </div>*@
                            <div class="uk-form-row">
                                <input type="radio" name="review" class="fresh" data-md-icheck value="Fresh" /> &nbsp; @Html.Label("Fresh")
                            </div>
                            <div class="uk-form-row">
                                <div class="uk-width-medium-1-10">
                                    <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="btnHistory">History</button>
                                </div>
                            </div>
                            @*<div class="uk-form-row">
                                    <input type="radio" name="review" class="Review" data-md-icheck value="Review" />&nbsp; @Html.Label("Review")
                                </div>*@
                        </div>
                    </div>
                    <br />
                    <div class="uk-form-row uk-hidden">
                        <div class="uk-width-medium-4-6">
                            <div class="uk-input-group">
                                <label class="md-color-green-800">@AHCMS.ViewByVisitDate</label>
                                @*@if (Model.AppointmentProcessID == 0)
                                    {*@
                                @Html.DropDownListFor(m => m.Date, new SelectList(Model.DateList, "Value", "Text"), new { @class = "md-input label-fixed" })
                                @*}
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.Date, new SelectList(Model.DateList, "Value", "Text"), new { @class = "md-input label-fixed",@disabled = "disabled" })
                                    }*@
                            </div>
                        </div>
                    </div>
                    <br />
                    @*<div class="uk-form-row">
                            <div class="uk-width-medium-4-6">
                                <div class="md-card-toolbar">
                                    <div class="md-card-toolbar-actions">
                                        @if (!Model.IsCompleted)
                                        {
                                            <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="btnfilter">Show Detail</button>
                                        }
                                        else
                                        {
                                            <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light uk-hidden" id="btnfilter">Show Detail</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    <div class="uk-width-medium-1-1 item-align-icheck">


                        @if (Model.IsReferedIP)
                        {
                            <div class="uk-form-row">
                                <input type="checkbox" class="icheckbox IsCompleted" data-md-icheck disabled />&nbsp;@Html.Label("Case Completed")
                            </div>
                            <div class="uk-form-row">
                                <input type="checkbox" class="icheckbox IsIP" data-md-icheck checked disabled />&nbsp;@Html.Label("Refered To IP")
                            </div>
                            <div class="uk-form-row">
                                <input type="checkbox" class="icheckbox Iswalkin" data-md-icheck disabled />&nbsp;@Html.Label("Walk In")
                            </div>
                        }
                        else if (Model.IsInPatient)
                        {
                            <div class="uk-form-row">
                                <input type="checkbox" class="icheckbox IsCompleted" data-md-icheck />&nbsp;@Html.Label("Case Completed")
                            </div>
                            <div class="uk-form-row">
                                <input type="checkbox" class="icheckbox IsIP" data-md-icheck disabled />&nbsp;@Html.Label("Refered To IP")
                            </div>
                            <div class="uk-form-row">
                                <input type="checkbox" class="icheckbox Iswalkin" data-md-icheck disabled />&nbsp;@Html.Label("Walk In")
                            </div>
                        }
                        else if (Model.IsCompleted)
                        {
                            <div class="uk-form-row">
                                <input type="checkbox" class="icheckbox IsCompleted" data-md-icheck checked disabled />&nbsp;<label> Case Completed</label>
                            </div>
                            <div class="uk-form-row">
                                <input type="checkbox" class="icheckbox IsIP" data-md-icheck disabled />&nbsp;<label> Refered To IP</label>
                            </div>
                            <div class="uk-form-row">
                                <input type="checkbox" class="icheckbox Iswalkin" data-md-icheck disabled />&nbsp; <label> Walk In</label>
                            </div>

                        }
                        else if (Model.IswalkIn)
                        {
                            <div class="uk-form-row">
                                <input type="checkbox" class="icheckbox IsCompleted" data-md-icheck  />&nbsp;<label> Case Completed</label>
                            </div>
                            <div class="uk-form-row">
                                <input type="checkbox" class="icheckbox IsIP" data-md-icheck  />&nbsp;<label> Refered To IP</label>
                            </div>
                            <div class="uk-form-row">
                                <input type="checkbox" class="icheckbox Iswalkin" data-md-icheck checked />&nbsp; <label> Walk In</label>
                            </div>

                        }
                        else
                        {
                            <div class="uk-form-row">
                                <input type="checkbox" class="icheckbox IsCompleted" data-md-icheck />&nbsp;@Html.Label("Case Completed")
                            </div>
                            <div class="uk-form-row">
                                <input type="checkbox" class="icheckbox IsIP" data-md-icheck />&nbsp;@Html.Label("Refered To IP")
                            </div>
                            <div class="uk-form-row">
                                <input type="checkbox" class="icheckbox Iswalkin" data-md-icheck />&nbsp;@Html.Label("Walk In")
                            </div>

                        }

                    </div>
                </div>
            </div>
            <div class="uk-width-medium-4-5">
                <div class="uk-grid uk-grid-small" data-uk-grid-margin data-uk-grid-match="{target:'.md-card'}">
                    <div class="uk-width-medium-1-1">
                        <div class="uk-width-1-1 tabReview  uk-hidden">
                            <ul class="uk-tab" data-uk-tab="{connect:'#tabs-modules-content',animation:'slide-horizontal'}" id="tabs-module">
                                <li class="uk-active" data-tab="BaseLineInformation"><a>@AHCMS.BaseLineInformation</a></li>
                                <li data-tab="vitalchart"><a>@AHCMS.VitalChart</a></li>
                                <li data-tab="casesheet"><a>@AHCMS.CaseSheet</a></li>
                                <li data-tab="examination"><a>@AHCMS.Examination</a></li>
                                <li data-tab="Rogi_pareeksha"><a> Roga-Rogi Pareeksha</a></li>
                                <li data-tab="roga-nirnayam"><a>Roga Nirnayam</a></li>
                                <li data-tab="questionnaire"><a>@AHCMS.Questionnaire</a></li>
                                <li data-tab="labtest"><a>@AHCMS.LabTest/Xray</a></li>
                                <li data-tab="medicine"><a>@AHCMS.Medicine</a></li>
                                <li data-tab="treatment"><a>@AHCMS.Treatment</a></li>
                                <li data-tab="reports"><a>@AHCMS.Reports</a></li>
                                <li data-tab="remark"><a>@AHCMS.Remarks</a></li>
                            </ul>
                            <ul id="tabs-modules-content" class="uk-switcher uk-margin">
                                <li>
                                    <div class="md-card">
                                        <div class="md-card-content">
                                            <div class="section-group">
                                                <div class="uk-form-row">
                                                    <table id="base-line-information-list" class="uk-table" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <td class="width-20">@Common.SerialNo</td>
                                                                <td class="width-70">@AHCMS.Area</td>
                                                                <td>@AHCMS.Details</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @Html.Partial("~/Areas/AHCMS/Views/PatientDiagnosis/BaseLineInformation.cshtml", Model)
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="md-card">
                                        <div class="md-card-content">
                                            <table id="vital-chart-list" class="uk-table" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th class="width-50">BloodPressure</th>
                                                        <th class="width-50">Pulse rate per minute</th>
                                                        <th class="width-50">@AHCMS.Temperature</th>
                                                        <th class="width-50">@AHCMS.HR</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @Html.Partial("~/Areas/AHCMS/Views/PatientDiagnosis/VitalChart.cshtml", Model)
                                                </tbody>
                                            </table>
                                            <table id="chart-list" class="uk-table" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th class="width-50">@AHCMS.RR</th>
                                                        <th class="width-50">@AHCMS.Height</th>
                                                        <th class="width-50">@AHCMS.Weight</th>
                                                        <th class="width-50">BMI</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @Html.Partial("~/Areas/AHCMS/Views/PatientDiagnosis/Chart.cshtml", Model)
                                                </tbody>
                                            </table>
                                            <table id="vital-list" class="uk-table" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th class="width-50">Respiratory rate per minute</th>
                                                        <th class="width-50">Others</th>
                                                        <th class="width-50 uk-hidden"></th>
                                                        <th class="width-50 uk-hidden"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @Html.Partial("~/Areas/AHCMS/Views/PatientDiagnosis/Vitals.cshtml", Model)
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-card">
                                        <div class="md-card-content">
                                            <div class="section-group">
                                                <div class="uk-form-row">
                                                    <table id="case-sheet-list" class="uk-table" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <td class="width-20">@Common.SerialNo</td>
                                                                <td class="width-70">@AHCMS.Area</td>
                                                                <td>@AHCMS.Details</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @Html.Partial("~/Areas/AHCMS/Views/PatientDiagnosis/CaseSheetV2.cshtml", Model)
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="md-card">
                                        <div class="md-card-content">
                                            <div class="section-group">
                                                <div class="uk-form-row">
                                                    <table id="examination-list" class="uk-table" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <td class="width-20">@Common.SerialNo</td>
                                                                <td class="width-70">@AHCMS.Area</td>
                                                                <td>@AHCMS.Details</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @Html.Partial("~/Areas/AHCMS/Views/PatientDiagnosis/ExaminationV2.cshtml", Model)
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="md-card">
                                        <div class="md-card-content">
                                            <div class="section-group">
                                                <div class="uk-form-row">
                                                    <table id="roga-pareeksha-list" class="uk-table" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <td class="width-20">@Common.SerialNo</td>
                                                                <td class="width-70">@AHCMS.Area</td>
                                                                <td>@AHCMS.Details</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @Html.Partial("~/Areas/AHCMS/Views/PatientDiagnosis/RogaPareekshaV2.cshtml", Model)
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <li>
                                    <div class="md-card">
                                        <div class="md-card-content">
                                            <div class="section-group">
                                                <div class="uk-form-row">
                                                    <table id="roga-nirnayam-list" class="uk-table" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <td class="width-20">@Common.SerialNo</td>
                                                                <td class="width-70">@AHCMS.Area</td>
                                                                <td>@AHCMS.Details</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @Html.Partial("~/Areas/AHCMS/Views/PatientDiagnosis/RogaNirnayamV2.cshtml", Model)
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-card">
                                        <div class="md-card-content">
                                            <div class="section-group">
                                                <div class="uk-form-row">
                                                    @Html.Partial("~/Areas/AHCMS/Views/PatientDiagnosis/Questionnaire.cshtml", Model)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="section-group">
                                        <div class="uk-form-row">
                                            <div class="uk-grid" data-uk-grid-margin="">
                                                <div class="uk-width-medium-8-10">
                                                    <div class="uk-form-row">
                                                        <div class="uk-grid" data-uk-grid-margin="">
                                                            <div class="uk-width-medium-1-8">
                                                                <div class="uk-input-group">
                                                                    <label for="uk_dp_start">@AHCMS.Date</label>
                                                                    @if (!Model.IsCompleted)
                                                                    {
                                                                        @Html.TextBoxFor(m => m.TestDate, "", new { @class = "md-input label-fixed current-date date" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TextBoxFor(m => m.TestDate, "", new { @class = "md-input label-fixed current-date date", @disabled = "disabled" })
                                                                    }

                                                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar future-date"></i></span>
                                                                </div>
                                                            </div>
                                                            <div class="uk-width-medium-1-4">
                                                                <label>@AHCMS.LabTest / X-ray</label>
                                                                <div class="uk-autocomplete">
                                                                    <div class="uk-input-group">
                                                                        @if (!Model.IsCompleted)
                                                                        {
                                                                            @Html.TextBoxFor(model => model.LabTest, new { @class = "md-input label-fixed" })
                                                                            <span class="uk-input-group-addon">
                                                                                <a data-uk-modal="{target:'#select-labtest',center:false}">
                                                                                    <i class="uk-input-group-icon uk-icon-search"></i>
                                                                                </a>
                                                                            </span>
                                                                        }
                                                                        else
                                                                        {
                                                                            @Html.TextBoxFor(model => model.LabTest, new { @class = "md-input label-fixed", @disabled = "disabled" })
                                                                        }
                                                                    </div>
                                                                </div>
                                                                @Html.HiddenFor(model => model.LabTestID)
                                                                @Html.Hidden("Category")
                                                            </div>
                                                            @*<div class="uk-width-medium-1-4">
                                        <label>@AHCMS.LabTest / Xray</label>
                                        <div class="uk-autocomplete" id="labtest-autocomplete">
                                            <div class="uk-input-group">
                                                @if(!Model.IsCompleted)
                                                {
                                                    @Html.TextBoxFor(model => model.LabTest, new { @class = "md-input label-fixed" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.LabTest, new { @class = "md-input label-fixed",@disabled = "disabled" })
                                                }
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.LabTestID)
                                        @Html.Hidden("Category")
                                    </div>*@
                                                            <div class="uk-form-row">
                                                                <div class="uk-width-medium-1-10">
                                                                    <div class="md-card-toolbar">
                                                                        <div class="md-card-toolbar-actions uk-hidden">
                                                                            <label>&nbsp;</label>
                                                                            @if (!Model.IsCompleted)
                                                                            {
                                                                                <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="btn_add_lab_items">Add</button>
                                                                            }
                                                                            else
                                                                            {
                                                                                <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light uk-hidden" id="btn_add_lab_items">Add</button>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="uk-form-row">
                                                <div>
                                                    <table id="add_lab_items" class="uk-table" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <th class="width-20">@Common.SerialNo</th>
                                                                <th class="width-120">@AHCMS.Date</th>
                                                                <th class="width-200">@AHCMS.LabTest</th>
                                                                <th class="width-100">@AHCMS.ObservedValue</th>
                                                                <th class="width-150">@AHCMS.Unit</th>
                                                                <th class="width-150">@AHCMS.BiologicalReferenceInterval</th>
                                                                <th class="width-100">@AHCMS.NoramlValueLow</th>
                                                                <th class="width-100">@AHCMS.NoramlValueHigh</th>
                                                                <th class="width-100"></th>
                                                                <th class="width-20"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-card">
                                        <div class="md-card-toolbar">
                                            @if (!Model.IsCompleted)
                                            {
                                                <div class="md-card-toolbar-actions">
                                                    <div class="uk-width-medium-1-8">
                                                        <div class="md-input-wrapper md-input-filled">
                                                            <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="btnAddMedicine">Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            <div class="md-card-toolbar-actions uk-hidden">
                                                <div class="uk-width-medium-1-6">
                                                    <div class="md-input-wrapper md-input-filled">
                                                        <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="btnprevMedicines">Medicines</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="md-card-content">
                                            <table id="add_medicine-list" class="uk-table" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th class="width-20">@Common.SerialNo</th>
                                                        <th class="width-50">@AHCMS.Medicine</th>
                                                        <th class="width-50">@AHCMS.Instructions</th>
                                                        <th class="width-50">Edit</th>
                                                        <th class="width-50">Status</th>
                                                        <th class="width-50">@AHCMS.Doctor</th>
                                                        <th class="width-20"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @Html.Partial("~/Areas/AHCMS/Views/PatientDiagnosis/Medicines.cshtml", Model)
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-card">
                                        @if (!Model.IsCompleted)
                                        {
                                            <div class="md-card-toolbar">
                                                <div class="md-card-toolbar-actions">
                                                    <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="btnaddtreatment">Add</button>
                                                </div>
                                            </div>
                                        }
                                        <div class="md-card-content">
                                            <table id="treatment-list" class="uk-table" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th class="width-20">@Common.SerialNo</th>
                                                        <th>@AHCMS.Treatment</th>
                                                        <th>@AHCMS.Therapist</th>
                                                        <th>@AHCMS.TreatmentRoom</th>
                                                        <th>@AHCMS.Instructions</th>
                                                        <th>@AHCMS.StartDate</th>
                                                        <th>@AHCMS.EndDate</th>
                                                        <th>@AHCMS.TreatmentNumber</th>
                                                        <th>@AHCMS.Doctor</th>
                                                        <th>@AHCMS.Status</th>
                                                        <th>Edit</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @Html.Partial("~/Areas/AHCMS/Views/PatientDiagnosis/Treatment.cshtml", Model)
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-card">
                                        @if (!Model.IsCompleted)
                                        {
                                            <div class="md-card-toolbar">
                                                <div class="md-card-toolbar-actions">
                                                    <div class="uk-width-medium-1-8">
                                                        <div class="md-input-wrapper md-input-filled">
                                                            <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="btnaddreport">Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="md-card-content">
                                            <table id="report-list" class="uk-table" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th class="width-20">@Common.SerialNo</th>
                                                        <th class="width-100">Report Name</th>
                                                        <th class="width-100">Description</th>
                                                        <th class="width-60">Date</th>
                                                        <th class="width-20">View</th>
                                                        <th class="width-20">Edit</th>
                                                        <th class="width-10"></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </li>                            
                                <li>
                                    @if (!Model.IsCompleted)
                                    {
                                        <div class="section-group case-sheet">
                                            <div class="uk-form-row">
                                                <div class="uk-width-medium-1-1">
                                                    <div class="uk-grid" data-uk-grid-margin="">
                                                        <div class="uk-width-medium-1-1">
                                                            <label for="uk_dp_start">@AHCMS.Remark</label>
                                                            @Html.TextAreaFor(m => m.Remark, new { @class = "md-input label-fixed" })
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>

                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <div class="uk-input-group">
                                                <label for="uk_dp_start">@AHCMS.NextVisitDate</label>
                                                @Html.TextBoxFor(m => m.NextVisitDate, new { @class = "md-input label-fixed future-date date" })
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar future-date"></i></span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="section-group">
                                            <div class="uk-width-medium-9-10">
                                                <div class="uk-form-row">
                                                    <div class="uk-grid" data-uk-grid-margin="">
                                                        <div class="uk-width-medium-2-10">
                                                            <div class="uk-autocomplete " id="employee-autocomplete">
                                                                <div class="uk-input-group">
                                                                    <label for="uk_dp_start">@AHCMS.PanelOfDoctors</label>
                                                                    @Html.TextBoxFor(m => m.DoctorName, new { @class = "md-input label-fixed" })
                                                                    <span class="uk-input-group-addon">
                                                                        <a data-uk-modal="{target:'#select-employee',center:false}">
                                                                            <i class="uk-input-group-icon uk-icon-search"></i>
                                                                        </a>
                                                                    </span>
                                                                    <script type="text/autocomplete">
                                                                        <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                                            {{~items}}
                                                                            <li data-value="{{ $item.Name}}"
                                                                                data-id="{{$item.ID}}"
                                                                                data-EmployeeCode="{{$item.Code}}"
                                                                                data-placement="{{$item.Location}}">
                                                                                <a>
                                                                                    {{ $item.Name }}
                                                                                    <div>{{ $item.Code }}</div>
                                                                                </a>
                                                                            </li>
                                                                            {{/items}}
                                                                        </ul>
                                                                    </script>
                                                                </div>
                                                            </div>
                                                            @Html.HiddenFor(m => m.DoctorNameID)
                                                        </div>
                                                        <div class="uk-width-medium-1-10">
                                                            @*<div class="uk-input-group">*@
                                                            <label>&nbsp;</label>
                                                            <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="btn_adddoctor">Add</button>
                                                            @*</div>*@
                                                        </div>
                                                        </div>
                                                     
                                                    </div>
                                            </div>
                                        </div>

                                            <div class="uk-form-row">
                                                <div>
                                                    <table id="add_doctor" class="uk-table" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <th class="width-20">@Common.SerialNo</th>
                                                                <th class="width-120">@AHCMS.Doctor</th>
                                                                <th class="width-20"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>

                                    }
                                    else
                                    {
                                        <div class="section-group case-sheet">
                                            <div class="uk-form-row">
                                                <div class="uk-width-medium-1-1">
                                                    <div class="uk-grid" data-uk-grid-margin="">
                                                        <div class="uk-width-medium-1-1">
                                                            <label for="uk_dp_start">@AHCMS.Remark</label>
                                                            @Html.TextAreaFor(m => m.Remark, new { @class = "md-input label-fixed", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>

                                        </div>
                                                <div class="uk-width-medium-1-8">
                                                    <div class="uk-input-group">
                                                        <label for="uk_dp_start">@AHCMS.NextVisitDate</label>
                                                        @Html.TextBoxFor(m => m.NextVisitDate, new { @class = "md-input label-fixed future-date date", @disabled = "disabled" })
                                                        <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar future-date"></i></span>
                                                    </div>
                                                </div>
                                    }
                                </li>
                            </ul>
                        </div>
                        <div class="uk-width-1-1 tabHistory uk-hidden">
                            <ul class="uk-tab" data-uk-tab="{connect:'#tabs-modules-content',animation:'slide-horizontal'}" id="tabs-module">
                                <li class="uk-active" data-tab="history"><a>@AHCMS.History</a></li>
                            </ul>
                            @*<ul id="tabs-modules-content" class="uk-switcher uk-margin">
                                <li>*@
                            <div class="md-card">
                                <div class="md-card-content">
                                    <div class="section-group">
                                        <div id="history-list" class="uk-form-row">
                                            @Html.Partial("~/Areas/AHCMS/Views/PatientDiagnosis/History.cshtml", Model)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*</li>
                                </ul>*@
                        </div>
                        <div class="uk-width-1-1 HistoryDetails uk-hidden">
                            <div class="md-card">
                                <div class="md-card-content">
                                    <div class="section-group">
                                        <div id="history-details" class="uk-form-row">
                                            @Html.Partial("~/Areas/AHCMS/Views/PatientDiagnosis/HistoryDetails.cshtml", Model)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Areas/AHCMS/Views/PatientDiagnosis/AllMedicine.cshtml", Model)
@Html.Partial("~/Areas/AHCMS/Views/PatientDiagnosis/AddReport.cshtml", Model)
@Html.Partial("~/Areas/AHCMS/Views/PatientDiagnosis/AddTreatments.cshtml", Model)
@Html.Partial("~/Areas/AHCMS/Views/PatientDiagnosis/AddMedicine.cshtml")
@Html.Partial("~/Areas/Masters/Views/Item/TreatmentItemList.cshtml")
@Html.Partial("~/Areas/AHCMS/Views/PatientDiagnosis/AddLabTest.cshtml", Model)
@Html.Partial("~/Areas/Masters/Views/Employee/DoctorList.cshtml")
@Scripts.Render("~/Js/Page/Employee")
@Scripts.Render("~/Js/Page/Item")
@Scripts.Render("~/Js/Page/PatientDiagnosisV2")
<script type="text/javascript">
    PatientDiagnosis.init();
</script>
