@model TradeSuiteApp.Web.Areas.AHCMS.Models.PatientDiagnosisModel
@{
    ViewBag.Title = "Details For Print";
}
<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 54, media: 960 }">
        <div class="heading_title">
            <h1>@AHCMS.PrescriptionDetails</h1>
            <span class="uk-text-upper uk-text-small">Medicine And Treatment Print</span>
        </div>
        <div class="heading_actions">
                @ActionAuthorization.IsAuthorized("MedicinePrescriptionPrintPdf", " <a class='md-btn prescription_printpdf'>Prescription PDF</a>")
                @ActionAuthorization.IsAuthorized("TreatmentDetailsPrintPdf", " <a class='md-btn treatment_printpdf'>Treatment PDF</a>")

                @Html.ActionLink(Common.Back, "PrintList", "PatientDiagnosis", new { Area = "AHCMS" }, new { @class = "md-btn" })   
            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a>Print</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="page_content_inner" class="sales details-view">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                @{Html.RenderPartial("View", Model); }
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Js/Page/PatientDiagnosis")
@Scripts.Render("~/Js/Page/Item")
@Scripts.Render("~/Js/SignalR")
<script src="~/signalr/Hubs"></script>
<script type="text/javascript">
    PatientDiagnosis.init();
</script>
