@model TradeSuiteApp.Web.Areas.AHCMS.Models.PatientDiagnosisModel

@if (Model.QuestionnaireItems != null)
{
    List<string> Temp = new List<string>();
    var TempGroupName = "";
    var count = 0;
    int slNo = 1;
    foreach (var item in Model.QuestionnaireItems.Select((value, i) => new { i = (i + 1), value }))
    {
        if (item.value.Type == "Radio" || item.value.Type == "Text")
        {
            count += 1;
            if (TempGroupName == item.value.GroupName)
            {

                if (item.value.Type == "Radio")
                {

                    <input type="radio" name="@item.value.GroupName" class="questionnaire-Results casesheet_radio" data-md-icheck value="@item.value.Name" @(item.value.IsChecked == true ? "checked=\"checked\"" : "") /><label>@item.value.Name</label>
                }
                else
                {

                    <input type="text" name="@item.value.GroupName" class="a md-input label-fixed questionnaire-Results questionnaire_txt txt_box2" value="@item.value.Description" />
                }
            }
            else
            {
                TempGroupName = item.value.GroupName;

                @Html.Raw("<tr>")
                if (item.value.IsParent == true)
                {
                    @Html.Raw("<td class='uk-text-center'>")@slNo
                    slNo++;
                }
                else
                {
                    @Html.Raw("<td class='uk-text-center'>")

                }
                @Html.Raw("</td>")
                if (item.value.IsParent == true)
                {
                    @Html.Raw("<td class='width-70 Area groupname'>")
                    @item.value.GroupName
                }
                else
                {
                    @Html.Raw("<td class='width-70 Area groupname'>")
                    @item.value.GroupName
                }
                @Html.Raw("</td>")
                @Html.Raw("<td class='" + @item.value.GroupName + "'>")
                if (Model.QuestionnaireItems.Where(a => a.GroupName == TempGroupName).Count() != count)
                {
                    if (item.value.Type == "Radio")
                    {
                        <input type="radio" name="@item.value.GroupName" class="questionnaire-Results casesheet_radio" data-md-icheck value="@item.value.Name" @(item.value.IsChecked == true ? "checked=\"checked\"" : "") /> <label>@item.value.Name</label>
                    }
                    else
                    {
                        <input type="text" name="@item.value.GroupName" class="md-input label-fixed questionnaire-Results questionnaire_txt txt_box2" value="@item.value.Description" />
                    }


                }
                if (!Model.IsCompleted)
                {

                }
            }
            if (Model.QuestionnaireItems.Where(a => a.GroupName == TempGroupName).Count() == count)
            {
                count = 0;

                @Html.Raw("</td>")
                @Html.Raw("</tr>")
            }
        }

    }
}