

<div class="uk-modal" id="get-Invoice" aria-hidden="true" style="display: none; overflow-y: scroll;">
    <div class="uk-modal-dialog uk-modal-dialog" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">@Purchase.SelectInvoice <i class="material-icons" data-uk-tooltip="{pos:'top'}" title="headline tooltip"></i></h3>
        </div>
        <br />

        <table id="invoice-popup-list" class="uk-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="width-30">@Common.SerialNo</th>
                    <th class="width-20"></th>
                    <th class="width-40">@Purchase.InvoiceNo</th>
                    <th class="width-40">@Purchase.InvoiceDate</th>
                    <th class="width-40">@Purchase.GrossAmount</th>

                </tr>
            </thead>
            <thead class="search">
                <tr>

                    <th class="width-30">@Common.SerialNo</th>
                    <th class="width-20"></th>
                    <th class="width-40">@Purchase.InvoiceNo</th>
                    <th class="width-40">@Purchase.InvoiceDate</th>
                    <th class="width-40">@Purchase.GrossAmount</th>

                </tr>

            </thead>
            <tbody></tbody>
        </table>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-flat uk-modal-close" id="btnOkInvoiceList">Ok</button>
        </div>
    </div>
</div>




