@model List<TradeSuiteApp.Web.Areas.Purchase.Models.PurchaseOrderTransModel>


@if (Model != null && Model.Count() > 0)
{
    foreach (var poItem in Model.Select((value, i) => new { i = i + 1, value }))
    {
        var GSTPercentage = @poItem.value.GSTPercentage;
        <tr class="included">
            <td class="uk-text-center">@poItem.i </td>
            <td class="uk-text-center checked " data-md-icheck><input type="checkbox" class="chkCheck  include-item" checked /></td>

            <td>
                <input type="text" class="md-input ItemCode" value="@poItem.value.ItemCode" readonly />
            </td>
            <td class="ItemName">
                @poItem.value.Name
                <input type="hidden" class="hdnPOID" value="@poItem.value.PurchaseOrderID" />
                <input type="hidden" class="item-id" value="@poItem.value.ItemID" />
                <input type="hidden" class="purchase-order-trans-id" value="@poItem.value.ID" />
                <input type="hidden" class="UnitID" value="@poItem.value.UnitID" />
                @*<input type="hidden" class="Unit" value="@poItem.value.Unit" />*@
                <input type="hidden" class="PackSize" value="@poItem.value.PackSize" />
                <input type="hidden" id="@String.Format("hdnItemID{0}", poItem.i)" class="hdnItemID" />
                <input type="hidden" class="POTransID" value="@poItem.value.ID" />
                <input type="hidden" class="BatchID" value="0" />
                <input type="hidden" class="SGSTPercent" value="@poItem.value.SGSTPercent" />
                <input type="hidden" class="CGSTPercent" value="@poItem.value.CGSTPercent" />
                <input type="hidden" class="IGSTPercent" value="@poItem.value.IGSTPercent" />
                <input type="hidden" class="Toleranceper" value="@poItem.value.QtyTolerancePercent" />
                <input type="hidden" class="IsVat" value="@poItem.value.IsVat" />
                <input type="hidden" class="IsGST" value="@poItem.value.IsGST" />
                <input type="hidden" class="CurrencyID" value="@poItem.value.CurrencyID" />
            </td>
            <td>
                <input type="text" class="md-input PartsNumber" value="@poItem.value.PartsNumber" readonly />
            </td>
            <td>
                <input type="text" class="md-input Remark" value="@poItem.value.Remark" />
            </td>
            <td>
                <input type="text" class="md-input Model" value="@poItem.value.Model" readonly />
            </td>
            <td class="BinCode">@poItem.value.BinCode</td>
            <td class="PurchaseOrderNo">@poItem.value.PurchaseOrderNo</td>
            <td class="uk-hidden">
                <input type="text" class="md-input Unit" value="@poItem.value.Unit" readonly />
            </td>
            <td>
                <input type="text" class="md-input SecondaryUnit" value="@poItem.value.SecondaryUnit" readonly />
            </td>
            @*<td class="batch@(poItem.i)">
            <div class="uk-autocomplete" id="batch-autocomplete@(poItem.i)">

                @Html.TextBox("Batch", "", new { @class = "md-input label-fixed batch", id = "Batch" })
                <script type="text/autocomplete">
                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                        {{~items}}
                        <li data-value="{{ $item.BatchNo }}"
                            data-id="{{$item.ID}}"
                            data-purchase-rate="{{$item.PurchaseMRP}}"
                            data-mrp="{{$item.RetailMRP}}"
                            data-packsize="{{$item.PackSize}}"
                            data-UnitID="{{$item.UnitID}}"
                            data-Unit="{{$item.Unit}}"
                            data-expiry-date="{{$item.ExpiryDateStr}}">
                            <a>
                                {{ $item.BatchNo }}
                            </a>
                        </li>
                        {{/items}}
                    </ul>
                </script>
                @Html.Hidden("BatchID")
            </div>

        </td>*@
            <td class="uk-hidden">
                <input type="text" class="md-input uk-text-right poqty mask-sales2-currency" value="@poItem.value.PendingPOQty" readonly />
            </td>
            <td class="uk-hidden">
                <input type="text" class="md-input uk-text-right posecondaryqty mask-sales2-currency" value="@poItem.value.PendingPOSecondaryQty" readonly />
            </td>
            <td class="uk-hidden">
                <input type="text" class="md-input uk-text-right purchaserate @poItem.value.normalclass" value="@poItem.value.Rate" readonly />
            </td>
            <td>
                <input type="text" class="md-input uk-text-right secondarypurchaserate @poItem.value.normalclass" value="@poItem.value.SecondaryRate" readonly />
            </td>
            <td>
                <input type="text" class="md-input uk-text-right GrossAmount @poItem.value.normalclass" value="@poItem.value.GrossAmount" readonly />
            </td>
            <td class="uk-hidden">
                <input type="text" class="md-input uk-text-right receivedqty mask-sales2-currency" value="@poItem.value.PendingPOQty" />
            </td>
            <td>
                <input type="text" class="md-input uk-text-right receivedsecondaryqty mask-sales2-currency" value="@poItem.value.PendingPOSecondaryQty" />
                <input type="hidden" class="secondaryunitsize" value="@poItem.value.SecondaryUnitSize" />
            </td>
            <td class="uk-hidden">
                <input type="text" class="md-input uk-text-right offerQty mask-sales2-currency" value="" />
            </td>
            <td>
                <input type="text" class="md-input uk-text-right offerSecondaryQty mask-sales2-currency" value="" />
            </td>
            <td>
                <input type="text" class="md-input uk-text-right DiscountPercentage mask-sales2-currency" value="@poItem.value.DiscountPercent" />
                @*<select id="DiscountID" class="md-input label-fixed">
                <option value="0">Select</option>
                @foreach (var discount in poItem.value.DiscountList)
                {
                    <option @( poItem.value.DiscountID == discount.ID ? "selected='selected'" : "") value="@discount.ID" data-percent="@discount.DiscountPercentage">@discount.DiscountCategory</option>
                }
            </select>*@
            </td>

            <td>
                <input type="text" class="md-input uk-text-right discountAmt @poItem.value.normalclass" value="@poItem.value.Discount" />
            </td>
            @*<td>
            <select id="gstPercentage" class="md-input label-fixed">
                <option value="0">Select</option>
                @foreach (var gst in poItem.value.GSTPercentageList)
                {
                    <option @( poItem.value.GSTPercentage == gst.IGSTPercent ? "selected='selected'" : "") value="@gst.IGSTPercent" data-percent="@gst.IGSTPercent">@gst.IGSTPercent</option>
                }
            </select>
            @Html.DropDownList("gstPercentage", new SelectList(ViewBag.TaxPercentages, "IGSTPercentage", "GSTPercentage", @GSTPercentage), new { @class = "md-input uk-text uk-text-right gstPercentage" })
        </td>
        <td>
            <input type="text" class="md-input uk-text-right SGSTAmt mask-positive-currency" value="" />
        </td>

        <td>
            <input type="text" class="md-input uk-text-right CGSTAmt mask-positive-currency" value="" />
        </td>

        <td>
            <input type="text" class="md-input uk-text-right IGSTAmt mask-positive-currency" value="" />
        </td>*@

            <td>
                <input type="text" class="md-input uk-text-right VATPercentage mask-sales2-currency" value="@poItem.value.VATPercentage" />
            </td>

            <td>
                <input type="text" class="md-input uk-text-right VATAmount @poItem.value.normalclass" value="@poItem.value.VATAmount" />
            </td>
            <td>
                <input type="text" class="md-input uk-text-right TaxableAmount @poItem.value.normalclass" value="@poItem.value.TaxableAmount" readonly="readonly" />
            </td>
            <td>
                <input type="text" class="md-input uk-text-right netamount @poItem.value.normalclass" value="@poItem.value.NetAmount" readonly="readonly" />
            </td>
        </tr>
    }

    <input type="hidden" class="hiddenSuppOtherCharge" value="@ViewBag.SuppOtherCharges" />
    <input type="hidden" class="hiddenSuppDocAmount" value="@ViewBag.SuppDocAmount" />
    <input type="hidden" class="hiddenSuppShipAmount" value="@ViewBag.SuppShipAmount" />
}           