@model TradeSuiteApp.Web.Areas.Purchase.Models.GRNModel
@{
    ViewBag.Title = @Purchase.CreateNewGRN;
}
<div id="page_content">

    <div id="page_heading" data-uk-sticky="{ top: 54, media: 960 }">
        <div class="heading_title">
            <h1>@Purchase.GRNForStockItems</h1>
            <span class="uk-text-upper uk-text-small">@Purchase.CreateNewGRN</span>
        </div>
        <div class="heading_actions">
            @ActionAuthorization.IsAuthorized("Save", "<a class='md-btn save-generate-grn'>" + Common.Save + "</a>")
           @*   @ActionAuthorization.IsAuthorized("Save", "<a class='md-btn save-generate-grn-new'>" + Common.SaveAndNew + "</a>")*@
            @*<a class="md-btn save-grn-new">@Common.SaveAndNew</a>*@
            @Html.HiddenFor(m => m.IsBarCodeGenerator)
            @Html.ActionLink(Common.Close, "IndexV4", "GRN", new { Area = "Purchase" }, new { @class = "md-btn " })

            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a>Print</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="page_content_inner" class="form-view">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="section-group">
                    <div class="uk-form-row">
                        <div class="uk-grid" data-uk-grid-margin="">

                            <div class="uk-width-medium-8-10">
                                <div class="le ft-block">
                                    <div class="uk-form-row">
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-8">
                                                <label>@Purchase.GRNNo</label>
                                                @Html.TextBoxFor(m => m.GRNNo, new { @class = "md-input", @disabled = "disabled" })
                                            </div>
                                            @Html.Hidden("Date", @DateTime.Now.ToString("dd-MM-yyyy"))
                                            <div class="uk-width-medium-1-8">
                                                @*<div class="uk-input-group">*@
                                                <label for="uk_dp_start">@Purchase.GRNDate</label>
                                                <input type="text" class="md-input label-fixed " id="txtDate" value="@DateTime.Now.ToString("dd-MM-yyyy")" disabled />

                                                @*@Html.TextBox("",@DateTime.Now.ToString("dd-MM-yyyy"), new { @class = "md-input", @disabled = "disabled", id = "txtDate" })*@


                                                @*<input class="md-input label-fixed past-date date" type="text" id="txtDate" data-relaxation="-3" value="@DateTime.Now.ToString("dd-MM-yyyy") disabled">
                                                        <span class="uk-input-group-addon"><i data-relaxation="-3" class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                                    </div>*@
                                            </div>
                                            <div class="uk-width-medium-2-8">
                                                <div class="uk-autocomplete " id="supplier-autocomplete">
                                                    <div class="uk-input-group">
                                                        <label>@Purchase.Supplier</label>
                                                        @Html.TextBox("SupplierName", "", new { @class = "md-input label-fixed" })
                                                        <span class="uk-input-group-addon" data-uk-modal="{target:'#select-supplier',center:false}">
                                                            <i class="uk-input-group-icon uk-icon-search"></i>
                                                        </span>
                                                        <script type="text/autocomplete">
                                                            <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                                {{~items}}
                                                                <li data-value="{{ $item.Name }}"
                                                                    data-id="{{$item.ID}}"
                                                                    data-location="{{$item.Location}}"
                                                                    data-state-id="{{$item.StateID}}"
                                                                    data-is-gst-registered="{{$item.IsGSTRegistered}}">
                                                                    <a>
                                                                        {{ $item.Name }} ({{{ $item.Code }}})
                                                                        <div>{{{ $item.Location }}}</div>
                                                                    </a>
                                                                </li>
                                                                {{/items}}
                                                            </ul>
                                                        </script>
                                                    </div>
                                                </div>
                                                @Html.HiddenFor(m => m.SupplierID, new { @class = "md-input label-fixed" })
                                                @Html.Hidden("Code")
                                                @*@Html.Hidden("Date")*@
                                                @Html.HiddenFor(m => m.ShippingStateID)
                                                @Html.HiddenFor(m => m.StateID)
                                                @Html.HiddenFor(m => m.IsGSTRegistered)
                                                @Html.HiddenFor(m => m.PurchaseOrderDate)

                                                @Html.Hidden("ItemIDHidden")


                                            </div>


                                            <div class="uk-width-medium-1-8">
                                                <label>@Masters.BusinessCategory</label>
                                                @Html.DropDownListFor(Model => Model.BusinessCategoryID, new SelectList(Model.BusinessCategoryList, "Value", "Text"), new { @class = "md-input label-fixed" })
                                            </div>

                                            <div class="uk-width-medium-1-8 grn">
                                                <div class="uk-input-group">
                                                    <label>@Purchase.SelectPurchaseOrder</label>
                                                    <input type="text" class="md-input label-fixed" id="txt-purchase-order" />
                                                    <span class="uk-input-group-addon" data-uk-modal="{target:'#select_po',center:false }">
                                                        <i class="uk-input-group-icon uk-icon-search"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-8">
                                                <label>@Purchase.Location</label>
                                                @Html.DropDownListFor(Model => Model.WarehouseID, new SelectList(Model.WarehoueList, "ID", "Name"), "Select", new { @class = "md-input label-fixed", @id = "StoreID" })
                                            </div>




                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-2-10">
                                <div class="right-block">

                                    <div class="uk-form-row">
                                        <div class="uk-grid" data-uk-grid-margin="">

                                            <div class="uk-width-medium-1-1">
                                                <label>@Purchase.NetAmount</label>
                                                <input type="text" class="md-input label-fixed mask-currency x-large" id="NetAmt" value="0" disabled />
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="uk-form-row">
                        <div class="uk-grid" data-uk-grid-margin="">

                            <div class="uk-width-medium-8-10">
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin>


                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.ChallanNo</label>
                                            <input type="text" class="md-input label-fixed" id="invoice-number" />
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <div class="uk-input-group">
                                                <label for="uk_dp_start">@Purchase.ChallanDate</label>
                                                <input class="md-input label-fixed past-date date" type="text" id="invoice-date">
                                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar past-date"></i></span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-2-10 ">
                                            <div class="uk-autocomplete " id="item-autocomplete">
                                                <label>@Purchase.Item <span>*</span></label>
                                                <input type="text" id="ItemName" class="md-input label-fixed" />
                                                <span class="uk-input-group-addon">
                                                    <a data-uk-modal="{target:'#select-item',center:false} ">
                                                        <i class="uk-input-group-icon uk-icon-search"></i>
                                                    </a>
                                                </span>
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.Name }}"
                                                            data-id="{{$item.ID}}"
                                                            data-primary-unit="{{$item.Unit}}"
                                                            data-primary-unit-id="{{$item.UnitID}}"
                                                            data-purchase-unit="{{$item.PurchaseUnit}}"
                                                            data-purchase-unit-id="{{$item.PurchaseUnitID}}"
                                                            data-last-pr="{{$item.LastPR}}"
                                                            data-lowest-pr="{{$item.LowestPR}}"
                                                            data-pending-order-qty="{{$item.PendingOrderQty}}"
                                                            data-qty-with-qc="{{$item.QtyUnderQC}}"
                                                            data-qty-available="{{$item.QtyAvailable}}"
                                                            data-Item-Category="{{$item.FGCategoryID}}"
                                                            data-gst-percentage="{{$item.GSTPercentage}}">
                                                            <a>
                                                                {{ $item.Name }}
                                                                <div>{{$item.Code}}({{$item.Unit}})</div>
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                            </div>
                                            @Html.Hidden("ItemID")
                                            @Html.Hidden("LastPr")
                                            @Html.Hidden("LowestPr")
                                            @Html.Hidden("PendingOrderQty")
                                            @Html.Hidden("QtyWithQc")
                                            @Html.Hidden("QtyAvailable")
                                            @Html.Hidden("GSTPercentage")
                                            @Html.Hidden("CategoryID")
                                            @Html.Hidden("PrimaryUnit")
                                            @Html.Hidden("PrimaryUnitID")
                                            @Html.Hidden("PurchaseUnit")
                                            @Html.Hidden("PurchaseUnitID")
                                        </div>
                                        <input type="hidden" value="stock" id="type" />
                                        <div class="uk-width-medium-1-10">
                                            <label>@Sales.Unit </label>
                                            @Html.DropDownListFor(Model => Model.UnitID, Model.UnitList, "Select", new { @class = "md-input label-fixed" })
                                        </div>
                                        <div class="uk-width-medium-1-10">
                                            <label>@Purchase.Batch <span>*</span></label>
                                            @*<input type="text" id="BatchList" class="md-input label-fixed " />*@
                                            <div class="uk-autocomplete" id="txtbatch-autocomplete">

                                                @Html.TextBox("Batch", "", new { @class = "md-input label-fixed txtbatch", id = "txtBatch" })
                                                <script type="text/autocomplete">
                                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                        {{~items}}
                                                        <li data-value="{{ $item.BatchNo }}"
                                                            data-id="{{$item.ID}}"
                                                            data-purchase-rate="{{$item.PurchaseMRP}}"
                                                            data-mrp="{{$item.RetailMRP}}"
                                                            data-packsize="{{$item.PackSize}}"
                                                            data-UnitID="{{$item.UnitID}}"
                                                            data-Unit="{{$item.Unit}}"
                                                            data-expiry-date="{{$item.ExpiryDateStr}}">
                                                            <a>
                                                                {{ $item.BatchNo }}
                                                            </a>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </script>
                                                @Html.Hidden("txtBatchID")
                                                @Html.Hidden("MRP")
                                                @Html.Hidden("Rate")

                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-10">
                                            <label>@Purchase.Qty <span>*</span></label>
                                            <input type="text" id="Qty" class="md-input label-fixed mask-currency" />
                                        </div>
 
                                        <div class="uk-width-medium-1-10">
                                            <div class="md-input-wrapper md-input-filled">
                                                <label>&nbsp;</label>
                                                <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="btnAddProduct">@Common.Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



        <div class="uk-form-row">
            <div class="uk-grid" data-uk-grid-margin="">

                <div class="uk-width-medium-8-10">
                    <div class="uk-form-row">
                        <div class="uk-grid" data-uk-grid-margin>

                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.SGST</label>
                                            <input type="text" class="md-input label-fixed mask-currency" id="SGSTAmt" value="0" />
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.CGST</label>
                                            <input type="text" class="md-input label-fixed mask-currency" id="CGSTAmt" value="0" />
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.IGST</label>
                                            <input type="text" class="md-input label-fixed mask-currency" id="IGSTAmt" value="0" />
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.Discount</label>
                                            <input type="text" class="md-input label-fixed mask-currency" id="DiscountAmt" value="0" />
                                        </div>
                                        @*<div class="uk-width-medium-1-8">
                                            <label>@Purchase.SGST</label>
                                            <input type="text" class="md-input label-fixed mask-currency" id="SGSTAmt" value="0" />
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.CGST</label>
                                            <input type="text" class="md-input label-fixed mask-currency" id="CGSTAmt" value="0" />
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.IGST</label>
                                            <input type="text" class="md-input label-fixed mask-currency" id="IGSTAmt" value="0" />
                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.Discount</label>
                                            <input type="text" class="md-input label-fixed mask-currency" id="DiscountAmt" value="0" disabled />

                                        </div>*@
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.GrossAmount</label>
                                            <input type="text" class="md-input label-fixed mask-currency" id="GrossAmt" value="0" disabled />

                                        </div>
                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.RoundOff</label>
                                            <input type="text" class="md-input label-fixed mask-currency" id="RoundOff" value="0"/>
                                        </div>

                                        <div class="uk-width-medium-1-8">
                                            <label>@Purchase.DiscountPercentage</label>
                                            <select id="DiscountPercent" class="md-input label-fixed">
                                                <option value="0">Select</option>
                                                @foreach (var discount in Model.DiscountList)
                                                {
                                                    <option @( Model.DiscountID == discount.ID ? "selected='selected'" : "") value="@discount.ID" data-percent="@discount.DiscountPercentage">@discount.DiscountCategory</option>
                                                }
                                            </select>
                                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





                <div class="section-group">
                    <div class="uk-form-row">
                        <table id="grn-items-list" class="uk-table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="width-10">@Common.SerialNo</th>
                                    <th class="width-10"></th>
                                    <th class="width-250">@Purchase.ItemName</th>
                                    <th class="width-150">@Purchase.Unit</th>
                                    <th class="width-80">@Purchase.Batch</th>
                                    <th class="width-60">@Purchase.POQty</th>
                                    <th class="width-60">@Purchase.PurchaseRate</th>
                                    <th class="width-60">@Purchase.MRP</th>
                                    <th class="width-40">@Purchase.ReceivedQty</th>
                                    <th class="width-40">@Purchase.OfferQty</th>
                                    <th class="width-40 ">@Purchase.DiscountPer</th>
                                    <th class="width-40 ">@Purchase.Discount</th>
                                    <th class="width-60">@Purchase.GSTper</th>
                                    <th class="width-60">@Purchase.SGSTAmt</th>
                                    <th class="width-60">@Purchase.SGSTAmt</th>
                                    <th class="width-60">@Purchase.IGSTAmt</th>
                                    <th class="width-40 ">@Purchase.LooseQty</th>
                                    <th class="width-80">@Purchase.ExpDate</th>
                                    <th class="width-60">@Purchase.Remarks</th>
                                </tr>
                            </thead>
                            <tbody class="tbody"></tbody>
                        </table>
                        <input type="hidden" id="item-count" value="0" />
                        <input type="hidden" id="invoice-count" value="0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-modal " id="select_po" aria-hidden="true" style="display: none; overflow-y: scroll;">
    <div class="uk-modal-dialog " style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Select Purchase Order <i class="material-icons" data-uk-tooltip="{pos:'top'}" title="headline tooltip"></i></h3>
        </div>
        <table id="purchase-order-list" class="uk-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="width-10">@Common.SerialNo</th>
                    <th class="width-10"></th>
                    <th class="width-40">@Purchase.TransNo</th>
                    <th class="width-250">@Purchase.PODate</th>
                    <th class="width-250">@Purchase.Supplier</th>
                    <th class="width-250">@Purchase.RequestedBy</th>
                    <th class="width-40">@Purchase.NetAmount</th>


                </tr>
            </thead>
            <thead class="search">
                <tr>
                    <th class="width-10">@Common.SerialNo</th>
                    <th class="width-10"></th>
                    <th class="width-40">@Purchase.TransNo</th>
                    <th class="width-250">@Purchase.PODate</th>
                    <th class="width-250">@Purchase.Supplier</th>
                    <th class="width-250">@Purchase.RequestedBy</th>
                    <th class="width-40">@Purchase.NetAmount</th>


                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-primary uk-modal-close" id="btnOKPurchaseOrders">Ok</button>

        </div>
    </div>
</div>
@Html.Partial("~/Areas/Masters/Views/Supplier/PartialList.cshtml")
@Html.Partial("~/Areas/Purchase/Views/GRN/_batchWithStock.cshtml")
@Html.Partial("~/Areas/Purchase/Views/GRN/_createbatch.cshtml",Model)
@Html.Partial("~/Areas/Purchase/Views/GRN/QRCodeGenerate.cshtml")
@Html.Partial("~/Areas/Purchase/Views/GRN/QRCodeGenerate.cshtml")
@Html.Partial("~/Areas/Purchase/Views/GRN/BarCodeGenerate.cshtml")
@Html.Partial("~/Areas/Purchase/Views/GRN/_getItemDetails.cshtml")
@Html.Partial("~/Areas/Masters/Views/Item/ItemList.cshtml")
@Scripts.Render("~/Js/Page/GRNV4")
@Scripts.Render("~/Js/Page/Supplier")
@Scripts.Render("~/Js/Page/Item")
<script type="text/javascript">
    GRN.init();
</script>