
@{
    ViewBag.Title = "Contact List";
}


<div class="uk-modal" id="select-Contact" aria-hidden="true" >
    <div class="uk-modal-dialog uk-modal-dialog-large" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">@Masters.SelectContact<i class="material-icons"></i></h3>
        </div>
        <table id="contact-list" width="100%" class="uk-table" cellspacing="0">
            <thead>
                <tr>
                    <th class="width-30">@Common.SerialNo</th>
                    <th class="width-30"></th>
                    <th class="width-60">@Masters.FirstName</th>
                    <th class="width-60">@Masters.LastName</th>
                    <th class="width-60">@Masters.Phone</th>
                    <th class="width-80">@Masters.AlternateNo</th>
                    <th class="width-80">@Masters.Designation</th>
                    @*<th class="width-80">@Masters.Company</th>*@
                    <th class="width-80">@Masters.Email</th>
                </tr>
                </tr>
            </thead>
            <thead class="search">
                <tr>
                    <th>@Common.SerialNo</th>
                    <th></th>
                    <th>@Masters.FirstName</th>
                    <th>@Masters.LastName</th>
                    <th>@Masters.Phone</th>
                    <th>@Masters.AlternateNo</th>
                    <th>@Masters.Designation</th>
                    @*<th>@Masters.Company</th>*@
                    <th>@Masters.Email</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-primary uk-modal-close" id="btnOKContact">Ok</button>
        </div>
    </div>
</div>


