

@{
    ViewBag.Title = "PartialView";
}


<div class="uk-modal" id="select-packing-material" aria-hidden="true" style="display: none; overflow-y: scroll;">
    <div class="uk-modal-dialog" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">@Manufacturing.SelectPackingMaterialAndFinishedGoods<i class="material-icons" data-uk-tooltip="{pos:'top'}" title="headline tooltip"></i></h3>
        </div>
        <table id="packing-material-list" class="uk-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="width-20">@Common.SerialNo</th>
                    <th class="width-10"></th>
                    <th class="width-40">@Manufacturing.Code</th>
                    <th>@Manufacturing.ItemName</th>
                    <th class="width-40">@Manufacturing.Unit</th>
                    <th class="width-80">@Manufacturing.Category</th>
                </tr>
            </thead>
            <thead class="search">
                <tr>
                    <th>@Common.SerialNo</th>
                    <th></th>
                    <th>@Manufacturing.Code</th>
                    <th>@Manufacturing.ProductionGroup</th>
                    <th>@Manufacturing.Unit</th>
                    <th>@Manufacturing.Category</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-primary uk-modal-close" id="btnOKPackingMaterial">Ok</button>
        </div>
    </div>
</div>


