<div class="uk-modal" id="select-preprocess-issue-item" aria-hidden="true" style="display: none; overflow-y: scroll;">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">@Manufacturing.Item<i class="material-icons" data-uk-tooltip="{pos:'top'}" title="headline tooltip"></i></h3>
        </div>
        <table id="preprocess-item-list" class="uk-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="width-40">@Common.SerialNo</th>
                    <th class="width-10"></th>
                    <th class="width-60">@Manufacturing.ItemCode</th>
                    <th>@Manufacturing.IssuedItem</th>
                    <th class="width-60">@Manufacturing.UOM</th>
                    <th class="width-100">@Manufacturing.Category</th>
                    <th class="width-100">@Manufacturing.Activity</th>
                </tr>
            </thead>
            <thead class="search">
                <tr>
                    <th>@Common.SerialNo</th>
                    <th></th>
                    <th class="width-30">@Manufacturing.ItemCode</th>
                    <th>@Manufacturing.IssuedItem</th>
                    <th>@Manufacturing.UOM</th>
                    <th>@Manufacturing.Category</th>
                    <th>@Manufacturing.Activity</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-primary uk-modal-close" id="btnOKPreProcessIssueItem">Ok</button>
        </div>
    </div>
</div>