

<div class="uk-modal" id="select-material-item" aria-hidden="true">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">@Masters.SelectItems<i class="material-icons" data-uk-tooltip="{pos:'top'}" title="headline tooltip"></i></h3>
        </div>
        <table id="material-item-list" class="uk-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="width-30">@Common.SerialNo</th>
                    <th class="width-10"></th>
                    <th class="width-60">@Masters.Code</th>
                    <th class="">@Masters.ItemName</th>
                    <th class="width-200">@Masters.ItemCategory</th>
                </tr>
            </thead>
            <thead class="search">
                <tr>
                    <th>@Common.SerialNo</th>
                    <th></th>
                    <th>@Masters.Code</th>
                    <th>@Masters.ItemName</th>
                    <th>@Masters.ItemCategory</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-primary uk-modal-close" id="btnOKMaterial">Ok</button>
        </div>
    </div>
</div>




