@model TradeSuiteApp.Web.Areas.AHCMS.Models.PatientDiagnosisModel
<div class="section-group">
    <div class="uk-form-row">
        <div class="uk-width-medium-1-1">
            <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-medium-1-2">
                    <label>@AHCMS.Question</label>
                  @Html.DropDownListFor(Model => Model.QuestionID, Model.QuestionnaireList, "Select", new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-medium-1-3">
                    <label>Answer<span>*</span></label>
                    @Html.TextBoxFor(m => m.Answer, new { @class = "md-input label-fixed" })
                    @*@Html.DropDownListFor(Model => Model.StoreID, Model.StoreList, "Select", new { @class = "md-input label-fixed" })*@
                </div>
                <div class="uk-width-medium-1-10">
                    <div class="md-input-wrapper md-input-filled">
                        <label>&nbsp;</label>
                        <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="btnAdd">@Common.Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-form-row">
    <div>
        <table id="questionnaire-list" class="uk-table" cellspacing="0">
            <thead>
                <tr>
                    <th class="width-10">@Common.SerialNo</th>
                    <th >@AHCMS.Question</th>
                    <th  class="width-120">Answer</th>
                    <th class="width-10"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
