@model TradeSuiteApp.Web.Areas.Accounts.Models.AdvanceRequestModel
@{
    ViewBag.Title = "Create Advance Request";
}
<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 54, media: 960 }">
        <div class="heading_title">
            <h1>@Accounts.AdvanceRequestTitle</h1>
            <span class="uk-text-upper uk-text-small">@Accounts.AdvanceRequestCreate</span>
        </div>
        <div class="heading_actions">
            @ActionAuthorization.IsAuthorized("Create", "<a class='md-btn btnSaveAndPost'>" + Common.Save + "</a>")

            @Html.ActionLink(Common.Close, "Index", "AdvanceRequest", new { Area = "Accounts" }, new { @class = "md-btn " })

            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a>Print</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="page_content_inner" class="form-view">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="section-group">
                    <div class="uk-form-row">
                        <div class="uk-grid" data-uk-grid-margin="">
                            <div class="uk-width-medium-6-10">
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-2-8">
                                            <label>@Accounts.AdvanceRequestNo</label>
                                            @Html.TextBoxFor(m => m.AdvanceRequestNo, new { @class = "md-input label-fixed", disabled = "disabled" })
                                        </div>
                                        <div class="uk-width-medium-2-8">
                                            <div class="uk-input-group">
                                                <label>@Accounts.AdvanceRequestDate</label>
                                                @Html.TextBoxFor(m => m.AdvanceRequestDate, new { @class = "md-input label-fixed  current-date date", disabled = "disabled" })
                                                <span class="uk-input-group-addon"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-4-10">
                                <div class="uk-form-row">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper md-input-filled">
                                                <label>@Purchase.SelectedQuotation</label>
                                                <div class="uk-form-file v1">
                                                    <label id="selected-quotation">
                                                    </label>
                                                    <label for="select-quotation" class="upload-btn md-btn md-btn-flat md-btn-wave waves-effect waves-button text-capitalize">
                                                        <i class="uk-icon-upload"></i>
                                                    </label>
                                                    <input id="select-quotation" type="file" tabindex="-1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label>Total Amount</label>
                                            @Html.TextBoxFor(model => model.TotalAmount, new { @id = "TotalAmount", @class = "md-input label-fixed mask-currency x-large", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-2-10">
                                <div class="uk-autocomplete " id="employee-autocomplete">
                                    <div class="uk-input-group">
                                        <label for="uk_dp_start">@Accounts.Employee<span>*</span></label>
                                        @Html.TextBoxFor(m => m.EmployeeName, new { @class = "md-input label-fixed" })
                                        <span class="uk-input-group-addon">
                                            <a data-uk-modal="{target:'#select-employee',center:false}">
                                                <i class="uk-input-group-icon uk-icon-search"></i>
                                            </a>
                                        </span>
                                        <script type="text/autocomplete">
                                            <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                {{~items}}
                                                <li data-value="{{ $item.Name}}"
                                                    data-id="{{$item.ID}}"
                                                    data-EmployeeCode="{{$item.Code}}"
                                                    data-placement="{{$item.Location}}">
                                                    <a>
                                                        {{ $item.Name }}
                                                        <div>{{ $item.Code }}</div>
                                                    </a>
                                                </li>
                                                {{/items}}
                                            </ul>
                                        </script>
                                    </div>
                                </div>
                                @Html.Hidden("EmployeeID")
                            </div>
                            <div class="uk-width-medium-1-10 ">
                                <label>AdvanceCategory<span>*</span></label>
                                @Html.DropDownListFor(Model => Model.AdvanceCategory, Model.AdvanceCategoryList, "Select", new { @class = "md-input label-fixed", @id = "AdvanceCategory" })
                            </div>
                            @*<div class="uk-width-medium-2-10">
                                <div class="uk-autocomplete " id="item-autocomplete">
                                    <label>@Purchase.Item <span>*</span></label>
                                    <input type="text" id="ItemName" class="md-input label-fixed" />
                                    <script type="text/autocomplete">
                                        <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                            {{~items}}
                                            <li data-value="{{ $item.Name }}"
                                                data-id="{{$item.ID}}">
                                                <a>
                                                    {{ $item.Name }}
                                                    <div>{{$item.Code}}</div>
                                                </a>
                                            </li>
                                            {{/items}}
                                        </ul>
                                    </script>
                                </div>
                                @Html.Hidden("ItemID")
                            </div>*@
                            <div class="uk-width-medium-2-10">
                                <div class="uk-autocomplete " id="item-autocomplete">
                                    <label>@Purchase.Item <span>*</span></label>
                                    <input type="text" id="ItemName" class="md-input label-fixed" />
                                    <span class="uk-input-group-addon">
                                        <a data-uk-modal="{target:'#select-item',center:false}">
                                            <i class="uk-input-group-icon uk-icon-search"></i>
                                        </a>
                                    </span>
                                    <script type="text/autocomplete">
                                        <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                            {{~items}}
                                            <li data-value="{{ $item.Name }}"
                                                data-id="{{$item.ID}}"
                                                data-code="{{$item.Code}}"
                                                data-name="{{$item.Name}}">
                                                <a>
                                                    {{ $item.Name }}
                                                    <div>{{$item.Code}}</div>
                                                </a>
                                            </li>
                                            {{/items}}
                                        </ul>
                                    </script>
                                </div>
                                @Html.Hidden("ItemID")
                            </div>
                            <div class="uk-width-medium-1-10">
                                <label>@Accounts.Amount<span>*</span></label>
                                @Html.TextBoxFor(m => m.Amount, new { @class = "md-input label-fixed mask-currency" })
                            </div>
                            <div class="uk-width-medium-1-10">
                                <div class="uk-input-group">
                                    <label>@Accounts.ExpectedDate<span>*</span></label>
                                    @Html.TextBoxFor(m => m.ExpectedDate, new { @class = "md-input label-fixed future-date date" })
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon  uk-icon-calendar future-date  "></i></span>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-10">
                                <label for="uk_dp_start">@Accounts.Remarks</label>
                                @Html.TextBoxFor(m => m.Remarks, new { @class = "md-input label-fixed" })
                            </div>
                            <div class="uk-width-medium-1-10">
                                <div class="md-input-wrapper md-input-filled">
                                    <label>&nbsp;</label>
                                    <button class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" id="btnAddRequest">@Common.Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-group">
                    <table id="advance-request-item-list" class="uk-table" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="width-10">@Common.SerialNo</th>
                                <th class="width-10"></th>
                                <th class="width-10">@Accounts.Employee</th>
                                <th class="width-250">@Accounts.ItemName</th>
                                <th class="width-40">@Accounts.Amount</th>
                                <th class="width-40">@Accounts.ExpectedDate</th>
                                <th class="width-120">@Accounts.Remarks</th>
                            </tr>
                        </thead>
                        <tbody class="prTbody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Areas/Masters/Views/Employee/PartialList.cshtml")
@Html.Partial("~/Areas/Masters/Views/Item/OfficalAdvanceItemList.cshtml")
@Scripts.Render("~/Js/Page/AdvanceRequest")
@Scripts.Render("~/Js/Page/Item")
@Scripts.Render("~/Js/Page/Employee")
<script type="text/javascript">
    advance_request.init();
</script>