@model IEnumerable<TradeSuiteApp.Web.Areas.Stock.Models.StockConsumptionModel>
@{
    ViewBag.Title = "Index";
}
<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 54, media: 960 }">
        <div class="heading_title">
            <h1>@Stock.StockConsumption</h1>
            <span class="uk-text-upper uk-text-small">@Stock.StockConsumptionList</span>
        </div>
        <div class="heading_actions">
            @ActionAuthorization.IsAuthorized("Create", Html.ActionLink(Common.Create, "Create", "StockConsumption", new { Area = "Stock" }, new { @class = "md-btn" }))

            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a>Print</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="page_content_inner" class="list-view">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <ul class="uk-tab hai" data-uk-tab="{connect:'#tabs-stock-consumption',animation:'slide-horizontal'}" id="tabs-StockConsumption">
                    <li class="uk-active" data-tab="draft"><a>@Stock.Draft</a></li>
                    <li class="" data-tab="stock-consumption"><a>@Stock.SavedStockConsumption</a></li>
                </ul>
                <ul id="tabs-stock-consumption" class="uk-switcher uk-margin">
                    <li>
                    <table id="draft-list" class="uk-table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="width-20">
                                    @Common.SerialNo
                                </th>
                                <th class="width-80">
                                    @Stock.TransNo
                                </th>
                                <th class="width-80">
                                    @Stock.TransDate
                                </th>
                                <th class="width-100">
                                    @Stock.Store
                                </th>
                                <th>
                                    @Stock.ItemName
                                </th>
                                <th class="width-150">
                                    @Stock.SalesCategory
                                </th>

                            </tr>
                        </thead>
                        <thead class="search">
                            <tr>
                                <th>
                                    @Common.SerialNo
                                </th>
                                <th>
                                    @Stock.TransNo
                                </th>
                                <th>
                                    @Stock.TransDate
                                </th>
                                <th>
                                    @Stock.Store
                                </th>
                                <th>
                                    @Stock.ItemName
                                </th>
                                <th>
                                    @Stock.SalesCategory
                                </th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                        </li>
                    <li>
                        <table id="stock-consumption-list" class="uk-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="width-20">
                                        @Common.SerialNo
                                    </th>
                                    <th class="width-80">
                                        @Stock.TransNo
                                    </th>
                                    <th class="width-80">
                                        @Stock.TransDate
                                    </th>
                                    <th class="width-100">
                                        @Stock.Store
                                    </th>
                                    <th>
                                        @Stock.ItemName
                                    </th>
                                    <th class="width-150">
                                        @Stock.SalesCategory
                                    </th>

                                </tr>
                            </thead>
                            <thead class="search">
                                <tr>
                                    <th>
                                        @Common.SerialNo
                                    </th>
                                    <th>
                                        @Stock.TransNo
                                    </th>
                                    <th>
                                        @Stock.TransDate
                                    </th>
                                    <th>
                                        @Stock.Store
                                    </th>
                                    <th>
                                        @Stock.ItemName
                                    </th>
                                    <th>
                                        @Stock.SalesCategory
                                    </th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </li>
                    </ul>
</div>
        </div>
    </div>
</div>

@Scripts.Render("~/Js/Page/StockConsumption")
<script type="text/javascript">
    stockconsumption.list();
</script>
