<div class="uk-modal" id="select-location" aria-hidden="true">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">@Masters.SelectLocation<i class="material-icons" data-uk-tooltip="{pos:'top'}" title="headline tooltip"></i></h3>
        </div>
        <table id="location-list" class="uk-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="width-30 ">@Common.SerialNo</th>
                    <th class="width-30"></th>
                    <th class="width-60">@Masters.Location</th>
                    <th  class="width-60">@Masters.Country</th>
                    <th class="width-60">@Masters.Currency</th>
                </tr>
            </thead>
            <thead class="search uk-text-center">
                <tr>
                    <th>@Common.SerialNo</th>
                    <th></th>
                    <th>@Masters.Location</th>
                    <th>@Masters.Country</th>
                    <th>@Masters.Currency</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-primary uk-modal-close" id="btnAddCurrencyLocation">Add</button>
        </div>
    </div>
</div>



