<input type="button" id="show-batch-edit" data-uk-modal="{target:'#batch-edit', center:false}" />
<div class="uk-modal" id="batch-edit" aria-hidden="true" style="display: none; overflow-y: scroll;">
    <div class="uk-modal-dialog" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">View / Edit Batches<i class="material-icons"></i></h3>
        </div>
        <div class="uk-modal-content">
            <div class="uk-form-row">
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-6-10">
                        <label>@Stock.ItemName</label>
                        <input type="text" class="md-input" readonly id="BatchItemName" />
                        <input type="hidden" id="BatchItemID" />
                        <input type="hidden" id="BatchUnitID" />
                        <input type="hidden" id="MaximumSalesQty" />
                        <input type="hidden" id="MinimumSalesQty" />
                    </div>
                    <div class="uk-width-medium-2-10">
                        <label>@Stock.Unit</label>
                        <input type="text" class="md-input" readonly id="BatchUnit" />
                    </div>
                    <div class="uk-width-medium-2-10">
                        <label>@Stock.Quantity</label>
                        <input type="text" class="md-input mask-numeric" readonly id="BatchQty" />
                    </div>
                </div>
            </div>
            <div class="uk-form-row">
                <table id="batch-list" class="uk-table">
                    <thead>
                        <tr>
                            <th>@Common.SerialNo</th>
                            <th>@Sales.Batch</th>
                            <th>@Sales.Stock</th>
                            <th>@Sales.Rate</th>
                            <th class="width-80">@Sales.ExpiryDate</th>
                            <th>@Sales.Qty</th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-primary" id="btnOkBatches">Ok</button>
        </div>
    </div>
</div>
