@{
    ViewBag.Title = AHCMS.IPCaseSheetList;
}
<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 54, media: 960 }">
        <div class="heading_title">
            <h1>@AHCMS.IPCaseSheet</h1>
            <span class="uk-text-upper uk-text-small">@AHCMS.IPCaseSheetList</span>
        </div>
        <div class="heading_actions">
            @*@ActionAuthorization.IsAuthorized("Create", Html.ActionLink(Common.Create, "Create", "Diagnosis", new { Area = "Masters" }, new { @class = "md-btn" }))*@

            <div data-uk-dropdown>
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a>Print</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="page_content_inner" class="list-view">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <ul class="uk-tab hai" data-uk-tab="{connect:'#tabs-iplist-content',animation:'slide-horizontal'}" id="tabs-iplist">
                    <li class="uk-active" data-tab="IPPatient"><a>@AHCMS.IPPatient</a></li>
                    <li data-tab="DischargeAdvicedPatients"><a>@AHCMS.DischargeAdvicedPatients</a></li>
                    <li data-tab="DischargedPatients"><a>@AHCMS.DischargedPatients</a></li>
                </ul>
                <ul id="tabs-iplist-content" class="uk-switcher uk-margin">
                    <li>
                        <table class="uk-table" id="ip-list" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="width-20">@Common.SerialNo</th>
                                    <th class="width-100">@AHCMS.Date</th>
                                    <th class="width-50">@AHCMS.HIN</th>
                                    <th>@AHCMS.Patient</th>

                                </tr>
                            </thead>
                            <thead class="search">
                                <tr>
                                    <th class="width-20">@Common.SerialNo</th>
                                    <th>@AHCMS.Date</th>
                                    <th>@AHCMS.HIN</th>
                                    <th>@AHCMS.Patient</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </li>
                    <li>
                        <table class="uk-table" id="dischargeadviced-list" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="width-20">@Common.SerialNo</th>
                                    <th class="width-100">@AHCMS.Date</th>
                                    <th class="width-50">@AHCMS.HIN</th>
                                    <th>@AHCMS.Patient</th>

                                </tr>
                            </thead>
                            <thead class="search">
                                <tr>
                                    <th class="width-20">@Common.SerialNo</th>
                                    <th>@AHCMS.Date</th>
                                    <th>@AHCMS.HIN</th>
                                    <th>@AHCMS.Patient</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </li>
                    <li>
                        <table class="uk-table" id="discharge-list" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="width-20">@Common.SerialNo</th>
                                    <th class="width-100">@AHCMS.Date</th>
                                    <th class="width-50">@AHCMS.HIN</th>
                                    <th>@AHCMS.Patient</th>

                                </tr>
                            </thead>
                            <thead class="search">
                                <tr>
                                    <th class="width-20">@Common.SerialNo</th>
                                    <th>@AHCMS.Date</th>
                                    <th>@AHCMS.HIN</th>
                                    <th>@AHCMS.Patient</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Js/Page/IPCaseSheetV2")
<script type="text/javascript">
    IPCaseSheet.list();
</script>





