
@{
    ViewBag.Title = "PartialView";
}


<div class="uk-modal" id="select-doctor" aria-hidden="true">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">@Masters.SelectDoctor<i class="material-icons"></i></h3>
        </div>
        <table id="doctor-list" width="100%" class="uk-table" cellspacing="0">
            <thead>
                <tr>
                    <th class="width-60">@Common.SerialNo</th>
                    <th class="width-30"></th>
                    <th class="width-100">@Masters.Code</th>
                    <th>@Masters.Name</th>
                </tr>

            </thead>
            <thead class="search">
                <tr>
                    <th class="width-60">@Common.SerialNo</th>
                    <th class="width-30"></th>
                    <th class="width-100">@Masters.Code</th>
                    <th>@Masters.Name</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-primary uk-modal-close" id="btnOKDoctor">Ok</button>
        </div>
    </div>
</div>


